{% extends "shared/base.html" %}
{% load static %}

{% block bodyClass %}library sidebar-no-start{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="dashboard" home_link=False %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">
    <div class="row">
        <div class="col-md-auto">
            <h1>Dashboard</h1>
        </div>
        <div class="col"></div>
        {% if periods.count > 1 %}
        {% include "shared/partial/period_selector.html" with target='dashboard' %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-4 box-mascot-tipped-offset">
            <div class="row">
                {% if panels.cta %}
                <div class="col-md-6 col-lg-12">
                    {% include "pages/partial/dashboard_panel_cta.html" with data=data.cta %}
                </div>
                {% endif %}
                {% if panels.affect %}
                    <div class="col-md-6 col-lg-12">
                    {% include "pages/partial/dashboard_panel_affect.html" with data=data.affect %}
                    </div>
                {% endif %}
                {% if panels.class_affect %}
                    <div class="col-md-6 col-lg-12">
                        {% include "pages/partial/dashboard_panel_class_affect.html" with data=data.class_affect %}
                    </div>
                {% endif %}
                {% if panels.star_results %}
                    <div class="col-md-6 col-lg-12">
                    {% include "pages/partial/dashboard_panel_star_rating_results.html" with data=data.star_results %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-8 pt-1 mt-1 pt-lg-0 mt-lg-0">
            {% if panels.getting_started %}
                {% include "pages/partial/dashboard_panel_getting_started.html" with data=data.getting_started %}
            {% endif %}
            {% if panels.recent_reads %}
                {% include "pages/partial/dashboard_panel_recent_reads.html" with data=data.recent_reads %}
            {% endif %}
            {% if panels.popular_reads %}
                {% include "pages/partial/dashboard_panel_popular_reads.html" with data=data.popular_reads %}
            {% endif %}
        </div>
    </div>

    {% if panels.student_activity %}
    <div class="row pt-1">
        {% include "pages/partial/dashboard_panel_student_activity.html" with data=data.student_activity %}
    </div>
    {% endif %}

</div>
{% include "shared/partial/modal_vocab_check.html" %}
{% include "shared/partial/popover_tip.html" %}
{% endblock %}
