{% extends "shared/base.html" %}
{% load static %}

{% block bodyClass %}library{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="dashboard" home_link=False %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card card-login">
            <div class="card-body">
                <h2>Welcome!</h2>
                <p>New to Clusive?</p>
                <ul>
                    <li>Check out Clues to Clusive to get an overview of features you can use!</li>
                    <li>Or, dive into the
                        <a href="{% url 'reader_index' %}">Library</a>,
                        to find something to read.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-login">
            <div class="card-body">
                <h2>Last reads</h2>
                <ul>
                    {% for para in last_reads %}
                    <li><a href="{% url 'reader_default' book_id=para.book.pk %}">{{para.book.title}}</a> ({{para.last_view}})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
