{% extends "shared/base.html" %}

{% block title %}Debug Page{% endblock %}

{% block header %}
<h1>Debug</h1>
{% endblock %}

{% block content %}
Welcome to debug!
<table id="debug-table">
<tbody>
<tr>
    <th id="th-event_id">Page Event Id</th>
    <th id="th_type">Type</th>
</tr>
</tbody>
</table>
<script>
    var lastQueues = {
        "clusive.messageQueue.caliperEvents":[],
        "clusive.messageQueue.preferenceChanges":[],
    }
    var lastCaliperEventsQueue;
    var lastPreferenceChangesQueue;
    
    window.addEventListener('storage', () => {        
        handleStorageEvent("clusive.messageQueue.caliperEvents");
        handleStorageEvent("clusive.messageQueue.preferenceChanges");
    })

    function handleStorageEvent(localStorageKey) {
        var currentQueue = JSON.parse(window.localStorage.getItem(localStorageKey));
        console.log('Storage Event / Current Queue: ', currentQueue);
        console.log('Last Queue:', lastQueues[localStorageKey]); 
        
        var newMessages = currentQueue.filter(function (message) {
            var duplicate = false;
            lastQueues[localStorageKey].forEach(function (m) {
                console.log(message.timestamp, m.timestamp)
                if(message.timestamp === m.timestamp) {
                    duplicate = true;
                }          
            }) 
            return !duplicate;
        });
        newMessages.forEach(function (message) {
            var eventId = message.content.eventId;
            var type = message.content.type;
            // var content = JSON.stringify(message.content);
            $("#debug-table").find("tr:last").after(`<tr><td>${eventId}</td><td>${type}</td></tr>`);
        })
        
        lastQueues[localStorageKey] = currentQueue;
    }

</script>
{% endblock %}