{% extends "shared/base.html" %}
{% load static %}

{% block head_additional %}
<script>
var d2reader = null;
var pub_id = "{{ pub.id }}";
var pub_version = "{{ version }}";
var pub_version_id = "{{ version_id }}";
var manifest_path = "{{ manifest_path }}";
// FIXME eventually this will be a per-user default
var simplificationTool = "{{ simplification_tool }}";
</script>
<script src="{% static 'shared/js/lib/reader/reader.js' %}"></script>
{% endblock %}

{% block title %}{{ pub.title }} | Clusive{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" %}
{% endblock %}

{% block sidebar_start %}
<!-- todo: nav should be true in paged mode, or for multi=chapter content -->
<button id="simplifyLocator" class="sr-only" aria-hidden="true" tabindex="-1">Simplify text</button>
{% include "shared/partial/sidebar_start.html" with nav=True %}
{% endblock %}

{% block sidebar_end %}
<!-- Items needed to anchor the toolbox-based popovers -->
<button id="glossaryLocator" class="sr-only" aria-hidden="true" tabindex="-1">Lookup</button>

{% include "shared/partial/sidebar_end.html" with read_aloud="Readium" lookup=True %}
{% endblock%}

{% block sidebar_bottom_start %}
{% include "shared/partial/sidebar_bottom_start.html" with why=True %}
{% endblock %}

{% block preference_panel %} {% include "shared/partial/preference-panel.html" with prefs_is_reader=True %} {% endblock %}

{% block content_wrapper %}
<div class="content" style="overflow: hidden;">
{% endblock %}

{% block content %}
<div id="D2Reader-Container">
    <main tabindex="-1" id="iframe-wrapper">
        <div id="lineFocusContainer" class="d2-line-focus-container" style="display: none">
            <div id="lineFocusTopBlinder" class="d2-line-focus-top"></div>
            <div id="lineFocusBottomBlinder" class="d2-line-focus-bottom"></div>
            <nav id="lineFocusNav" class="d2-line-focus-nav" aria-label="Line focus">
                <button id="lineFocusUp" onclick="d2reader.lineUp();" type="button" class="btn btn-nav btn-icon" aria-label="Line focus up" title="Previous page" data-cle-handler="click" data-cle-control="reader-navigation-linefocus" data-cle-value="up-linefocus">
                    <span class="icon-chevron-up" aria-hidden="true"></span>
                </button>
                <button id="lineFocusDown" onclick="d2reader.lineDown();" type="button" class="btn btn-nav btn-icon" aria-label="Line focus down" title="Next page" data-cle-handler="click" data-cle-control="reader-navigation-linefocus" data-cle-value="down-linefocus">
                    <span class="icon-chevron-down" aria-hidden="true"></span>
                </button>
            </nav>
        </div>
        {% include "shared/partial/toolbox_menu.html" %}

        <span id="content" tabindex="-1"></span>
        <h1 class="sr-only">Reading: {{ pub.title }}</h1>

        <div id="reader-loading" class="loading"></div>
        <div id="reader-error" class="error"></div>
        <div id="reader-info-top" class="info top">
            <span class="book-title"></span>
        </div>
        <iframe id="frameReader" data-cy="reader-frame" sandbox="allow-scripts allow-same-origin" allowtransparency="true" title="ePub Reader" scrolling="no" style="max-width: 100%; Border: 0; display: block;" width="100%" height="100%"></iframe>
    </main>


    <button id="image-info-trigger" style="display:none;" data-cfw="modal" data-cfw-modal-target="#image-info-modal">
        Show image details
    </button>
    <div id="image-info-modal" class="modal imgdesc-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-header-block">
                        <h2 class="modal-title">Image Details</h2>
                    </div>
                    {% include "shared/partial/dialog_tts.html" %}
                    <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close">
                        <span class="icon-cancel-circled2" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <script>
        var url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port +
            '{% get_media_prefix %}' + manifest_path;
        var injectables = [
            {type: 'script', url: 'https://code.jquery.com/jquery-3.5.1.min.js'},
            {type: 'script', url: '{% static "shared/js/lib/internal.js" %}'},
            {type: 'style', url: 'https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700', r2before: true},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-before.css" %}', r2before: true},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-default.css" %}', r2default: true},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-after.css" %}', r2after: true},
            {type: 'style', url: '{% static "shared/css/reader-frame.min.css" %}'},
            {type: 'style', url: '{% static "shared/js/lib/reader/fonts/open-dyslexic/open-dyslexic-regular.css" %}', fontFamily: 'OpenDyslexicRegular'},
            {type: 'style', systemFont: true, fontFamily: 'Arial, Helvetica'},
            {type: 'style', systemFont: true, fontFamily: 'Georgia, Times, Times New Roman, serif'},
            {type: 'style', systemFont: true, fontFamily: 'Verdana'},
            {type: 'style', systemFont: true, fontFamily: 'Comic Sans MS, Comic Sans, Comic Neue, cursive'},
            {type: 'style', url: '{% static "shared/css/clusive-reader-theme-sepia.min.css" %}', r2after: true, appearance: 'clusive-sepia'},
            {type: 'style', url: '{% static "shared/css/clusive-reader-theme-night.min.css" %}', r2after: true, appearance: 'clusive-night'},
            // {type:'script', url: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML&latest'},
        ];

        var annotations = [];
        {% for a in annotations %}
            annotations.push(JSON.parse(atob('{{a.highlight_base64}}')));
        {% endfor %}
        var definitions = JSON.parse('{{cuelist|safe}}');
        var definitionsSeen = {};
        var lastReadingPosition = {{ last_position|safe }};

        var selectionMenuItems = [
            {
                id: 'transformIcon',
                callback: contextTransform
            },
            {
                id: 'lookupIcon',
                callback: contextLookup
            }
        ];

        var firstResourceLoaded = false;

        var readerOptions = {
            url: new URL(url),
            userSettings: {
                textAlignment:'start',
                columnCount: '1'

            },
            lastReadingPosition: lastReadingPosition,
            injectables: injectables,
            attributes: {
                margin: 50,
            },
            rights: {
                enableAnnotations: true,
                enableDefinitions: true,
                enableTTS: true,
                autoGeneratePositions: true,
                enableLineFocus: true,
                enableBookmarks: false,
                enableMaterial: false,
                enableSearch: false,
                enableTimeline: false,
                enableContentProtection: false
            },
            lineFocus: {
                lines: 5,
            },
            tts: {
                enableSplitter: false,
                highlight: "words",
                autoScroll: true,
                rate: 1.0,
                pitch: 1.0,
                volume: 1.0,
                voice: {
                    usePublication: false
                },
                api: {
                    started: function() {
                        console.debug('D2Reader TTS started');
                        window.parent.clusiveTTS.updateUI('play');
                        return null;
                    },
                    stopped: function() {
                        console.debug('D2Reader TTS stopped');
                        window.parent.clusiveTTS.updateUI('stop');
                        return null;
                    },
                    paused: function() {
                        console.debug('D2Reader TTS paused');
                        window.parent.clusiveTTS.updateUI('pause');
                        return null;
                    },
                    resumed: function() {
                        console.debug('D2Reader TTS resumed');
                        window.parent.clusiveTTS.updateUI('resume');
                        return null;
                    },
                    finished: function() {
                        console.debug('D2Reader TTS finished');
                        window.parent.clusiveTTS.updateUI('stop');
                        return null;
                    }
                }
            },
            highlighter: {
                selectionMenuItems: selectionMenuItems,
                api: {
                    selectionMenuOpen: function() {
                        window.parent.clusiveEvents.addTipRelatedActionToQueue('context');
                    }
                }
            },
            initialAnnotations: {"bookmarks":[], "highlights": annotations},
            annotations: {
                initialAnnotationColor: "var(--CRT_highlightOverlayBg)",
                api: {
                    addAnnotation: function (annotation) {
                        console.info('addAnnotation called');
                        return addNewAnnotation(annotation, pub_id, pub_version);
                    },
                    selectedAnnotation: function (annotation) {
                        if (annotation) {
                            console.debug('Selected annotation: ', annotation.id);
                            showExistingAnnotation(annotation);
                            return Promise.resolve();
                        } else {
                            console.debug('selectedAnnotation called with no annotation');
                            return Promise.resolve();
                        }
                    },
                    deleteAnnotation: function (annotation) {
                        console.warn('Not implemented: Delete annotation: ', annotation.id);
                        return Promise.reject();
                    }
                }
            },
            define: {
                color: "transparent",
                hideLayer: {{ hide_cues | yesno:"true,false" }},
                fullWordSearch: true,
                api: {
                    click: function (item, element) {
                        window.openGlossaryForWord(item.terms[0], element);
                    },
                    success: function (item, element) {
                        console.log("  define item " + item.terms + " was found " + element.length + " times");
                    },
                    visible: function (item, element) {
                        var word = item.terms[0];
                        if (!definitionsSeen[word]) {
                            definitionsSeen[word] = 1;
                            console.log("first time define visible: ", word);
                            var message = {
                                type: 'CV',
                                word: word
                            }
                            clusiveEvents.messageQueue.add(message);
                        }
                    },
                },
                definitions: definitions
            },
            bookmarks: {
                api: {
                    addBookmark: function (bookmark) {
                        console.error('Bookmark saving is not implemented yet. Received: ', bookmark);
                        return Promise.reject();
                    },
                    deleteBookmark: function (bookmark) {
                        console.error('Bookmark deletion is not implemented yet. Received: ', bookmark);
                        return Promise.reject();
                    }
                }
            },

            api: {
                resourceReady: function() {
                    console.debug("D2Reader finished loading the resource at: " + new Date());
                    $(document).ready(function () {
                        // Do things that only need to be done once
                        if(!firstResourceLoaded) {
                            console.debug("Performing UI tasks on first Reader resource load");
                            buildTableOfContents();
                            buildAnnotationList();
                            // Handle initial TTS setting
                            console.debug('doing initial tts setting');
                            var availablePreferredVoices = cisl.prefs.modalSettings.getAvailablePreferredVoices(clusivePrefs.prefsEditorLoader.model.preferences.cisl_prefs_readVoices);
                            clusiveTTS.updateSettings({
                                voice: availablePreferredVoices[0]
                            });
                            // Attach shortcut handler
                            shortcut.attachReaderFrame();
                            // Update additional TTS settings - such as rate
                            d2reader.applyTTSSettings(readerOptions.userSettings.tts);

                            firstResourceLoaded = true;
                        }
                    });
                },
                resourceAtEnd: function() {
                    var currentResource = d2reader.currentResource;
                    var lastResource = (currentResource===d2reader.totalResources-1);
                    if (lastResource) {
                        clusiveAssessment.showCompCheck();
                    }
                },
                resourceFitsScreen: function() {
                    var currentResource = d2reader.currentResource;
                    var lastResource = (currentResource===d2reader.totalResources-1);
                    if (lastResource) {
                        clusiveAssessment.showCompCheck();
                    }
                },
                // Not currently using.
                // resourceAtStart: function() {
                //     console.debug('resourceAtStart');
                // },
                updateCurrentLocation: function (locator) {
                    // Grey out forward/back navigation buttons when necessary.
                    // This logic cannot be moved to resourceAtStart/resourceAtEnd since it also needs to know
                    // when you move away from the edge, so that the buttons can be re-enabled.
                    var currentResource = d2reader.currentResource;
                    var firstResource = (currentResource===0);
                    var lastResource = (currentResource===d2reader.totalResources-1);
                    var atBeginning = firstResource && d2reader.atStart;
                    var atEnd = lastResource && d2reader.atEnd;
                    document.getElementById('prevResourceButton').disabled = atBeginning;
                    document.getElementById('nextResourceButton').disabled = atEnd;
                    return trackReadingLocation(pub_id, pub_version, locator);
                },
                updateUserSettings: function (userSettings) {
                    return Promise.resolve();
                }
            }
        };

        // Wait for the reader preferences bridge to be created, then create the Reader
        document.addEventListener("cisl.prefs.readerPreferencesBridge.onCreate", function (e) {
            console.debug("cisl.prefs.readerPreferencesBridge.created event fired", e);

            var readerPreferences = e.detail.readerPreferences;

            var mergedUserSettings = $.extend({}, readerOptions.userSettings, readerPreferences);
            readerOptions.userSettings = mergedUserSettings;
            console.debug("readerOptions", readerOptions);
            D2Reader.load(readerOptions).then(instance => {
                    console.debug("D2Reader began loading resource at: " +  new Date());
                    d2reader = instance;
                    clusiveTTS.readerReady = true;
                }).catch(error => {
                    console.error("error loading: ", error);
                });
        });
    </script>
</div>

{% include "shared/partial/modal_toc.html" %}
{% include "shared/partial/popover_tip.html" %}
{% include "shared/partial/popover_simplify.html" %}
{% endblock %}
