{% extends "shared/base.html" %}
{% load static %}

{% block head_additional %}
{% comment %} Readium reader dependencies {% endcomment %}

<script>
var exports = {};
var pub_id = "{{ pub_id }}";
</script>
<script src="{% static 'shared/js/lib/reader/reader.js' %}"></script>
{% endblock %}

{% block title %}{{ pub_title }} | Clusive{% endblock %}

{% block sidebar_start %}
<!-- todo: nav should be true in paged mode, or for multi=chapter content -->
{% include "shared/partial/sidebar_start.html" with index_reader=True nav=False why=True %}
{% endblock %}

{% block preference_panel %} {% include "shared/partial/preference-panel.html" with prefs_is_reader=True %} {% endblock %}

{% block content %}
{% include "shared/partial/site_header_small.html" with user_actions=True %}

<div id="D2Reader-Container" style="position: relative;">
    <main style="overflow: hidden" tabindex=-1 id="iframe-wrapper">
        <span id="content" tabindex="-1"></span>
        <h1 class="sr-only">Reading: {{ pub_title }}</h1>

        <div id="reader-loading" class="loading"></div>
        <div id="reader-error" class="error"></div>
        <div id="reader-info-top" class="info top">
            <span class="book-title"></span>
        </div>
        <iframe sandbox="allow-scripts allow-same-origin" allowtransparency="true" title="ePub Reader" SCROLLING="no" style="max-width: 100%; Border: 0px; display: block;" width="100%" height="100%"></iframe>
        <div id="reader-info-bottom" class="info bottom">
            <span class="chapter-position"></span>
            <span class="chapter-title"></span>
        </div>
    </main>

    <script>
        var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "{% static 'shared/pubs/' %}" + "{{ pub_id }}/manifest.json"
        var injectables = [
            {type: 'script', url: 'https://code.jquery.com/jquery-3.4.1.min.js'},
            {type: 'script', url: "{% static 'shared/js/lib/internal.js' %}"},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-before.css" %}', r2before: true},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-default.css" %}', r2default: true},
            {type: 'style', url: '{% static "shared/js/lib/readium-css/ReadiumCSS-after.css" %}', r2after: true},
            {type: 'style', url: '{% static "shared/css/reader-frame.css" %}'},
            {type: 'style', url: '{% static "shared/js/lib/reader/fonts/open-dyslexic/open-dyslexic-regular.css" %}', fontFamily: 'OpenDyslexicRegular'},
            {type: 'style', systemFont: true, fontFamily: 'Arial, Helvetica'},
            {type: 'style', systemFont: true, fontFamily: 'Georgia, Times, Times New Roman, serif'},
            {type: 'style', systemFont: true, fontFamily: 'Verdana'},
            {type: 'style', systemFont: true, fontFamily: 'Comic Sans MS, sans-serif'},
            {type: 'style', url: '{% static "shared/css/clusive-reader-theme-sepia.css" %}', r2after: true, appearance: 'clusive-sepia'},
            {type: 'style', url: '{% static "shared/css/clusive-reader-theme-night.css" %}', r2after: true, appearance: 'clusive-night'},
            // {type:'script', url: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML&latest'},
        ];

        var userSettings = { textAlignment:'start' };

        var lastReadingPosition, annotations, baseUrl = null;
        var upLink = { url: new URL("/", window.location.href), label: "Back", ariaLabel: "Go back" };

        D2Reader.load({
                url: new URL(url),
                upLinkUrl: upLink,
                ui: {
                    settings: {
                        fontFamily: true,
                        fontSize: true,
                        appearance: true,
                        scroll: true,
                        lineHeight: true
                    },
                },
                rights: {
                    enableBookmarks: true
                },
                material: false,
                userSettings: userSettings,
                annotations: annotations,
                lastReadingPosition: lastReadingPosition,
                injectables: injectables,
                api: {
                    addBookmark: function (bookmark) {
                        bookmark.id = Math.random()
                        return Promise.resolve(bookmark);
                    },
                    deleteBookmark: function (bookmark) {
                        return Promise.resolve();
                    },
                    updateCurrentlocation: function (location) {
                        return Promise.resolve();
                    },
                    updateUserSettings: function (userSettings) {
                        return Promise.resolve();
                    },
                }
            }).then(instance => {
                console.log("D2Reader loaded ", instance);
                console.log("instance.bookmarkModule ", instance.bookmarkModule);   
                // Create the preference editor when the Reader has loaded,
                // after a short delay
                // TODO: improve this sequencing
                $(document).ready(function () {     
                    setTimeout(function() {
                        createClusivePrefsEditor();
                    }, 250);       
                    
                });            
                
            }).catch(error => {
                console.error("error.message ", error.message);
            });
    </script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    -->
</div>
{% endblock %}