{% extends "shared/base.html" %}
{% load static %}

{% block title %}Word bank{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="word_bank" %}
{% endblock %}

{% block sidebar_start %}
{% include "shared/partial/sidebar_start.html" with nav=False %}
{% endblock %}

{% block sidebar_end %}
<!-- Item needed to anchor the definition popover -->
<button id="glossaryLocator" class="sr-only" aria-hidden="true" tabindex="-1">Lookup</button>

{% include "shared/partial/sidebar_end.html" with lookup=True %}
{% endblock %}

{% block content %}
<div class="link-back">
    <a href="#" onclick="window.history.back(); return false;" class="link-prev">Back</a>
</div>

<main id="content" tabindex="-1">

    <h1>Word bank</h1>

    <div id="wordbankPersonalizeMsg" class="content-text mt-1{% if words|length == 0 %} d-none{% endif %}">
        <p>Move words to the right or left to help Clusive personalize settings and word highlighting for you.</p>
    </div>

    <div id="wordbankEmptyMsg" class="content-text mt-1{% if words|length %} d-none{% endif %}">
        <h2 class="h4">Rate some words!</h2>
        <p>Tell us how well you know some words as you start or look up words in a reading. That helps Clusive to personalize settings and word highlighting for you. Change ratings of words you are learning anytime in the Word bank.</p>
    </div>

    <div id="wordbankTable" class="wordbank-scroll">
        <div class="wordbank">
            <div class="wordbank-header">
                <div class="wordbank-col">
                    <div id="rank0" class="wordbank-title"><span class="sr-only">Ranking: </span>Never heard it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count0">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank1" class="wordbank-title"><span class="sr-only">Ranking: </span>Heard it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count1">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank2" class="wordbank-title"><span class="sr-only">Ranking: </span>Know it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count2">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank3" class="wordbank-title"><span class="sr-only">Ranking:</span>Use it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count3">0</span> <span class="sr-only">words</span></div>
                </div>
            </div>
            <div class="wordbank-body">
                <div class="wordbank-body-bg">
                    <div class="wordbank-col" data-dropzone-rating="0"></div>
                    <div class="wordbank-col" data-dropzone-rating="1"></div>
                    <div class="wordbank-col" data-dropzone-rating="2"></div>
                    <div class="wordbank-col" data-dropzone-rating="3"></div>
                </div>
                <div class="wordbank-list">
                {% for wm in words %}
                    <div data-rating="{{wm.knowledge_est}}" class="wordbank-item offset{{wm.knowledge_est}}">
                        <div class="wordbank-drag">
                            <button type="button" class="wordbank-word" aria-describedby="rank{{wm.knowledge_est}}">{{wm.word}}</button>
                            <button type="button" class="wordbank-prev" aria-label="Decrease rating for '{{wm.word}}'" title="Move left"><span class="icon-chevron-left" aria-hidden="true"></span><span class="sr-only">Decrease rating for '{{wm.word}}'</span></button>
                            <button type="button" class="wordbank-next" aria-label="Increase rating for '{{wm.word}}'" title="Move right"><span class="icon-chevron-right" aria-hidden="true"></span><span class="sr-only">Increase rating for '{{wm.word}}'</span></button>
                            <button type="button" class="wordbank-del" aria-label="Remove '{{wm.word}}' from word bank" title="Remove"><span class="icon-cancel" aria-hidden="true"></span><span class="sr-only">Remove '{{wm.word}}' from word bank</span></button>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
