{% extends "shared/base.html" %}
{% load static %}

{% block title %}Word bank{% endblock %}

{% block sidebar_start %}
{% include "shared/partial/sidebar_start.html" with index_reader=True nav=False %}
{% endblock %}

{% block sidebar_end %}
{% include "shared/partial/sidebar_end.html" %}
{% endblock %}

{% block content %}
{% include "shared/partial/site_header_small.html" with user_actions=True %}

<main id="content" tabindex="-1" class="wordbank-scroll">
    <div class="wordbank">
        <div class="wordbank-header">
            <div class="wordbank-col">
                <div class="wordbank-title">Never heard it</div>
                <div class="wordbank-count wordbank-count-empty">0</div>
            </div>
            <div class="wordbank-col">
                <div class="wordbank-title">Heard it</div>
                <div class="wordbank-count wordbank-count-empty">0</div>
            </div>
            <div class="wordbank-col">
                <div class="wordbank-title">Know it</div>
                <div class="wordbank-count wordbank-count-empty">0</div>
            </div>
            <div class="wordbank-col">
                <div class="wordbank-title">Use it</div>
                <div class="wordbank-count wordbank-count-empty">0</div>
            </div>
        </div>
        <div class="wordbank-body">
            <div class="wordbank-body-bg">
                <div class="wordbank-col"></div>
                <div class="wordbank-col"></div>
                <div class="wordbank-col"></div>
                <div class="wordbank-col"></div>
            </div>
            <div class="wordbank-list">
            {% for wm in words %}
                <div class="wordbank-item offset{{wm.knowledge_est}}">
                    <span class="wordbank-word">{{wm.word}}</span>
                    <span class="sr-only">rating: never heard it</span><!--FIXME-->
                    <a href="#" role="button" class="wordbank-prev" aria-label="decrease rating for '{{wm.word}}'"><span class="icon-chevron-left" aria-hidden="true"></span></a>
                    <a href="#" role="button" class="wordbank-next" aria-label="increase rating for '{{wm.word}}'"><span class="icon-chevron-right" aria-hidden="true"></span></a>
                    <a href="#" role="button" class="wordbank-del" aria-label="remove '{{wm.word}}' from word bank"><span class="icon-cancel" aria-hidden="true"></span></a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}