{% extends "shared/base.html" %}
{% load static %}

{% block title %}Word bank{% endblock %}

{% block header %}
{% include "shared/partial/site_header_small.html" with user_actions=True %}
{% endblock %}

{% block sidebar_start %}
{% include "shared/partial/sidebar_start.html" with index_reader=True nav=False %}
{% endblock %}

{% block sidebar_end %}
{% include "shared/partial/sidebar_end.html" with lookup=True %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">
    <div class="link-back">
        <a href="#" onclick="window.history.back(); return false;" class="link-prev">back</a>
    </div>

    <h1>Word bank</h1>

    <div class="wordbank-scroll">
        <div class="wordbank">
            <div class="wordbank-header">
                <div class="wordbank-col">
                    <div id="rank0" class="wordbank-title"><span class="sr-only">Ranking: </span>Never heard it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count0">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank1" class="wordbank-title"><span class="sr-only">Ranking: </span>Heard it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count1">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank2" class="wordbank-title"><span class="sr-only">Ranking: </span>Know it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count2">0</span> <span class="sr-only">words</span></div>
                </div>
                <div class="wordbank-col">
                    <div id="rank3" class="wordbank-title"><span class="sr-only">Ranking:</span>Use it</div>
                    <div class="wordbank-count wordbank-count-empty"><span id="count3">0</span> <span class="sr-only">words</span></div>
                </div>
            </div>
            <div class="wordbank-body">
                <div class="wordbank-body-bg">
                    <div class="wordbank-col"></div>
                    <div class="wordbank-col"></div>
                    <div class="wordbank-col"></div>
                    <div class="wordbank-col"></div>
                </div>
                <div class="wordbank-list">
                {% for wm in words %}
                    <div data-rating="{{wm.knowledge_est}}" class="wordbank-item offset{{wm.knowledge_est}}">
                        <a href="#" role="button" class="wordbank-word" aria-describedby="rank{{wm.knowledge_est}}">{{wm.word}}</a>
                        <a href="#" role="button" class="wordbank-prev" aria-label="Decrease rating for '{{wm.word}}'" title="Move left"><span class="icon-chevron-left" aria-hidden="true"></span><span class="sr-only">Decrease rating for '{{wm.word}}'</span></a>
                        <a href="#" role="button" class="wordbank-next" aria-label="Increase rating for '{{wm.word}}'" title="Move right"><span class="icon-chevron-right" aria-hidden="true"></span><span class="sr-only">Increase rating for '{{wm.word}}'</span></a>
                        <a href="#" role="button" class="wordbank-del" aria-label="Remove '{{wm.word}}' from word bank" title="Remove"><span class="icon-cancel" aria-hidden="true"></span><span class="sr-only">Remove '{{wm.word}}' from word bank</span></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}