/* CSS included in the content IFrame */

body {
    background: #edf2ed;
    color: #000000;
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    padding: 1rem;
}

@media (min-width: 36em) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 48em) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 62em) {
    .container {
        max-width: 70%;
    }
}
@media (min-width: 75em) {
    .container {
        max-width: 60%;
    }
}

a.gloss {
    color: #017a7e;
    text-decoration: none;
    border-bottom: 1px dashed;
}

span.glossOther {
    background: yellow;
}

.gloss-usage {
    font-style: italic;
}

figure, figure.figure {
    display: table;
    margin: 1rem auto;
    background: #e1eae2;
    max-width: 85%;
    clear: both;
}

@media (min-width: 48em) {
    figure.figure-end {
        float: right;
        margin: 0 0 1rem 1rem;
        max-width: 50%;
    }
}

.figure-img {
    margin-bottom: 0;
}

figcaption {
    display: table-caption;
    padding: 0.5rem;
    caption-side: bottom;
    background-color: #e1eae2;
}

/* We use <details> and <summary> for image long descriptions. */

/* Custom styling for <summary> */
summary::-webkit-details-marker {
    display: none;
}

figcaption summary {
    text-align: end;
}

figcaption summary {
    color: #ea6550;
}

figcaption summary:after {
    content: " \f00e";
    font-weight: 900 !important;
    font-family: "Font Awesome 5 Free" !important;
}

/* Aside -- used for supplementary content */

aside {
    margin: 1rem auto;
    background: #FFFFFF;
    clear: both;
}

@media (min-width: 48em) {
    aside {
        max-width: 80%;
        margin: 1.5rem auto;
    }
}
@media (min-width: 62em) {
    aside {
        width: 75%;
        font-size: 92%;
    }
}
@media (min-width: 75em) {
    aside {
        font-size: 85%;
    }
}

aside h2 {
    background: #cad7cc;
    padding: 0.5rem;
}

aside p {
    padding: 0.5rem;
}

aside img {
    max-width: 25%;
    float: right;
    margin: 1rem;
}

/* Popovers -- used for glossary word definitions */

.popover {
    max-width: 30rem;
    font-size: 1rem;
}

.popover-header {
    background: #cad7cc;
}

.popover figure {
    padding: 0;
}
/* Lexington Original Version Styling */
.lexington-original h1,
.lexington-original h2,
.lexington-original h3,
.lexington-original h4,
.lexington-original h5,
.lexington-original h6 {
    font-family: 'IM Fell English', Georgia, "Times New Roman", Times, serif;
}

.parchment-0 {
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background: #FFFFFF;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .1);
    clear: both;
}
.parchment-0 p:last-child {
    margin-bottom: 0;
}

.parchment-1 {
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-image: url("../pubs/cast-lexington/images/parchment-1.png");
    border-radius: .25rem;
    box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .1);
    clear: both;
}
.parchment-1 p:last-child {
    margin-bottom: 0;
}
.parchment-2 {
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-image: url("../pubs/cast-lexington/images/parchment-2.png");
    border-radius: .25rem;
    box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .1);
    clear: both;
}
.parchment-2 p:last-child {
    margin-bottom: 0;
}