@charset "UTF-8";
/* Used to generate new Readium themes ("appearances") */
:root[style*="bbr"] {
  --RS__backgroundColor: #b96;
  --RS__textColor: #000;
  --RS__linkColor: #000;
  --RS__visitedColor: #000;
  /* This can be customized but initial will re-use default value of the browser */
  --RS__selectionBackgroundColor: #b4d8fe;
  --RS__selectionTextColor: inherit;
  /* Forcing a reflow in Blink/Webkit so that blend mode can work */
  --RS__maxLineLength: 40.01rem;
}

/* we don’t need to redeclare bg-color and color for :root since we will inherit and update from day/default mode */
:root[style*="bbr"] body {
  /* Should be transparent but Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=711955&q=mix-blend-mode&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified */
  color: inherit;
  background-color: var(--RS__backgroundColor);
}

:root[style*="bbr"] a:link,
:root[style*="bbr"] a:link * {
  color: var(--RS__linkColor);
}

:root[style*="bbr"] a:visited,
:root[style*="bbr"] a:visited * {
  color: var(--RS__visitedColor);
}

:root[style*="bbr"] svg,
:root[style*="bbr"] img {
  /* Make sure the proper bg-color is used for the blend mode */
  background-color: transparent !important;
  mix-blend-mode: multiply;
}
