aside {
    border: 3px solid #888;
    margin: 1.5rem 0;
    padding: 0.5rem;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .1);
    clear: both;
}

aside h2 {
    margin-top: 0;
}