.box {
    position: relative;
    padding: $box-padding-y $box-padding-x;
    margin-bottom: $box-margin-bottom;
    line-height: $box-line-height;
    color: var(--CT_boxResourceColor);
    background: var(--CT_boxResourceBg);
    border: $box-border-width solid var(--CT_boxResourceBorderColor);
    @include border-radius($box-border-radius);
    @include clearfix();

    hr {
        color: var(--CT_boxResourceDivderColor);
        opacity: 1;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.box-secondary {
    color: var(--CT_boxResourceSecondaryColor);
    background: var(--CT_boxResourceSecondaryBg);
    border: $box-border-width solid var(--CT_boxResourceSecondaryBorderColor);

    hr {
        color: var(--CT_boxResourceSecondaryDivderColor);
    }
}

.box-teach {
    color: var(--CT_boxTeachColor);
    background: var(--CT_boxTeachBg);
    border-color: var(--CT_boxTeachBorderColor);

    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child {
        margin-left: 3.5rem;
    }

    hr {
        color: var(--CT_boxTeachDividerColor);
    }

    &::before {
        $mascot-width: 5rem;
        position: absolute;
        top: .5rem;
        left: -1rem;
        display: block;
        width: $mascot-width;
        height: $mascot-width * $img-ratio-mascot-resource;
        content: "";
        background-image: var(--CT_imgMascotResource);
        background-repeat: no-repeat;
        background-size: contain;
        transform: scaleX(-1);
    }

    @include media-breakpoint-down(xs) {
        > h2:first-child,
        > h3:first-child,
        > h4:first-child,
        > h5:first-child,
        > h6:first-child {
            margin-left: 5rem;
        }

        &::before {
            top: .5rem;
            left: .5rem;
        }
    }
}

.box-share {
    color: var(--CT_boxShareColor);
    background: var(--CT_boxShareBg);
    border-color: var(--CT_boxShareBorderColor);

    hr {
        color: var(--CT_boxShareDividerColor);
    }

    &::before {
        $twitter-width: 1.75rem;
        position: absolute;
        top: .5rem;
        left: -1rem;
        display: block;
        width: $twitter-width;
        height: $twitter-width * (204 / 248);
        content: "";
        background-image: var(--CT_imgTwitter);
        background-repeat: no-repeat;
    }

    @include media-breakpoint-down(xs) {
        > h2:first-child,
        > h3:first-child,
        > h4:first-child,
        > h5:first-child,
        > h6:first-child {
            margin-left: 1.5rem;
        }

        &::before {
            top: .5rem;
            left: .5rem;
        }
    }
}
