dawn==0.11.0
django==2.2.24
django-allauth==0.44.0
django-debug-toolbar==3.2.1
django-multiselectfield==0.1.12
django-settings-export==1.2.1
future==0.18.2
google-api-python-client==2.8.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-translate==2.0.1
gunicorn==20.1.0
lemminflect==0.2.2
mailchimp-marketing==3.0.42
marisa-trie==0.7.5
nltk==3.4.5
numpy==1.17.4
psycopg2==2.8.3
python-dateutil==2.8.1
pytz==2021.1
textstat==0.6.2
whitenoise==4.1.3
wordfreq==2.3.2
-e git+https://github.com/IMSGlobal/caliper-python@1.1.0.2#egg=imsglobal_caliper
-e git+https://github.com/ouhouhsami/django-progressbarupload#egg=django-progressbarupload
-e git+https://github.com/cast-org/django-session-timeout#egg=django-session-timeout
