.card-img {
    overflow: hidden;
    text-align: center;
    background-color: #70afa7;

    .is-portrait {
        width: auto;
        max-width: none;
        //max-height: 100%;
        max-height: 10rem;
    }
}

.card-login {
    background-color: #6eaba6;
    border-color: transparent;

    .card-body {
        padding: .75rem 1.5rem;
    }
}

.card-login-forgot {
    border-top: 3px solid rgba(#ebe6d2, .25);

    a:not(.btn) {
        color: #003080;

        @include hover() {
            color: palette(#003080, 700);
        }
    }
}

.card-login-error {
    padding: .25rem .5rem;
    color: #fbfbfb;
    background-color: #d42314;
    @include border-radius(.25rem);
}
