.library {
    background-color: var(--CT_libraryBodyBg);
}

.library-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: .5rem;
    margin-right: ($library-grid-gutter / -2);
    margin-left: calc(#{$library-grid-gutter} / -2 + .25rem);

    > .card {
        flex-basis: auto;
        width: calc(100% - #{$library-grid-gutter});
        margin-right: 1rem;
        margin-bottom: 2.25rem;
        margin-left: 1rem;


        @include media-breakpoint-up(sm) {
            width: calc(#{percentage(1 / 2)} - #{$library-grid-gutter});
        }
        @include media-breakpoint-up(md) {
            width: calc(#{percentage(1 / 3)} - #{$library-grid-gutter});
        }
    }
}

.card-library {
    box-shadow: -.125rem -.5rem 0 .125rem rgba(var(--CT_cardLibraryBoxShadowRGB), 1), -.125rem -.125rem 0 .125rem rgba(var(--CT_cardLibraryBoxShadowRGB), 1);

    .link-stretch {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: underline;
        }
    }
}
