.ranking {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 $ranking-margin-x $ranking-margin-bottom;
    @include font-size($ranking-font-size);

    &::before {
        position: absolute;
        top: 50%;
        left: $ranking-margin-x;
        display: block;
        // (* 3) due to left offset
        width: calc(100% - #{$ranking-margin-x * 3});
        height: $ranking-border-width;
        content: "";
        background-color: $ranking-border-color;
        transform: translateY(-50%);
    }

    .form-check {
        position: relative;
        margin-bottom: 0;
        @include font-size(1em);

        &:nth-child(1) {
            .ranking-label {
                //text-align: left;
            }
        }
        &:nth-child(4) {
            .ranking-label {
                //text-align: right;
            }
        }
    }

    // Remove right side spacing since we are adjusting visual labels
    .form-checkradio {
        padding-left: 1em;

        .form-check-label::before {
            margin-left: -1em;
        }
    }
}

.ranking-label {
    position: absolute;
    top: calc(100% - .25rem);
    left: 50%;
    min-width: 4em;
    margin-bottom: 0;
    @include font-size($ranking-label-font-size);
    text-align: center;
    //white-space: nowrap;
    transform: translateX(-50%);
}

.ranking-legend {
    margin-bottom: 0;
    @include font-size(inherit);
}
