.sidebar {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 3rem;
    justify-content: center;
    width: 3rem;
    padding: .75rem 0;
    //background-color: $sidebar-bg;
    background-image: linear-gradient(180deg, $sidebar-bg 0%, $sidebar-bg-alt 100%);
    @include border-radius($sidebar-border-radius);

    @include media-breakpoint-up(sm) {
        flex-basis: 4rem;
        max-width: 4rem;
    }

    @supports (position: sticky) {
        position: sticky;
        top: $body-padding;
        height: calc(100vh - #{$body-padding * 2});
    }

    .btn-glossary {
        position: absolute;
        top: 50%;
        right: -2.125rem;
        font-weight: $font-weight-bold;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: top center;
    }
}

.sidebar-start {
    flex-direction: column;
    margin-right: 1rem;

    .btn-link {
        color: #636b82;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #333;
            text-decoration: none;
        }
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn + .btn {
        margin-top: .5rem;
    }
}

.sidebar-support {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
}

.sidebar-end {
    order: 1;
    margin-left: 1rem;
    //background-color: $sidebar-end-bg;
    background-image: linear-gradient(180deg, $sidebar-end-bg 0%, $sidebar-end-bg-alt 100%);
}

.sidebar-tool {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        line-height: 1;
        @include font-size(1.75rem);
        @include border-radius(10rem);
    }

    .btn + .btn {
        margin-top: 1rem;
    }
}
