// Override some Figuration's generated CSS
// =====

// Global
$enable-palette:                    false;
$enable-print-styles:               false;
$enable-sizing:                     true;
$enable-shadows:                    true;

// Content
$enable-root:                       false;
$enable-typography-lead:            false;
$enable-typography-mark:            false;
$enable-typography-initialism:      false;
$enable-typography-blockquote:      false;
$enable-code:                       false;
$enable-img-thumbnail:              false;
$enable-figure:                     false;
$enable-table-striped:              false;
$enable-table-hover:                false;
$enable-table-active:               false;
$enable-table-colors:               false;
$enable-table-scroll-responsive:    false;
$enable-btn-outline:                false;
$enable-btn-outline-colors:         false;
$enable-btn-sizing:                 true;
$enable-btn-icon-sizing:            true;
$enable-btn-block:                  false;
$enable-form-control-sizing:        false;
$enable-form-control-static:        false;
$enable-form-label-sizing:          false;
$enable-form-text:                  false;
$enable-form-file:                  false;
$enable-form-color:                 false;
$enable-form-row:                   false;
$enable-form-inline:                false;
$enable-form-validation-tooltip:    false;
$enable-form-validation-icon:       false;

// Components
$enable-alert:                      false;
$enable-badge:                      false;
$enable-breadcrumb:                 false;
$enable-btn-group:                  false;
//$enable-card-title:                 false;
$enable-card-subtitle:              false;
//$enable-card-text:                  false;
$enable-card-link:                  false;
$enable-card-list:                  false;
$enable-card-table:                 false;
$enable-card-header-tabs:           false;
$enable-card-header-pills:          false;
$enable-card-img-overlay:           false;
$enable-card-img-horizontal:        false;
$enable-card-group:                 false;
$enable-card-columns:               false;
$enable-input-group:                false;
$enable-jumbotron:                  false;
$enable-list-bulleted:              false;
$enable-list-ordered:               false;
$enable-list-group:                 false;
$enable-list-horizontal:            false;
$enable-list-item-colors:           false;
$enable-media:                      false;
$enable-navbar-text:                false;
$enable-navbar-divider:             false;
$enable-navbar-collapse:            false;
$enable-navbar-toggle:              false;
$enable-navbar-light:               false;
$enable-navbar-dark:                false;
$enable-nav-tabs:                   false;
$enable-nav-pills:                  false;
$enable-nav-vertical:               false;
$enable-nav-fill:                   false;
$enable-nav-justify:                false;
$enable-tab-content:                false;
$enable-pagination:                 false;
$enable-progress:                   false;

// Widgets
$enable-dropdown:                   false;
$enable-tooltip:                    false;

// Utilities
$enable-utility-bg:                 false;
$enable-utility-border:             false;
$enable-utility-clearfix:           false;
$enable-utility-display:            false;
$enable-utility-embed:              false;
$enable-utility-flex:               false;
$enable-utility-float:              false;
$enable-utility-overflow:           false;
$enable-utility-position:           false;
$enable-utility-shadow:             false;
$enable-utility-sizing:             false;
$enable-utility-spacing:            false;
$enable-utility-text-justify:       false;
$enable-utility-text-wrap:          false;
$enable-utility-text-nowrap:        false;
$enable-utility-text-align:         true;
$enable-utility-text-transform:     false;
$enable-utility-text-weight:        false;
$enable-utility-text-style:         false;
$enable-utility-text-family:        false;
$enable-utility-text-truncate:      false;
$enable-utility-text-decoration:    false;
$enable-utility-text-break:         false;
$enable-utility-text-colors:        false;
$enable-utility-text-palette:       false;
$enable-utility-text-special:       false;
$enable-utility-text-reset:         false;
$enable-utility-text-height:        false;
$enable-utility-text-size:          false;
$enable-utility-valign:             false;
$enable-utility-visibility:         false;


// Default Figuration setting overrides
// =====

// Disable some default box-shadows
$thumbnail-box-shadow:                  0 0 transparent;
$kbd-box-shadow:                        0 0 transparent;
$btn-box-shadow:                        0 0 transparent;
$btn-active-box-shadow:                 0 0 transparent;
$input-box-shadow:                      0 0 transparent;
$form-checkradio-box-shadow:            0 0 transparent;
$form-switch-track-box-shadow:          null;
$form-switch-thumb-box-shadow:          null;
$form-range-track-box-shadow:           0 0 transparent;
$progress-box-shadow:                   0 0 transparent;
$progress-bar-box-shadow:               0 0 transparent;
$dropdown-box-shadow:                   0 0 transparent;
$popover-box-shadow:                    0 0 transparent;
$modal-content-box-shadow:              0 0 transparent;

$white:                         #fff;

$primary:                       #40998b;
//rgba(#abfcef, .7); //rgba(#66faff, .75);

$palette-interval-light:        .2%;
$palette-interval-dark:         .15%;

$border-radius:                 .5rem;

$body-color:                    #111;
$body-padding:                  .625rem;

//$link-color:                    #00399c;
$link-color:                    #b8330f;
$link-hover-color:              palette($link-color, 700);

$drag-font-weight:              400;

// stylelint-disable value-keyword-case
$font-family-sans-serif:        "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$grid-row-columns:              4;

$btn-focus-box-shadow-alpha:    .8;

$input-bg:                      #fbfbfb;
$input-focus-box-shadow-size:   0 0 0 .1875rem;
$input-focus-box-shadow-alpha:  .9;
$input-focus-box-shadow:        $input-focus-box-shadow-size rgba(#40998b, $input-focus-box-shadow-alpha) !default;

$form-group-margin-bottom:      .5rem;

$form-checkradio-border-width:          1px;
$form-checkradio-border-color:          #7e8aad;
$form-checkradio-checked-bg:            #66faff;
$form-checkradio-checked-border-color:  #66faff;
$form-checkradio-radio-icon:            none;
$form-checkradio-focus-border-color:    #40998b;
$form-checkradio-focus-box-shadow:      0 0 0 .1875rem rgba(#40998b, .9);
$form-checkradio-checked-box-shadow:    .0625em .0625em 0 .03125em rgba(64, 153, 139, .9);

$form-range-track-height:       .375rem;
$form-range-track-bg:           #d3cfc9;
$form-range-thumb-width:        1.25rem;
$form-range-thumb-bg:           #66faff;
$form-range-thumb-box-shadow:   .125rem .125rem 0 .025rem rgba(#40998b, .9);
$form-range-thumb-focus-box-shadow: 0 0 0 .1875rem rgba(#40998b, .9) !default;
$form-range-thumb-active-bg:    #40998b;

$form-switch-width:                         3rem;
$form-switch-gutter:                        calc(#{$form-switch-width} + .125em) !default;
$form-switch-track-height:                  1.75rem;
$form-switch-track-bg:                      #ded9c4;
$form-switch-track-border-color:            #7e8aad;
$form-switch-track-border-radius:           $form-switch-track-height;
$form-switch-track-focus-border-color:      #40998b;
$form-switch-track-focus-box-shadow:        0 0 0 .1875rem rgba(#40998b, .9);
$form-switch-track-checked-bg:              #66faff;
$form-switch-track-checked-border-color:    #40998b;
$form-switch-track-checked-box-shadow:      null;

$form-switch-thumb-width:                   1.375em;
$form-switch-thumb-height:                  1.375em;
$form-switch-thumb-bg:                      $white;
$form-switch-thumb-box-shadow:              .1875rem 0 0 .025rem rgba(#7e8aad, .9);
$form-switch-thumb-focus-bg:                $white;
$form-switch-thumb-checked-bg:              $white;
$form-switch-thumb-checked-border-color:    $white;
$form-switch-thumb-checked-box-shadow:      -.1875rem 0 0 .025rem rgba(#40998b, .9);

$card-bg:                       #ebe6d2;
$card-padding-y:                .5rem;
$card-padding-x:                .75rem;
$card-title-margin-bottom:      .25rem;
$card-border-color:             #ebe6d2;
$card-border-radius:            .5rem;

$popover-border-width:          3px;
$popover-border-radius:         .5rem;
$popover-border-color:          #7c88ac;
$popover-header-padding-y:      .25rem;
$popover-header-bg:             #acfcef;
$popover-header-border-color:   #e2e2e2;
$popover-footer-padding-y:      .25rem;
$popover-footer-padding-x:      .75rem;
$popover-footer-font-size:      .875rem;
$popover-footer-color:          $body-color;
$popover-footer-bg:             #acfcef;
$popover-footer-border-width:   1px;
$popover-footer-border-color:   #e2e2e2;
$popover-section-border-width:  3px;
$popover-section-border-color:  #d3cfc9;

$modal-content-bg:              #94dfd3;
$modal-content-border-width:    3px;
$modal-content-border-color:    #7e8aad;
$modal-border-radius:           .5rem;

$modal-header-padding-y:        .5rem;
$modal-header-padding-x:        .75rem;
$modal-header-bg:               #acfcef;
$modal-header-border-color:     transparent;
$modal-header-border-width:     1px;

$modal-close-padding-y:         .25rem;
$modal-close-padding-x:         .25rem;

$modal-body-padding-y:          .5rem;
$modal-body-padding-x:          .75rem;

$modal-footer-padding-y:        .25rem;
$modal-footer-padding-x:        .75rem;
$modal-footer-bg:               #80c6ba;
$modal-footer-border-color:     transparent;
$modal-footer-border-width:     1px;

// Clusive specific items
// =====

$sidebar-bg:                    rgba(#63aea1, .35);
$sidebar-bg-alt:                rgba(#63aea1, .5);
$sidebar-end-bg:                #5fb29f;
$sidebar-end-bg-alt:            #429887;
$sidebar-border-radius:         .5rem;

$library-bg:                    #72c0b2;
$library-grid-gutter:           2rem;
$library-sidebar-bg:            rgba(#1c5447, .35);
$library-sidebar-end-bg:        rgba(#636b82, .8); //5b7799;
$library-sidebar-end-bg-alt:    rgba(#636b82, 1);

$setting-padding:               .75rem 1rem 1rem;
$setting-border-width:          3px;
$setting-border-color:          #d3cfc9;

$setting-title-margin-bottom:   .25rem;
$setting-title-color:           #666;
$setting-title-font-size:       .875rem;
$setting-title-font-weight:     700;

$setting-modal-content-bg:              #ebe6d2;
$setting-modal-content-border-color:    #72c0b2;
$setting-modal-header-bg:               transparent;
$setting-modal-header-border-color:     #d3cfc9;
$setting-modal-header-border-width:     3px;
$setting-modal-footer-bg:               transparent;
$setting-modal-footer-border-color:     #d3cfc9;
$setting-modal-footer-border-width:     3px;

$ranking-margin-x:              .375em;
$ranking-margin-bottom:         1.75em;
$ranking-font-size:             1.5rem;
$ranking-border-width:          4px;
$ranking-border-color:          #d3cfc9;
$ranking-label-font-size:       .875rem;

$goal-modal-title-color:            null;
$goal-modal-title-font-size:        .875rem;
$goal-modal-title-font-weight:      400;
$goal-modal-title-font-style:       italic;
$goal-modal-subtitle-color:         null;
$goal-modal-subtitle-font-size:     1rem;
$goal-modal-subtitle-font-weight:   700;
$goal-modal-subtitle-font-style:    null;
$goal-modal-footer-font-size:       .875rem;
$goal-ranking-border-color:         #75b7b0;
