{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Clusive{% endblock %}</title>
        <link href="{% static 'shared/css/clusive.css' %}" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/Enactors.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/PrefsEditor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/SeparatedPanelPrefsEditor.css' %}" />

        <script src="{% static 'shared/js/lib/main.js' %}"></script>     
        <script src="{% static 'shared/js/clusive-prefs-panel.js' %}"></script>     
    </head>
    <body>
        {% include "shared/uio-panel.html" %}
        <div class="header">
            <a href="{% url 'index' %}">
                <img src="{% static 'shared/images/reader-logo-transparent.png' %}" alt="CISL Reader" />            
            </a>
            <div class="login-status">
                {% if not user.is_anonymous %}                
                        Logged in as {{ user }} | <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                        <a href="{% url 'login' %}">Login</a>
                {% endif %}         
            </div>   
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>