{% load static %}
    <!-- BEGIN markup for Preference Editor -->
    <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
        <!--
            This div is for the sliding panel bar that shows and hides the Preference Editor controls in the mobile view.
            A separate panel bar for mobile displays is needed to preserver the correct tab order.
        -->
        <div class="fl-panelBar fl-panelBar-smallScreen">
            <span class="fl-prefsEditor-buttons">
                <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
            </span>
        </div>

        <!-- This is the div that will contain the Preference Editor component -->
        <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

        <!--
            This div is for the sliding panel bar that shows and hides the Preference Editor controls in the desktop view.
            A separate panel bar for desktop displays is needed to preserver the correct tab order.
        -->
        <div class="fl-panelBar fl-panelBar-wideScreen">
            <span class="fl-prefsEditor-buttons">
                <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
            </span>
        </div>
    </div>
    <!-- END markup for Preference Editor -->
    <script>            
        
        $(document).ready(function () {            
            var prefsEditor = fluid.prefs.create(".flc-prefsEditor-separatedPanel", {
                    build: {
                        gradeNames: [                            
                            "cisl.prefs.auxSchema.starter", // this will add the starter set
                            // "fluid.prefs.auxSchema.letterSpace", // this will add the letter space adjuster and enactor
                            // "cisl.prefs.auxSchema.glossary.demo" // adds the glossary
                        ],
                        auxiliarySchema: {
                            "loaderGrades": ["cisl.prefs.composite.separatedPanel"],
                            "template": "{% static 'shared/js/lib/infusion/src/framework/preferences/html/SeparatedPanelPrefsEditor.html' %}",
                            "terms": {
                                "templatePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/html' %}",
                                "messagePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/messages' %}",
                            },
                        }
                    }
                });            
        });
{% comment %} 
		$(document).ready(function () {
            
		    var uio = fluid.uiOptions.prefsEditor(".flc-prefsEditor-separatedPanel", {
		        terms: {
		            "templatePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/html' %}",
		            "messagePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/messages' %}",
		        },
		        "tocTemplate": "lib/infusion/src/components/tableOfContents/html/TableOfContents.html",
		        "ignoreForToC": {
		            "overviewPanel": ".flc-overviewPanel"
		        }
		    });
		}); {% endcomment %}
	        
    </script>