.site-header {
    position: relative;
    left: -4.5rem;
    padding: 1.25rem 1rem;
    margin-right: -4.5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(90deg, rgba(#636b82, .5) 0%, rgba(#636b82, 0) 65%);
    @include border-radius($sidebar-border-radius);

    .page-header {
        margin-bottom: 0;
        margin-left: 1rem;
        vertical-align: middle;
    }
}

.site-header-logo {
    display: inline-block;
    @include font-size(1.75rem);
    white-space: nowrap;
    vertical-align: middle;

    .icon-logo-clusive-toggle {
        color: #fbfbfb;
    }

    @include media-breakpoint-up(md) {
        @include font-size(2.25rem);
    }
}

.site-header-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    @include font-size(2.5rem);
    font-weight: 700;
    line-height: 1;
}

.page-header {
    display: inline-block;
    @include font-size(1.3125rem);
    border-bottom: 3px solid #66faff;
}
