.site-header {
    position: relative;
    left: -5.5rem;
    padding: 1.375rem 1rem;
    margin-right: -5.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    background-image: linear-gradient(90deg, rgba(#636b82, .5) 0%, rgba(#636b82, 0) 65%);
    @include border-radius($sidebar-border-radius);

    .page-title {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 1rem;
        vertical-align: middle;
        border-bottom: 3px solid #66faff;
    }
}

.site-header-logo {
    display: inline-block;
    @include font-size(1.75rem);
    white-space: nowrap;
    vertical-align: middle;

    .icon-logo-clusive-toggle {
        color: #fbfbfb;
    }

    @include media-breakpoint-up(md) {
        @include font-size(2.25rem);
    }
}

.site-header-small {
    left: -6rem;
    padding: 1.125rem 1rem 1.125rem 5rem;
    margin-right: -6rem;
    background-image: linear-gradient(90deg, rgba(#636b82, .25) 0%, rgba(#636b82, 0) 65%);

    .site-header-logo {
        @include font-size(1rem);
        line-height: 1;
        color: #636b82;
    }
}

.page-title {
    @include font-size(1.3125rem);
}

.user-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    @include font-size(.875rem);
}
