$textColor: #333;
$backgroundColor: #faf4e8;
$linkColor: #0d36ab;
$selectionBackgroundColor: #acfdf0;
$selectionTextColor: #111;

$figure-caption-bg:                     #ebe3d5;
$figure-caption-color:                  #666;
$glossary-underline:                    #a0abfd;

$themeName: "sepia";
@import "readium-theme";
