$textColor: #333;
$backgroundColor: #fbfbfb;
$linkColor: #0d36ab;
$selectionBackgroundColor: #acfdf0;
$selectionTextColor: #111;

$figure-caption-bg:                     #ebe3d5;
$figure-caption-color:                  #666;
$glossary-underline:                    #acfdf0;

$img-mix-blend-mode:                    normal;

$themeName: null;
@import "readium-theme";

@import "reader-frame/content";
@import "reader-frame/caption";
@import "reader-frame/glossary";
