<div class="box box-mascot-tipped">
    <h2>Getting started</h2>
    <div class="library-grid{% if data.featured|length <= 1 %} library-grid-col-2{% endif %} dashboard-grid">
        {% for book in data.featured %}
        {% include "library/partial/library_card.html" with book=book show_description=True show_menu=False show_topics=False %}
        {% endfor %}
        <div class="card card-special">
            <div class="card-body">
                <p>Dive into the Library to find something to read.</p>
                <a href="{% url 'reader_index' %}" class="btn btn-primary">Go to the library</a>
            </div>
        </div>
    </div>
</div>
