<ul class="nav box-tabs mb-0">
    <li class="nav-item"><button type="button" data-clusive-view="popular" class="nav-link popular-read-view-button{% if data.view == 'popular' %} active{% endif %}">Popular reads</button></li>
    <li class="nav-item"><button type="button" data-clusive-view="assigned" class="nav-link popular-read-view-button{% if data.view == 'assigned' %} active{% endif %}">Assigned reads</button></li>
</ul>

<div class="box-divider"></div>
    <p class="mx-1">
    {% if data.view == 'assigned' %}
        {% if data.all|length == 0 %}
            Your students haven't done any assigned reading, yet. Assign them
            something to read by clicking the
            <span class="icon-ellipsis-vert"></span> (more actions) icon in the
            lower right of any reading panel in the <a href="{% url 'library_style_redirect' view='period' %}">library</a>.
        {% else %}
            These are your 3 most recently assigned readings. See all assigned
            readings for this class in the <a href="{% url 'library_style_redirect' view='period' %}">library</a>.
        {% endif %}
    {% elif data.view == 'popular' %}
        {% if data.all|length == 0 %}
            Your students haven't done any reading, yet. Assign them something
            to read by clicking the
            <span class="icon-ellipsis-vert"></span> (more actions) icon in the
            lower right of any reading panel in the <a href="{% url 'library_style_redirect' view='period' %}">library</a>.
        {% else %}
            See what your students are reading and what they said about what they learned.
        {% endif %}
    {% endif %}
    </p>
<div>
    <div class="tab-pane" id="popularTab0">
        <div class="library-grid dashboard-grid">
            {% for item in data.all %}
            {% include "library/partial/library_card.html" with book=item.trend.book unauthorized=item.unauthorized read_count_data=item.trend.user_count graph_data=item.comp_check graph_link_prefix="comp-detail-all" graph_link_serial=forloop.counter custom_link_prefix="custom-detail-all" custom_question_data=item.customization show_starred=True show_description=False show_topics=False show_assignments=True show_menu=True %}
            {% endfor %}
        </div>
    </div>
    {% for item in data.all %}
    {% include "pages/partial/modal_comprehension_detail.html" with type="comp" id_prefix="comp-detail-all" id_serial=forloop.counter title_prefix="Student learning" %}
    {% include "pages/partial/modal_comprehension_detail.html" with type="custom" id_prefix="custom-detail-all" id_serial=forloop.counter title_prefix="Custom question" %}
    {% endfor %}
</div>
