<div class="box" data-clusive-tip-id="student_reactions">
    <h2>Your thoughts <span class="icon-thought" aria-hidden="true"></span></h2>
    <div class="box-divider"></div>
    {% if data.empty %}
        You haven’t reacted, yet. Click the
        <span class="icon-thought" aria-hidden="true"></span><span class="sr-only">"Your thoughts"</span>
        button at the bottom left of a reading to add a reaction.
    {% endif %}
    {% include 'shared/partial/affect_wheel_display.html' with data=data.totals %}
</div>
