<div class="box box-mascot-tipped">
    <h2>Recent reads</h2>
    <p>Revisit something you've read, or head to the <a href="{% url 'reader_index' %}">Library</a> for something new.</p>

    <div class="library-grid{% if data.last_reads|length <= 1 and data.featured|length <= 1 %} library-grid-col-2{% endif %} dashboard-grid">
        {% for para in data.last_reads %}
        {% include "library/partial/library_card.html" with book=para.book show_description=True show_menu=False show_topics=False link_stretch=True %}
        {% endfor %}
        {% for book in data.featured %}
        {% include "library/partial/library_card.html" with book=book show_description=True show_menu=False show_topics=False link_stretch=True %}
        {% endfor %}
    </div>
</div>
