<div id="StudentActivityPanel" class="col">
    <div class="box">
        <div class="row gx-1">
            <div class="col">
                <h2 class="mb-0">Active reading time</h2>
            </div>
            <div class="col-12 col-md-auto">
                <section aria-label="Legend">
                    <span class="readtime-legend-mark">
                        <span class="readtime-mark-shared"></span>
                    </span>
                    <span class="readtime-legend-label">Shared</span>
                </section>
            </div>
            <div class="col-12 col-md-auto">
                <span class="text-muted">View:</span>
                <ul class="list list-horizontal list-divided readtime-list-view">
                    <li class="list-item">
                        {% if data.days == 7 %}
                        <span class="active" aria-current="true">Past week</span>
                        {% else %}
                        <a href="#" class="activity-panel-days" data-days="7"
                           data-cle-handler="click" data-cle-control="dash_active_reading_days" data-cle-value="7">Past week</a>
                        {% endif %}
                    </li>
                    <li class="list-item">
                        {% if data.days == 30 %}
                        <span class="active" aria-current="true">Month</span>
                        {% else %}
                        <a href="#" class="activity-panel-days" data-days="30"
                           data-cle-handler="click" data-cle-control="dash_active_reading_days" data-cle-value="30">Month</a>
                        {% endif %}
                    </li>
                    <li class="list-item">
                        {% if data.days == 0 %}
                        <span class="active" aria-current="true">Overall</span>
                        {% else %}
                        <a href="#" class="activity-panel-days" data-days="0"
                           data-cle-handler="click" data-cle-control="dash_active_reading_days" data-cle-value="all">Overall</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-divider"></div>

        <div class="table-scroll readtime-table-scroll">
            <table class="table readtime-table">
                <thead>
                <tr>
                    <th>Student</th>
                    <th class="d-xs-down-none"><span class="sr-only">Reading time for books</span></th>
                    <th>Hours</th>
                    <th><span class="sr-only">Number of </span>Books<span class="sr-only"> read</span></th>
                </tr>
                </thead>
                <tbody>
                {% for info in data.reading_data %}
                <tr>
                    <td>{{ info.clusive_user.user.first_name }}</td>
                    <td class="d-xs-down-none">
                        <div class="readtime-progress">
                            {% for p in info.books %}
                            <div class="readtime-bar{% if p.is_other %} striped{% endif %}"
                                 style="width:{{p.percent_time}}%;"
                                 tabindex="0"
                                 data-cfw="tooltip"
                                 data-clusive-book-id="{{ p.book_id }}"
                                 title="{{ p.title }}, {{ p.hours|floatformat:1}} hours">
                                {% if p.is_assigned %}<span class="readtime-mark-shared"></span>{% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ info.hours|floatformat:1 }}</td>
                    <td>{{ info.book_count }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

