<div id="star_rating_panel" class="box">
    <form action="{% url 'set_star_rating' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend class="form-label"><strong>How would you rate your experience with Clusive so far?</strong></legend>
            <div class="stars">
                <div class="stars-outer">
                    <div class="stars-inner">
                        {% for value, text in star_form.star_rating.field.choices %}
                        {% if not value %}
                        <input type="radio" id="id_star_rating_0" class="stars-no-rate" name="{{star_form.star_rating.name}}" value="0" {% if star_form.star_rating.value == 0 %}checked=""{% endif %} aria-label="Unrated">
                        <span class="stars-focus-indicator"></span>
                        {% else %}
                        <input type="radio" id="id_star_rating_{{value}}" name="{{star_form.star_rating.name}}" value="{{value}}" {% if star_form.star_rating.value == value %}checked=""{% endif %}>
                        <label for="id_star_rating_{{value}}"><span class="sr-only">{{text}}</span></label>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="stars-text">
                    <span class="sr-only">Selected rating:</span>
                    <span class="stars-text-result"><span class="sr-only">Unrated</span></span>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" disabled>Save</button>
    </form>
</div>
