<div id="resourcesHelp" class="box">
<h2>Resources</h2>
<div class="box-divider"></div>
    <div class="embed-fluid embed-fluid-16x9 mb-0_5">
        <iframe id="resourcesIframe" src="https://videos.sproutvideo.com/embed/ac9ed4bf1c1ee2c325/8c2089ffd2b063c4?type=hd" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="Resources video"></iframe>
    </div>
    <p>Get tips, resources and videos for getting you and your students started in Clusive, and for building teaching skills with Clusive tools and features.</p>
    <p>You’ll also find the full book <em><strong>Universal Design for Learning: Theory and Practice</strong></em> here.</p>
    <div class="row gx-0_5 flex-items-center">
        <div class="col">
            <a class="btn btn-primary btn-small" href="{% url 'resources' %}" data-clusive-tip-action="resources">Go to resources</a>
        </div>
    </div>
</div>
