<div class="box box-mascot-tipped">
    <h2>Student reading</h2>
    <p>See what your students are reading and what they said they learned.</p>

    {% if periods.count == 0 %}

    <div class="box-divider"></div>
    <p>
        You haven't created any student accounts, yet.
        Set up your classes by clicking the "Manage" link in the navigation bar.
    </p>
    <a href="{% url 'manage' %}" class="btn btn-primary">Manage</a>

    {% else %}

    <ul class="nav box-tabs mb-0">
        <li class="nav-item"><button type="button" class="nav-link" data-cfw="tab" data-cfw-tab-target="#popularTab0">Popular reads</button></li>
        <li class="nav-item"><button type="button" class="nav-link" data-cfw="tab" data-cfw-tab-target="#popularTab1">Assigned reads</button></li>
    </ul>

    <div class="box-divider"></div>
    <div class="tab-content">
        <div class="tab-pane" id="popularTab0">
            <div class="library-grid dashboard-grid">
                {% for item in data.all %}
                    {% include "library/partial/library_card.html" with book=item.trend.book graph_data=item.comp_check graph_link_prefix="comp-detail-all" graph_link_serial=forloop.counter show_description=False show_menu=False show_topics=False %}
                {% empty %}
                <p class="mx-1">
                    Your students haven't done any reading, yet.
                    Assign them something to read by clicking the <span class="icon-ellipsis-vert"></span>
                    (more actions) icon in the lower right of any reading panel in the library.
                </p>
                <a href="{% url 'reader_index' %}" class="btn btn-primary mx-1">Go to library</a>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" id="popularTab1">
            <div class="library-grid dashboard-grid">
                {% for item in data.assigned %}
                {% include "library/partial/library_card.html" with book=item.trend.book graph_data=item.comp_check graph_link_prefix="comp-detail-assigned" graph_link_serial=forloop.counter show_description=False show_menu=False show_topics=False %}
                {% empty %}
                <p class="mx-1">
                    Your students haven't done any assigned reading, yet.
                    Assign them something to read by clicking the <span class="icon-ellipsis-vert"></span>
                    (more actions) icon in the lower right of any reading panel in the library.
                </p>
                <p><a href="{% url 'reader_index' %}" class="btn btn-primary mx-1">Go to library</a></p>
                {% endfor %}
            </div>
            <div class="box-divider"></div>
            <p><a href="{% url 'library_style_redirect' view='period' %}">See all assigned readings</a> for this class in the library.</p>
        </div>
    </div>

    {% endif %}
</div>

{% for item in data.all %}
<div id="comp-detail-all-{{forloop.counter}}" class="modal why-modal modal-comp-detail" data-clusive-book-id="{{item.trend.book.id}}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Student learning: {{item.trend.book.title}}</h2>
                {% include "shared/partial/dialog_tts.html" %}
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel-circled2" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Loading...
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for item in data.assigned %}
<div id="comp-detail-assigned-{{forloop.counter}}" class="modal why-modal modal-comp-detail" data-clusive-book-id="{{item.trend.book.id}}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Student learning: {{item.trend.book.title}}</h2>
                {% include "shared/partial/dialog_tts.html" %}
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel-circled2" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Loading...
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $('.modal-comp-detail').one('beforeShow.cfw.modal', function(e) {
        var book = $(this).data('clusive-book-id');
        var target = $(this).find('.modal-body');
        $.get('/assessment/comprehension_detail/'+ book)
            .done(function(data, status) {
                target.html(data);
            })
            .fail(function(err) {
                console.error(err);
                target.html('Sorry, there was an error getting the data.');
            });
    });
</script>
