<div class="box box-mascot-tipped">
    <h2>Student reading</h2>

    <div class="row">
        <div class="col">
            <p>See what your students are reading and what they said they learned.</p>
        </div>
        <div class="col-12 col-md-4 col-xl-3 mb-0_5">
            <p><a href="{% url 'upload' %}" class="btn btn-primary btn-xsmall"><span aria-hidden="true">+ </span>Upload a new reading</a></p>
            <p><a href="{% url 'reader_index' %}" class="btn btn-primary btn-xsmall">Go to library</a></p>
        </div>
    </div>

    {% if periods.count == 0 %}

    <div class="box-divider"></div>
    <p>
        You haven't created any student accounts, yet.
        Set up your classes by clicking the "Manage" link in the navigation bar.
    </p>
    <a href="{% url 'manage' %}" class="btn btn-primary">Manage</a>

    {% else %}
        <div id="DashboardPopularReads">
        {% include 'pages/partial/dashboard_panel_popular_reads_data.html' %}
        </div>
    {% endif %}
</div>

{% for item in data.all %}
  {% include "pages/partial/modal_comprehension_detail.html" with type="comp" id_prefix="comp-detail-all" id_serial=forloop.counter title_prefix="Student learning" %}
  {% include "pages/partial/modal_comprehension_detail.html" with type="custom" id_prefix="custom-detail-all" id_serial=forloop.counter title_prefix="Custom question" %}
{% endfor %}
<script>
    setUpDeferredLoadOfCompDetails();
</script>
