// Default theme
$theme-name:                            ".clusive-theme-sepia";
$theme-name-readium:                    "sepia";

$body-bg:                               #faf4e8;
$body-color:                            #333;

$text-muted:                            #666;

$link-color:                            #0d36ab;
$link-hover-color:                      palette($link-color, 700);

$focus-ring-color:                      #636b82;

$img-mix-blend-mode:                    multiply;
$bg-image-override:                     null;

// Use opacity hack to get ~full color bg
// https://stackoverflow.com/a/22751702
$selection-bg:                          rgba(#acfdf0, .99);
$selection-color:                       #333;

$skiplink-bg:                           #6268ad;
$skiplink-color:                        #fbfbfb;
$skiplink-border-color:                 #6268ad;

$library-bg:                            #faf4e8;
$library-header-outer-bg:               $library-bg;
$library-header-bg:                     linear-gradient(90deg, rgba(#b09f88, .375) 0%, rgba(#b09f88, .25) 100%);
$library-logo-color:                    #333;
$library-logo-icon-color:               #ff554d;

$library-filter-bg:                     rgba(#b09f88, .3);
$library-filter-color:                  $body-color;
$library-filter-active-icon-color:      #ff554d;
$library-filter-active-icon-text-shadow: .0625em .0625em 0 rgba(#636b82, .75);

$home-bg:                               #faf4e8;
$home-header-outer-bg:                  $home-bg;
$home-header-bg:                        linear-gradient(90deg, rgba(#b09f88, .375) 0%, rgba(#b09f88, 0) 75%);
$home-logo-color:                       #333;
$home-logo-icon-color:                  #ff554d;
$home-section-border-color:             #636b82;
$login-section-border-color:            #d3cfc9;

$footer-border-color:                   #636b82;

$header-outer-bg:                       $body-bg;
$header-bg:                             linear-gradient(90deg, rgba(#b09f88, .375) 0%, rgba(#b09f88, .25) 100%);
$header-color:                          inherit;
$header-logo-color:                     #89775f;
$header-logo-icon-color:                $header-logo-color;
$header-logo-icon-hover-color:          palette($header-logo-icon-color, 700);

$action-bg:                             transparent;
$action-color:                          $link-color;
$action-hover-bg:                       #6268ad;
$action-hover-color:                    #fbfbfb;
$action-current-bg:                     rgba(#b09f88, .25);
$action-current-color:                  $body-color;

$page-title-border-color:               #a0abfd;

$sidebar-start-bg:                      linear-gradient(180deg, rgba(#b09f88, .175) 0%, rgba(#b09f88, .325) 100%);
$sidebar-end-bg:                        linear-gradient(180deg, rgba(#b09f88, .6) 0%, rgba(#b09f88, .8) 100%);

// Figure
$figure-caption-bg:                     #ebe3d5;
$figure-caption-color:                  #666;

// Cards
$card-bg:                               #ebe3d5;
$card-color:                            inherit;
$card-border-color:                     #ebe3d5;
$card-img-bg:                           rgba(#b09f88, .2);
$card-library-box-shadow:               -.125rem -.5rem 0 .125rem #fbfbfb, -.125rem -.125rem 0 .125rem #fbfbfb;
$card-library-author-color:             #666;
$card-login-bg:                         rgba(#b09f88, .3);
$card-login-color:                      inherit;

// Tables
$table-active-bg:                       #f6efe3;
$table-border-color:                    #d3cfc9;
$table-roster-head-color:               #333;

// Buttons
$btn-primary-focus-ring:                #636b82;
$btn-primary-bg:                        #a0abfd;
$btn-primary-color:                     #111;
$btn-primary-border-color:              transparent;
$btn-primary-hover-bg:                  #6268ad;
$btn-primary-hover-color:               #fbfbfb;
$btn-primary-hover-border-color:        transparent;
$btn-primary-active-bg:                 palette($btn-primary-hover-bg, 600);
$btn-primary-active-color:              $btn-primary-hover-color;
$btn-primary-active-border-color:       transparent;

$btn-secondary-focus-ring:              #636b82;
$btn-secondary-bg:                      #ff554d;
$btn-secondary-color:                   #111;
$btn-secondary-border-color:            transparent;
$btn-secondary-hover-bg:                #6268ad;
$btn-secondary-hover-color:             #fbfbfb;
$btn-secondary-hover-border-color:      transparent;
$btn-secondary-active-bg:               palette($btn-secondary-hover-bg, 600);
$btn-secondary-active-color:            $btn-secondary-hover-color;
$btn-secondary-active-border-color:     transparent;

$btn-nav-focus-ring:                    #636b82;
$btn-nav-bg:                            rgba(#f5f5f5, .9);
$btn-nav-color:                         #6e6355;
$btn-nav-border-color:                  transparent;
$btn-nav-hover-bg:                      rgba(#f5f5f5, .95);
$btn-nav-hover-color:                   palette($btn-nav-color, 700);
$btn-nav-hover-border-color:            transparent;
$btn-nav-active-bg:                     #f5f5f5;
$btn-nav-active-color:                  palette($btn-nav-color, 800);
$btn-nav-active-border-color:           transparent;
$btn-nav-disabled-bg:                   transparent;
$btn-nav-disabled-color:                palette($btn-nav-color, 300);
$btn-nav-disabled-border-color:         transparent;
$btn-nav-disabled-opacity:              1;

$btn-setting-focus-ring:                #636b82;
$btn-setting-bg:                        #ece4d6;
$btn-setting-color:                     #ff554d;
$btn-setting-border-color:              transparent;
$btn-setting-hover-bg:                  palette($btn-setting-bg, 300);
$btn-setting-hover-color:               $btn-setting-color;
$btn-setting-hover-border-color:        transparent;
$btn-setting-active-bg:                 palette($btn-setting-bg, 100);
$btn-setting-active-color:              $btn-setting-color;
$btn-setting-active-border-color:       transparent;
$btn-setting-text-shadow:               .0625em .0625em 0 rgba(#636b82, .75);

$btn-tool-focus-ring:                   #636b82;
$btn-tool-bg:                           #ece4d6;
$btn-tool-color:                        #6e6355;
$btn-tool-border-color:                 transparent;
$btn-tool-hover-bg:                     palette($btn-tool-bg, 300);
$btn-tool-hover-color:                  $btn-tool-color;
$btn-tool-hover-border-color:           transparent;
$btn-tool-active-bg:                    palette($btn-tool-bg, 100);
$btn-tool-active-color:                 $btn-tool-color;
$btn-tool-active-border-color:          transparent;

$btn-tts-focus-ring:                    #636b82;
$btn-tts-bg:                            #ff554d;
$btn-tts-color:                         #111;
$btn-tts-border-color:                  transparent;
$btn-tts-hover-bg:                      #6268ad;
$btn-tts-hover-color:                   #fbfbfb;
$btn-tts-hover-border-color:            transparent;
$btn-tts-active-bg:                     palette($btn-tts-hover-bg, 600);
$btn-tts-active-color:                  $btn-tts-hover-color;
$btn-tts-active-border-color:           transparent;

$btn-option-focus-ring:                 #636b82;
$btn-option-bg:                         #fff;
$btn-option-color:                      #333;
$btn-option-border-color:               transparent;
$btn-option-hover-bg:                   #6268ad;
$btn-option-hover-color:                #fbfbfb;
$btn-option-hover-border-color:         transparent;
$btn-option-active-bg:                  #ff554d;
$btn-option-active-color:               #111;
$btn-option-active-border-color:        transparent;
$btn-option-active-box-shadow-color:    #636b82;
$btn-option-active-box-shadow-opacity:  .9;
$btn-option-active-hover-border-color:  #636b82;

$btn-flag-focus-ring:                   #636b82;
$btn-flag-bg:                           transparent;
$btn-flag-color:                        #6e6355;
$btn-flag-border-color:                 transparent;
$btn-flag-hover-bg:                     #6268ad;
$btn-flag-hover-color:                  #fbfbfb;
$btn-flag-hover-border-color:           transparent;
$btn-flag-active-bg:                    palette($btn-flag-hover-bg, 600);
$btn-flag-active-color:                 $btn-flag-hover-color;
$btn-flag-active-border-color:          transparent;

$btn-tag-focus-ring:                    #636b82;
$btn-tag-bg:                            rgba(#f5f5f5, .9);
$btn-tag-color:                         #6e6355;
$btn-tag-border-color:                  transparent;
$btn-tag-hover-bg:                      rgba(#f5f5f5, 1);
$btn-tag-hover-color:                   palette($btn-tag-color, 700);
$btn-tag-hover-border-color:            transparent;
$btn-tag-active-bg:                     #6e6355;
$btn-tag-active-color:                  #f5f5f5;
$btn-tag-active-border-color:           transparent;

$btn-favorite-focus-ring:               #636b82;
$btn-favorite-bg:                       transparent;
$btn-favorite-color:                    #6e6355;
$btn-favorite-border-color:             transparent;
$btn-favorite-hover-bg:                 transparent;
$btn-favorite-hover-color:              palette($btn-favorite-color, 700);
$btn-favorite-hover-border-color:       transparent;
$btn-favorite-active-bg:                transparent;
$btn-favorite-active-color:             $btn-favorite-color;
$btn-favorite-active-border-color:      transparent;

// Error
$error-bg:                              #d42314;
$error-color:                           #fbfbfb;

// Dropdown
$dropdown-bg:                           #faf4e8;
$dropdown-color:                        #333;
$dropdown-border-color:                 #636b82;
$dropdown-link-color:                   $dropdown-color;
$dropdown-link-hover-bg:                #acfdf0;
$dropdown-link-hover-color:             #333;
$dropdown-link-active-bg:               #ff554d;
$dropdown-link-active-color:            #111;

// Popovers
$popover-bg:                            #faf4e8;
$popover-border-color:                  #636b82;
$popover-header-bg:                     #dad5cc;
$popover-header-color:                  #333;
$popover-header-border-color:           #d3cfca;
$popover-body-color:                    #333;
$popover-footer-bg:                     #dad5cc;
$popover-footer-color:                  #333;
$popover-footer-border-color:           #d3cfca;
$popover-section-border-color:          #d3cfca;

// Modals
$modal-backdrop-bg:                     #343e48;
$modal-backdrop-opacity:                .25;
$modal-content-bg:                      #faf4e8;
$modal-content-color:                   #333;
$modal-content-border-color:            #636b82;
$modal-header-bg:                       #dad5cc;
$modal-header-color:                    #333;
$modal-header-border-color:             #d3cfca;
$modal-footer-bg:                       #dad5cc;
$modal-footer-color:                    #333;
$modal-footer-border-color:             #d3cfca;
$modal-section-border-color:            #d3cfca;

// Goals
$goal-modal-title-color:                inherit;
$goal-modal-subtitle-color:             inherit;

// Why modal
$why-modal-title-color:                 inherit;
$why-icon-color:                        #6e6355;
$why-icon-active-color:                 #ff554d;
$why-icon-active-text-shadow-color:     #6e6355;
$why-icon-active-text-shadow-opacity:   .75;

// Settings
$setting-border-color:                  #d3cfc9;
$setting-title-color:                   #666;
$setting-modal-content-bg:              #ebe3d5;
$setting-modal-content-color:           #333;
$setting-modal-content-border-color:    #636b82;
$setting-modal-header-bg:               #dad5cc; //rgba(#d3cfc9, .7);
$setting-modal-header-color:            #333;
$setting-modal-header-border-color:     #d3cfc9;
$setting-modal-footer-bg:               #dad5cc; //rgba(#d3cfc9, .7);
$setting-modal-footer-border-color:     #d3cfc9;

// Settings tabs
$setting-tab-bg:                        transparent;
$setting-tab-color:                     #333;
$setting-tab-border-color:              transparent;
$setting-tab-hover-bg:                  #acfdf0;
$setting-tab-hover-color:               #333;
$setting-tab-hover-border-color:        transparent;
$setting-tab-active-bg:                 transparent;
$setting-tab-active-color:              #333;
$setting-tab-active-border-color:       #ff554d;

// TOC
$toc-modal-content-bg:                  #faf4e8;
$toc-modal-content-color:               #333;
$toc-modal-content-border-color:        #636b82;
$toc-modal-header-bg:                   #dad5cc; //rgba(#d3cfc9, .7);
$toc-modal-header-color:                #333;
$toc-modal-header-border-color:         #d3cfc9;

// TOC tabs
$toc-tab-bg:                            transparent;
$toc-tab-color:                         #333;
$toc-tab-border-color:                  transparent;
$toc-tab-hover-bg:                      #acfdf0;
$toc-tab-hover-color:                   #333;
$toc-tab-hover-border-color:            transparent;
$toc-tab-active-bg:                     transparent;
$toc-tab-active-color:                  #333;
$toc-tab-active-border-color:           #ff554d;

// TOC menu
$toc-active-bg:                         #ff554d;
$toc-link-color:                        #333;
$toc-link-bg:                           $toc-modal-content-bg;
$toc-link-border-color:                 #d3cfca;
$toc-link-hover-color:                  #333;
$toc-link-hover-bg:                     #acfdf0;
$toc-link-hover-border-color:           #d3cfca;
$toc-caret-color:                       $link-color;
$toc-caret-bg:                          $toc-link-bg;
$toc-caret-hover-color:                 $toc-link-hover-color;
$toc-caret-hover-bg:                    $toc-link-hover-bg;
$toc-nav-link-bg-d0:                    $toc-modal-content-bg;
$toc-nav-link-color-d0:                 $toc-link-color;
$toc-nav-caret-bg-d0:                   $toc-nav-link-bg-d0;
$toc-nav-caret-color-d0:                $link-color;
$toc-nav-link-bg-d1:                    #f4ede0;
$toc-nav-link-color-d1:                 $toc-link-color;
$toc-nav-caret-bg-d1:                   $toc-nav-link-bg-d1;
$toc-nav-caret-color-d1:                $link-color;
$toc-nav-link-bg-d2:                    #eee6d9;
$toc-nav-link-color-d2:                 $toc-link-color;
$toc-nav-caret-bg-d2:                   $toc-nav-link-bg-d2;
$toc-nav-caret-color-d2:                $link-color;

// Word rank
$ranking-border-color:                  #d3cfc9;

// Form check input
$form-checkradio-border-color:          #636b82;
$form-checkradio-checked-bg:            #ff554d;
$form-checkradio-checked-border-color:  #ff554d;
$form-checkradio-focus-border-color:    #636b82;
$form-checkradio-focus-box-shadow-color:        #636b82;
$form-checkradio-focus-box-shadow-opacity:      .85;
$form-checkradio-checked-box-shadow-color:      #636b82;
$form-checkradio-checked-box-shadow-opacity:    .9;

// Form range input
$form-range-track-bg:                   #d3cfc9;
$form-range-thumb-bg:                   #ff554d;
$form-range-thumb-box-shadow-color:     #636b82;
$form-range-thumb-box-shadow-opacity:   .9;
$form-range-thumb-focus-box-shadow-color:       #636b82;
$form-range-thumb-focus-box-shadow-opacity:     .85;
$form-range-thumb-active-bg:            #ff554d;
$form-range-tip-color:                  #666;

// Form switch input
$form-switch-track-bg:                      #d3cfc9;
$form-switch-track-border-color:            #636b82;
$form-switch-track-focus-border-color:      #636b82;
$form-switch-track-focus-box-shadow-color:  #636b82;
$form-switch-track-focus-box-shadow-opacity:    .85;
$form-switch-track-checked-bg:              #ff554d;
$form-switch-track-checked-border-color:    #636b82;

$form-switch-thumb-bg:                      #fbfbfb;
$form-switch-thumb-box-shadow-color:        #636b82;
$form-switch-thumb-box-shadow-opacity:      .9;
$form-switch-thumb-focus-bg:                #fbfbfb;
$form-switch-thumb-checked-bg:              #fbfbfb;
$form-switch-thumb-checked-border-color:    #fbfbfb;
$form-switch-thumb-checked-box-shadow-color:    #636b82;
$form-switch-thumb-checked-box-shadow-opacity:  .9;

// Word bank
$wordbank-border-color:                 #d3cfc9;
$wordbank-col-bg:                       #f6efe3;
$wordbank-control-color:                $link-color;
$wordbank-control-hover-color:          $link-hover-color;
$wordbank-title-color:                  #333;
$wordbank-count-bg:                     #ff554d;
$wordbank-count-color:                  #111;
$wordbank-count-border-color:           #ff554d;
$wordbank-count-empty-bg:               #fff;
$wordbank-count-empty-color:            #111;
$wordbank-count-empty-border-color:     #636b82;

// Text-to-Speech (TTS)
$tts-highlight-bg:                      #fd6;
$tts-highlight-color:                   #636b82;

$sidebar-tts-active-bg:                 #ff554d;

// Glossary/definitions
$glossary-underline:                    #a0abfd;
$definition-speech-color:               #666;

// Image description
$image-desc-cite-color:                 #666;

// Highlight/Note
$highlight-bg:                          rgba(#a0abfd, .5);
$highlight-color:                       $body-color;
$highlight-hover-bg:                    rgba(#a0abfd, .75);
$highlight-hover-color:                 $body-color;
$highlight-undelete-bg:                 #d3cfc9;

$note-title-color:                      #666;
$note-undelete-bg:                      #d3cfc9;

// Highlight R2D2BC overlay
$highlight-overlay-bg:                  rgba(#a0abfd, .5);
$highlight-overlay-hover-bg:            rgba(#a0abfd, .75);
$highlight-overlay-mix-blend-mode:      multiply;

// Toolbox (Context menu)
$toolbox-menu-bg:                       #fff;
$toolbox-menu-color:                    #6e6355;
$toolbox-menu-border-color:             #6e6355;
$toolbox-btn-bg:                        $toolbox-menu-bg;
$toolbox-btn-color:                     $toolbox-menu-color;
$toolbox-btn-hover-bg:                  #acfdf0;
$toolbox-btn-hover-color:               #111;
