<div id="modalSettings" class="modal setting-modal">
    <div class="modal-dialog modal-dialog-side-end modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5">Settings</h2>
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary btn-xsmall cislc-modalSettings-reset" type="reset">Reset</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Text size</legend>
                            <div class="option-font-size">
                                <label for="set-size" class="sr-only">Text size</label>
                                <input id="set-size" type="range" class="form-range cislc-modalSettings-textSize" min="0.5" max="2" step="0.1" value="1">
                            </div>
                        </fieldset>
                    </div>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Line spacing</legend>
                            <div class="setting-btn-row">
                                <div class="btn-check">
                                    <input id="option-line-height-1" name="option-line-height" class="btn-check-input cislc-modalSettings-lineSpacing" value="default" type="radio" checked>
                                    <label for="option-line-height-1" class="btn btn-option">
                                        <span class="icon-line-height-1" aria-hidden="true"></span>
                                        <span class="sr-only">Default</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-line-height-2" name="option-line-height" class="btn-check-input cislc-modalSettings-lineSpacing" value="tall" type="radio">
                                    <label for="option-line-height-2" class="btn btn-option">
                                        <span class="icon-line-height-2" aria-hidden="true"></span>
                                        <span class="sr-only">Tall</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-line-height-3" name="option-line-height" class="btn-check-input cislc-modalSettings-lineSpacing" value="taller" type="radio">
                                    <label for="option-line-height-3" class="btn btn-option">
                                        <span class="icon-line-height-3" aria-hidden="true"></span>
                                        <span class="sr-only">Taller</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Letter spacing</legend>
                            <div class="setting-btn-row">
                                <div class="btn-check">
                                    <input id="option-letter-spacing-1" name="option-letter-spacing" class="btn-check-input cislc-modalSettings-letterSpacing" type="radio" value="default" checked>
                                    <label for="option-letter-spacing-1" class="btn btn-option">
                                        <span class="icon-text-space-1" aria-hidden="true"></span>
                                        <span class="sr-only">Default</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-letter-spacing-2" name="option-letter-spacing" class="btn-check-input cislc-modalSettings-letterSpacing" value="wide" type="radio">
                                    <label for="option-letter-spacing-2" class="btn btn-option">
                                        <span class="icon-text-space-2" aria-hidden="true"></span>
                                        <span class="sr-only">Wide</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-letter-spacing-3" name="option-letter-spacing" class="btn-check-input cislc-modalSettings-letterSpacing" value="wider" type="radio">
                                    <label for="option-letter-spacing-3" class="btn btn-option">
                                        <span class="icon-text-space-3" aria-hidden="true"></span>
                                        <span class="sr-only">Wider</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Font</legend>
                            <div class="form-check form-checkradio">
                                <input id="option-font-family-0" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="default" type="radio" checked>
                                <label for="option-font-family-0" class="form-check-label">Default</label>
                            </div>
                            <div class="form-check form-checkradio">
                                <input id="option-font-family-1" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="times" type="radio">
                                <label for="option-font-family-1" class="form-check-label">Times New Roman</label>
                            </div>
                            <div class="form-check form-checkradio">
                                <input id="option-font-family-2" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="comic" type="radio">
                                <label for="option-font-family-2" class="form-check-label">Comic Sans</label>
                            </div>
                            <div class="form-check form-checkradio">
                                <input id="option-font-family-3" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="arial" type="radio">
                                <label for="option-font-family-3" class="form-check-label">Arial</label>
                            </div>
                            <div class="form-check form-checkradio">
                                <input id="option-font-family-4" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="verdana" type="radio">
                                <label for="option-font-family-4" class="form-check-label">Verdana</label>
                            </div>

                            <div class="form-check form-checkradio">
                                <input id="option-font-family-5" name="option-font-family" class="form-check-input cislc-modalSettings-font" value="open-dyslexic" type="radio">
                                <label for="option-font-family-5" class="form-check-label">Open Dyslexic</label>
                            </div>

                        </fieldset>
                    </div>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Color</legend>
                            <div class="setting-btn-row option-color-theme">
                                <div class="btn-check">
                                    <input id="option-color-theme-0" name="option-color-theme" class="btn-check-input cislc-modalSettings-color" value="default" type="radio" checked>
                                    <label for="option-color-theme-0" class="btn btn-default">
                                        <span class="sr-only">Default</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-color-theme-1" name="option-color-theme" class="btn-check-input cislc-modalSettings-color" value="night" type="radio">
                                    <label for="option-color-theme-1" class="btn btn-night">
                                        <span class="sr-only">Night</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-color-theme-2" name="option-color-theme" class="btn-check-input cislc-modalSettings-color" value="sepia" type="radio">
                                    <label for="option-color-theme-2" class="btn btn-sepia">
                                        <span class="sr-only">Sepia</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    {% comment %}
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Columns</legend>
                            <div class="setting-btn-row">
                                <div class="btn-check">
                                    <input id="option-column-count-1" name="option-column-count" class="btn-check-input" type="radio" checked>
                                    <label for="option-column-count-1" class="btn btn-xlarge btn-option">
                                        <span class="icon-column-1" aria-hidden="true"></span>
                                        <span class="sr-only">Single</span>
                                    </label>
                                </div>
                                <div class="btn-check">
                                    <input id="option-column-count-2" name="option-column-count" class="btn-check-input" type="radio">
                                    <label for="option-column-count-2" class="btn btn-xlarge btn-option">
                                        <span class="icon-column-2" aria-hidden="true"></span>
                                        <span class="sr-only">Double</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="setting">
                        <fieldset>
                            <legend class="setting-title">Lookup</legend>
                            <div class="form-check form-switch">
                                <input id="option-lookup" class="form-check-input" type="checkbox">
                                <label for="option-lookup" class="form-check-label">Enable</label>
                            </div>
                        </fieldset>
                    </div>
                    {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</div>