@font-face {
  font-family: 'fontello';
  src: url('./fontello.eot?89568656');
  src: url('./fontello.eot?89568656#iefix') format('embedded-opentype'),
       url('./fontello.woff2?89568656') format('woff2'),
       url('./fontello.woff?89568656') format('woff'),
       url('./fontello.ttf?89568656') format('truetype'),
       url('./fontello.svg?89568656#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./fontello.svg?89568656#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  min-width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cog:before { content: '\e800'; } /* '' */
.icon-line-height-1:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-align-justify:before { content: '\e804'; } /* '' */
.icon-chevron-left:before { content: '\e805'; } /* '' */
.icon-chevron-right:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-book:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-line-height-2:before { content: '\e80c'; } /* '' */
.icon-volume-down:before { content: '\e80d'; } /* '' */
.icon-climb:before { content: '\e80e'; } /* '' */
.icon-hike:before { content: '\e80f'; } /* '' */
.icon-logo-clusive-orig:before { content: '\e810'; } /* '' */
.icon-logo-clusive-toggle:before { content: '\e811'; } /* '' */
.icon-a:before { content: '\e812'; } /* '' */
.icon-walk:before { content: '\e813'; } /* '' */
.icon-stop:before { content: '\e814'; } /* '' */
.icon-line-focus-1:before { content: '\e815'; } /* '' */
.icon-line-focus-2:before { content: '\e816'; } /* '' */
.icon-line-focus-3:before { content: '\e817'; } /* '' */
.icon-line-height-3:before { content: '\e818'; } /* '' */
.icon-text-space-1:before { content: '\e819'; } /* '' */
.icon-text-space-2:before { content: '\e81a'; } /* '' */
.icon-text-space-3:before { content: '\e81b'; } /* '' */
.icon-settings:before { content: '\e81c'; } /* '' */
.icon-column-1:before { content: '\e81d'; } /* '' */
.icon-column-2:before { content: '\e81e'; } /* '' */
.icon-play-circled2:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e820'; } /* '' */
.icon-th-large:before { content: '\e821'; } /* '' */
.icon-th-list:before { content: '\e822'; } /* '' */
.icon-heart:before { content: '\e823'; } /* '' */
.icon-heart-empty:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-star-empty:before { content: '\e826'; } /* '' */
.icon-bookmark:before { content: '\e827'; } /* '' */
.icon-bricks:before { content: '\e828'; } /* '' */
.icon-ci-boat:before { content: '\e829'; } /* '' */
.icon-ci-boat-active:before { content: '\e82a'; } /* '' */
.icon-ci-car:before { content: '\e82b'; } /* '' */
.icon-ci-car-active:before { content: '\e82c'; } /* '' */
.icon-ci-spaceship:before { content: '\e82d'; } /* '' */
.icon-ci-spaceship-active:before { content: '\e82e'; } /* '' */
.icon-view-paged:before { content: '\e82f'; } /* '' */
.icon-view-scroll:before { content: '\e830'; } /* '' */
.icon-switch:before { content: '\e831'; } /* '' */
.icon-universal-access:before { content: '\e832'; } /* '' */
.icon-thought:before { content: '\e833'; } /* '' */
.icon-logo-clusive-tm:before { content: '\e834'; } /* '' */
.icon-align-left:before { content: '\e835'; } /* '' */
.icon-picture:before { content: '\e836'; } /* '' */
.icon-cloud:before { content: '\e837'; } /* '' */
.icon-flash:before { content: '\e838'; } /* '' */
.icon-tag-img:before { content: '\e839'; } /* '' */
.icon-tag-word:before { content: '\e83a'; } /* '' */
.icon-globe:before { content: '\e83b'; } /* '' */
.icon-block:before { content: '\e83c'; } /* '' */
.icon-wrench:before { content: '\e83d'; } /* '' */
.icon-logo-clusive:before { content: '\e83e'; } /* '' */
.icon-chevron-down:before { content: '\e83f'; } /* '' */
.icon-chevron-up:before { content: '\e840'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
