{% load static %}
{% comment %}
<strong>{{defs.headword}}</strong>
{% endcomment %}

{% for m in defs.meanings %}
<p>
    <span class="definition-speech">({{m.pos}})</span> <span class="definition-meaning">{{m.definition}}</span><br />
    {% for e in m.examples %}
        <span class="definition-example">{{e}}</span>
    {% endfor %}
</p>
{% endfor %}

{% for m in defs.meanings %}
    {% for img in m.images %}
        <figure class="figure">
            <img class="figure-img img-fluid" src="{% get_media_prefix %}{{book_path}}/{{img.src}}" alt="{{img.alt}}" />            
            <div class="figure-caption">
                {{img.caption}}
                {% if img.description %}
                <details class="definition-details"
                         data-cle-handler="click" data-cle-control="glossary-image-description:{{defs.headword}}" data-cle-value="opened">
                    <summary>details</summary>
                    <p>{{img.description}}</p>
                </details>
                {% endif %}
            </div>
        </figure>
    {% endfor %}
{% endfor %}
