@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

cite{
	margin-top: 1em;
}

span.brace{
	font-size: 2em;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
}

[epub|type~="z3998:postscript"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:letter"] footer p{
	text-indent: 0;
}

p.signature,
blockquote p.signature{
	text-align: right;
	font-variant: small-caps;
	margin-top: 1em;
}

p.signature + p.signature{
	margin-top: 0;
}

span.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

blockquote[epub|type~="z3998:poem"] header p{
	text-align: center;
}

blockquote header,
blockquote.magazine header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

blockquote.magazine header p{
	text-indent: 0;
}

blockquote.magazine header p.title{
	font-size: 1.2em;
}

blockquote.magazine .bereavement{
	border: 1px solid;
	padding: 1em;
}

table{
	margin: 1em auto;
}
