:root {
    //// Update base font
    //--RS__baseFontFamily: #{$font-family-sans-serif};
    // Add margin top/bottom spacing
    --RS__paraSpacing: #{$paragraph-spacer-y / 2};
    // Remove text indent
    --RS__paraIndent: 0;
    // Decrease header spacing (default: 1.5rem)
    --RS__flowSpacing: 1rem;
    //// Remove left/right padding on body
    //--RS__pageGutter: 0;
    //// Unset base max body width/line length
    //--RS__maxLineLength: 0;

    @media (max-width: 47.98em) {
        --RS__pageGutter: 10px;
    }

    @media (max-width: 35.98em) {
        --RS__pageGutter: 0;
    }

    &[style*="readium-font-on"][style*="--USER__fontFamily"] {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: inherit !important; // stylelint-disable-line declaration-no-important
        }
    }
}

:focus {
    outline-color: var(--CRT_focusRingColor);
}

//body {
//    // Remove max body width/line length for all variants
//    max-width: none !important;
//}

// Override Readium-CSS audio sizing due to Safari issue
audio {
    width: 100%;
    height: 2em;
}

//stylelint-disable selector-max-id, selector-class-pattern, declaration-no-important
#R2_ID_HIGHLIGHTS_CONTAINER .R2_CLASS_HIGHLIGHT_AREA,
#R2_ID_DEFINITIONS_CONTAINER .R2_CLASS_HIGHLIGHT_AREA {
    pointer-events: auto !important;
    cursor: pointer;
}
