{% extends "shared/base.html" %}
{% load static socialaccount %}

{% block bodyClass %}home sidebar-no-start sidebar-no-end{% endblock %}
{% block title %}Welcome to Clusive{% endblock %}

{% block preference_panel %} {% endblock %}

{% block header %}
{% include "shared/partial/site_header_home.html" %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block sidebar_end %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">

    <h1>Welcome to Clusive</h1>
    <p>Clusive&reg; is a flexible, customizable learning environment that adapts to you. Clusive is part of the <a href="https://cisl.cast.org?utm_source=clusive&utm_medium=web&utm_campaign=none&utm_content=home">Center on Inclusive Software for Learning</a>.</p>

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card card-login">
                <div class="card-body login-section">
                    <h2 class="mb-1">Log in to Clusive</h2>
                    <div class="socialaccount_ballot">
                        <ul class="list-unstyled text-center mb-0_5">
                            <li class="mb-0_5">
                            <form method="get" action="{% provider_login_url 'google' process=process scope=scope auth_params=auth_params %}">
                                <button type="submit" class="socialaccount_provider login-btn login-google">
                                    <span class="sr-only">Sign in with Google</span>
                                </button>
                            </form>
                            <li>
                        </ul>
                        {% for message in messages %}
                            {% if message.level >= DEFAULT_MESSAGE_LEVELS.WARNING %}
                                <div class="errorlist">
                                    <p>{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="rule-text">or</div>

                    {% if email_validate %}
                    <div class="errorlist">
                        You need to validate your email address before you can log in.
                        Please check your email for the link.
                        <p><a href="{% url 'validate_resend' user_id=user_id %}" style="color: inherit">Resend email</a></p>
                    </div>
                    {% elif form.errors %}
                    <div class="errorlist">
                        Your username and password didn't match. Please try again.
                    </div>
                    {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}:</label>
                            <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" class="form-control" required{% if form.username.value != None %} value="{{ form.username.value }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}:</label>
                            <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>

                    <ul class="list-unstyled pt-0_5 mt-1">
                        <li class="mb-0_5">
                            <a href="{% url 'password_reset' %}">I forgot my username or password</a>
                        </li>
                        <li>
                            <a href="{% url 'sign_up_role' %}">Create a free account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 order-sm-first">
            <div class="card card-login">
                <div class="card-body login-section">
                    <h2 class="mb-1">Try Clusive as a Guest</h2>
                    <p class="card-text">
                        <a href="{% url 'guest_login' %}" class="btn btn-secondary btn-splash">Try Clusive</a>
                    </p>
                </div>
                <div class="card-body login-section d-xs-down-none">
                    <ul class="list-unstyled">
                        <li class="media">
                            <div class="media-img"><img src="{% static "shared/images/home-hand.png" %}" class="img-fluid" role="presentation" alt=""></div>
                            <div class="media-body">Adaptive learning environment</div>
                        </li>
                        <li class="media">
                            <div class="media-img"><img src="{% static "shared/images/home-accessible.svg" %}" class="img-fluid" role="presentation" alt=""></div>
                            <div class="media-body">High-quality accessible content</div>
                        </li>
                        <li class="media">
                            <div class="media-img"><span class="icon-settings" aria-hidden="true"></span></div>
                            <div class="media-body">Customizable reader preferences</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <h2 class="mb-1">See a demo</h2>
            <div class="embed-fluid embed-fluid-16x9">
                <iframe class="embed-fluid-item" src="https://www.youtube.com/embed/0vauZJBWhXs" title="YouTube video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <h2 class="mb-1 pt-1 mt-1">Learn more</h2>
            <p>Volunteer as a co-designer or beta tester.
                <a href="https://forms.gle/vv6vefWsX6HNznfN7">Contact us to sign up.</a></p>
            <p>Interested in learning more about CISL? <a href="https://cisl.cast.org/about/events?utm_source=clusive&utm_medium=web&utm_campaign=none&utm_content=home">See project updates.</a></p>
            <p><a href="https://cisl.cast.org/products/clusive-guides">Quick Start Guides</a></p>
            <p><a href="https://docs.google.com/document/d/1ACE8Qsk_v73vdZyyKPvOg5njWnAwN4ZNCE3UyHJKSZA/edit?usp=sharing">Clusive FAQs</a></p>
        </div>
    </div>

</main>

{% include 'shared/partial/site_footer_home.html' %}
{% endblock %}
