{% extends "shared/base.html" %}
{% load static figuration %}

{% block title %}Add Class{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block content %}
<div class="content">
    <main id="content" tabindex="-1">
        <div class="row">
            <div class="col">
                <h1>Add Class</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for radio in form.create_type %}
                        <p>
                            {{ radio }}
                            {% if radio.choice_label == 'Create manually' %}
                                <div style="margin-left: 1em; margin-top: -1em;">
                                {{ form.name.label_tag | formlabel }}
                                {{ form.name.errors }}
                                {{ form.name }}
                                </div>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                    <input type="submit" class="btn btn-secondary" value="Next"/>
                    <a href="{% url 'manage' %}" class="btn btn-link">Cancel</a>
                </form>
                <hr width=100%>
                <form action="/account/get_google_courses">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Google Courses</legend>
                        <p>
                            <input type="submit" class="btn btn-secondary" value="Import from Google Classroom"/>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

