{% extends "shared/base.html" %}
{% load static figuration %}

{% block title %}Add Class{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block content %}
<div class="content">
    <main id="content" tabindex="-1">
        <div class="row">
            <div class="col">
                <h1>Add Class</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.name.label_tag | formlabel }}
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    <input type="submit" class="btn btn-secondary" value="Save and continue"/>
                    <a href="{% url 'manage' %}" class="btn btn-link">Cancel</a>
                </form>
            </div>
        </div>
        <form action="/account/get_google_courses">
            {% csrf_token %}
            <fieldset>
                <legend>Google Courses</legend>
                <p>
                    <input id="googleClassRadio" type="radio" class="btn btn-secondary"/>
                    <label for="googleClassRadio">Import class from Google Classroom</label>
               </p>
                <p>
                    <input type="submit" class="btn btn-secondary" value="Next"/>
                </p>
            </fieldset>
        </form>
    </main>
</div>
{% endblock %}

