{% extends "shared/base.html" %}
{% load static figuration %}

{% block title %}Add Class{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block content %}
<div class="content">
    <main id="content" tabindex="-1">
        <div class="row">
            <div class="col">
                <h1>Add Class</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.create_type }}
                        <div class="form-group">
                            <label for="manual">
                                <input id="manual" type="radio" name="create_type" value="manually" required="">
                                Create manually
                            </label><br>
                            {{ form.name.label_tag | formlabel }}
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div>
                        <p></p>
                        <div class="form-group">
                            <label for="import">
                                <input id="import" type="radio" name="create_type" value="import" required="">
                                Import from Google Classroom (NOT FUNCTIONAL)
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-secondary" value="Save and continue"/>
                    <a href="{% url 'manage' %}" class="btn btn-link">Cancel</a>
                </form>
                <form action="/account/get_google_courses">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Google Courses</legend>
                        <p>
                            <input type="submit" class="btn btn-secondary" value="Import from Google Classroom"/>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}

