{% extends "shared/base.html" %}
{% load static figuration %}

{% block title %}Import Google Roster{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block content %}
<div class="content">
    <main id="content" tabindex="-1">
        <div class="row">
            <div class="col">
                <h1>Preview and Confirm: {{ period_name }}</h1>
            </div>
        </div>
        <div class="form-group mb-1">
            <div class="table-scroll">
                <table class="table table-divided table-roster">
                    <thead>
                        <tr>
                            <th>Display name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Account status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.role_display }}</td>
                            <td>{% if student.exists %}Existing account{% else %}New to Clusive{% endif %}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td><p>There are no students in this class.</p></td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if students %}
            <a href="{% url 'google_import_confirm' course_id=course_id %}" class="btn btn-secondary">Import class</a>
            {% else %}
            <button type="button" class="btn btn-secondary" disabled>Import class</button>
            {% endif %}
            <a href="{% url 'manage' %}" class="btn btn-link">Cancel</a>
        </div>
    </main>
</div>
{% endblock %}

