{% extends "shared/base.html" %}
{% load static %}

{% block title %}Manage{% endblock %}

{% block head_additional %}
<script>
    $(function() {
        $('#period-edit-button').on('click', function() {
            $('#period-edit-button').hide();
            $('#period-name').hide();
            $('#period-form').show();
        });
        $('#period-edit-cancel').on('click', function() {
            $('#period-edit-button').show();
            $('#period-name').show();
            $('#period-form').hide();
        });
    });
</script>
{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block content %}
<div class="content">
    <main id="content" tabindex="-1">
        <div class="row">
            <div class="col">
                <h1>
                    Manage:
                    <span id="period-name">{{ current_period.name }}</span>
                </h1>
                <button id="period-edit-button" class="btn btn-primary btn-small">Edit</button>
                <form method="post" action="{% url 'manage_edit_period' pk=current_period.pk  %}" id="period-form" class="form-inline" style="display:none;">
                    {% csrf_token %}
                    <label class="sr-only" for="{{ period_name_form.name.id_for_label }}">Class name</label>
                    {{ period_name_form.name }}
                    <button type="submit" class="btn btn-primary btn-small">Save</button>
                    <a id="period-edit-cancel" href="#">Cancel</a>
                </form>
            </div>
            {% include "shared/partial/period_selector.html" %}
        </div>

        <div class="table-scroll">
            <table class="table table-divided table-roster">
                <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for s in students %}
                  {% include 'roster/partial/manage_row.html' with info=s.info form=s.form %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}