{% extends "shared/base.html" %}
{% load i18n static figuration %}

{% block bodyClass %}home{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" with home_link=True %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block sidebar_end %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">
    <h1>{{title}}</h1>
{% block instructions %}
    <p>...</p>
{% endblock %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card card-login">
                <div class="card-body">
{% block form %}
{% endblock %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}