{% extends "roster/password_base.html" %}
{% load i18n figuration %}

{% block bodyClass %}library{% endblock %}

{% block title %}Clusive password reset{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" %}
{% endblock %}

{% block sidebar_end %}
{% include "shared/partial/sidebar_end.html" with read_aloud=True lookup=True %}
{% endblock %}

{% block instructions %}
{% endblock %}

{% block form %}
<p>{% trans "Your password has been changed." %}</p>
<p><a href="{% url 'index' %}" class="btn btn-primary">{% trans 'Go to my library' %}</a></p>

{% endblock %}
