{% extends "roster/password_base.html" %}
{% load i18n figuration %}

{% block bodyClass %}library{% endblock %}

{% block title %}Clusive: change password{% endblock %}

{% block header %}
{% include "shared/partial/site_header.html" %}
{% endblock %}

{% block sidebar_end %}
{% include "shared/partial/sidebar_end.html" with read_aloud=True lookup=True %}
{% endblock %}

{% block instructions %}
{% endblock %}

{% block form %}
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

{% if form.non_field_errors %}
<div class="card-login-error">
    {{ form.non_field_errors }}
</div>
{% endif %}

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-group">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag | formlabel }}
            {{ form.old_password | formcontrol }}
        </div>
    </fieldset>
    <fieldset class="module aligned">
        <div class="form-group">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag | formlabel }}
            {{ form.new_password1 | formcontrol }}
            <div class="form-text small">Choose something hard to guess, at least 6 characters, and not just numbers.</div>
        </div>
        <div class="form-group">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag | formlabel }}
            {{ form.new_password2 | formcontrol }}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}">
        </div>
    </fieldset>
</form>
{% endblock %}
