{% extends "roster/password_base.html" %}
{% load i18n figuration %}

{% block title %}Clusive password reset{% endblock %}

{% block instructions %}
    <p>{% trans "Forgotten your username or password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
{% endblock %}

{% block form %}
<form method="post">{% csrf_token %}
    {% if form.errors %}
    <div class="card-login-error">
        {{ form.errors }}
    </div>
    {% endif %}
    <div class="form-group">
        <label class="form-label" for="{{ form.email.id_for_label }}">{% trans 'Email address:' %}</label>
        {{ form.email | formcontrol }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}">
    </div>
</form>

{% endblock %}