{% extends "shared/base.html" %}
{% load i18n static figuration %}

{% block bodyClass %}home{% endblock %}

{% block header %}
{% include "shared/partial/site_header_home.html" with home_link=True %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block sidebar_end %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">
    {% block h1 %}
    <h1>{{title}}</h1>
    {% endblock %}
{% block instructions %}
    <p>...</p>
{% endblock %}

    <div class="row">
        <div class="col-sm-6">
            <div class="box">
{% block form %}
{% endblock %}
            </div>
        </div>
    </div>
</main>
{% endblock %}