{% extends "roster/password_base.html" %}
{% load static %}
{% load static figuration %}

{% block title %}Clusive: Account signup{% endblock %}

{% block h1 %}
<h1 class="mb-1">Create new account</h1>
{% endblock %}

{% block instructions %}
{% endblock %}

{% block form %}
<p>We’re excited to get you started,
    but you need to ask your parent or guardian
    to create an account for you.</p>
<p>Let’s <strong>clue</strong> them in!</p>

<a class="btn btn-primary" href="/">Back</a>
</p>
{% endblock %}

