{% extends "roster/password_base.html" %}
{% load static %}
{% load static figuration %}

{% block title %}Clusive: Account signup{% endblock %}

{% block h1 %}
<h1 class="mb-1">Create new account</h1>
{% endblock %}

{% block instructions %}
{% endblock %}

{% block form %}
<h2>How old are you?</h2>
<p>
    You must be at least 18 years old to sign up for Clusive.
    <strong>Are you 18 or older?</strong>
</p>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for radio in form.of_age %}
        <div class="form-check form-checkradio mb-1">
            {{ radio.tag | formcontrol }}
            <label class="form-check-label" for="{{ radio.id_for_label }}">
                <strong>{{ radio.choice_label }}.</strong>
                {% cycle '' 'An adult can create an account for you.' %}
            </label>
        </div>
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-secondary" value="Continue"/>
    <a class="btn btn-link" href="/account/cancel_registration">Cancel</a>
</form>
{% endblock %}

