{% extends "roster/password_base.html" %}
{% load static %}
{% load static figuration %}

{% block title %}Clusive: Account signup{% endblock %}

{% block h1 %}
<h1 class="mb-1">Create new account</h1>
{% endblock %}

{% block instructions %}
{% endblock %}

{% block form %}
<h2>Hi! What kind of account?</h2>
<p>Which best describes you...</p>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for radio in form.role %}
        <div class="custom-control custom-radio">
            {{ radio.tag | formcontrol }}
            <label class="custom-control-indicator" for="{{ radio.id_for_label }}"></label>
            <label class="custom-control-label" for="{{ radio.id_for_label }}">
                <strong>{{ radio.choice_label }}.</strong>
                I want to use Clusive
                {% cycle 'with my students.' 'with my child(ren).' 'myself.' %}
            </label>
        </div>
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-secondary" value="Continue"/>
</form>
{% endblock %}

