{% extends "shared/base.html" %}
{% load static %}

{% block title %}Student Details{% endblock %}
{% block header %}
{% include "shared/partial/site_header.html" with page_group="manage" %}
{% endblock %}

{% block sidebar_start %}
{% endblock %}

{% block content %}
<main id="content" tabindex="-1">
    {% include "shared/partial/alerts.html" %}
    <div class="link-back">
        <a href="{% url 'dashboard' %}" class="link-prev">Back to Dashboard</a>
    </div>
    <div class="row">
        <div class="col-auto">
            <h1>Student Details:</h1>
        </div>
        {# Student popop menu for choosing students #}
        <div class="col-md dropdown ms-md-n1">
            <button type="button" class="btn btn-primary mt-md-n0_25" data-cfw="dropdown">{{ current_student_name }}<span class="caret" aria-hidden="true"></span></button>
            <ul class="dropdown-menu">
                {% for student in roster %}
                    {% if student.user.username == current_student.user.username %}
                        <li><a href="{% url 'student_details' username=student.user.username %}" class="active" aria-current="true">{{ current_student_name }}</a></li>
                    {% else %}
                        <li><a href="{% url 'student_details' username=student.user.username %}">{{ student.user.first_name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {# Place holder for view statisics for the student #}
        {% include "roster/partial/student_details_time_scale.html" with target='student_details' days=panel_data.days %}
    </div>
    <div class="library-grid"">
        <div class="card card-details">
            {% include "roster/partial/student_details_activity.html" with data=panel_data.activity %}
        </div>
        <div class="card card-details">
            {% include "roster/partial/student_details_words.html" with data=panel_data.words %}
        </div>
        {# Student Reactions panel #}
        <div class="card card-details">
            {% include "roster/partial/student_details_reactions.html" with data=panel_data.affect student=current_student days=panel_data.days %}
        </div>
        <div class="card card-details">
            {% include "roster/partial/student_details_topics.html" with data=panel_data.topics %}
        </div>
    </div>
    <script>
        libraryMasonryEnable();
    </script>
    {% include "roster/partial/student_details_reading_details.html" %}
</main>
{% endblock %}
