<div class="react react-has-label">
    <div class="react-chart">
        <div class="react-chart-inner">
            <!-- lines -->
            <div class="react-line react-line-0"></div>
            <div class="react-line react-line-1"></div>
            <div class="react-line react-line-2"></div>
            <div class="react-line react-line-3"></div>
            <div class="react-line react-line-4"></div>
            <div class="react-line react-line-5"></div>
            <!-- wedges -->
            <div class="react-item react-item-0">
                <div class="react-wedge react-wedge-0" title="hi there" style="--dim: {{ wedge.0|default:0 }}%;"></div>
                <div class="react-label react-label-0">suprised</div>
            </div>
            <div class="react-item react-item-1">
                <div class="react-wedge react-wedge-1" style="--dim: {{ wedge.1|default:0 }}%;"></div>
                <div class="react-label react-label-1">interested</div>
            </div>
            <div class="react-item react-item-2">
                <div class="react-wedge react-wedge-2" style="--dim: {{ wedge.2|default:0 }}%;"></div>
                <div class="react-label react-label-2">happy</div>
            </div>
            <div class="react-item react-item-3">
                <div class="react-wedge react-wedge-3" style="--dim: {{ wedge.3|default:0 }}%;"></div>
                <div class="react-label react-label-3">curious</div>
            </div>
            <div class="react-item react-item-4">
                <div class="react-wedge react-wedge-4" style="--dim: {{ wedge.4|default:0 }}%;"></div>
                <div class="react-label react-label-4">calm</div>
            </div>
            <div class="react-item react-item-5">
                <div class="react-wedge react-wedge-5" style="--dim: {{ wedge.5|default:0 }}%;"></div>
                <div class="react-label react-label-5">okay</div>
            </div>
            <div class="react-item react-item-6">
                <div class="react-wedge react-wedge-6" style="--dim: {{ wedge.6|default:0 }}%;"></div>
                <div class="react-label react-label-6">bored</div>
            </div>
            <div class="react-item react-item-7">
                <div class="react-wedge react-wedge-7" style="--dim: {{ wedge.7|default:0 }}%;"></div>
                <div class="react-label react-label-7">sad</div>
            </div>
            <div class="react-item react-item-8">
                <div class="react-wedge react-wedge-8" style="--dim: {{ wedge.8|default:0 }}%;"></div>
                <div class="react-label react-label-8">dissapointed</div>
            </div>
            <div class="react-item react-item-9">
                <div class="react-wedge react-wedge-9" style="--dim: {{ wedge.9|default:0 }}%;"></div>
                <div class="react-label react-label-9">confused</div>
            </div>
            <div class="react-item react-item-10">
                <div class="react-wedge react-wedge-10" style="--dim: {{ wedge.10|default:0 }}%;"></div>
                <div class="react-label react-label-10">frustrated</div>
            </div>
            <div class="react-item react-item-11">
                <div class="react-wedge react-wedge-11" style="--dim: {{ wedge.11|default:0 }}%;"></div>
                <div class="react-label react-label-11">annoyed</div>
            </div>
        </div>
    </div>
</div>
