<div class="react react-has-label">
    <div class="react-chart">
        <div class="react-chart-inner">
            <!-- lines -->
            <div class="react-line react-line-0"></div>
            <div class="react-line react-line-1"></div>
            <div class="react-line react-line-2"></div>
            <div class="react-line react-line-3"></div>
            <div class="react-line react-line-4"></div>
            <div class="react-line react-line-5"></div>
            <!-- quadrants -->
            <div class="react-quad react-quad-0"></div>
            <div class="react-quad react-quad-1"></div>
            <div class="react-quad react-quad-2"></div>
            <div class="react-quad react-quad-3"></div>
            <!-- wedges -->
            {% for w in data %}
            <div class="react-item react-item-{{ forloop.counter0 }}">
                <div class="react-wedge react-wedge-{{ forloop.counter0 }}"
                     style="--dim: {{ w.value|default:0 }}%;"></div>
                <a href="#" class="react-label react-label-{{ forloop.counter0 }}"
                   data-cfw="modal" data-cfw-modal-target="#react-detail-{{w.word}}"
                   data-cle-handler="click" data-cle-control="dash_affect_detail" data-cle-value="{{w.word}}"
                   {% if clusive_user.role == 'TE' or clusive_user.role == 'PA' %} data-clusive-tip-action="student_reactions" {% endif %}>
                    {% if w.value %}<strong>{{ w.word }}</strong>{% else %}{{ w.word }}{% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% for w in data %}
<div id="react-detail-{{w.word}}" class="modal why-modal modal-react-detail" data-word="{{w.word}}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{w.word}} <span class="icon-thought" aria-hidden="true"></span></h2>
                {% include "shared/partial/dialog_tts.html" %}
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close">
                    <span class="icon-cancel-circled2" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Loading...
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
$('.modal-react-detail').one('beforeShow.cfw.modal', function(e) {
    var word = $(this).data('word');
    var target = $(this).find('.modal-body');
    $.get('/assessment/affect_detail/'+ word)
        .done(function(data, status) {
            target.html(data);
            target.CFW_Init();
        })
        .fail(function(err) {
            console.error(err);
        });
});
</script>
