<div class="react react-has-btn">
    <div class="react-chart">
        <div class="react-chart-inner">
            <!-- lines -->
            <div class="react-line react-line-0"></div>
            <div class="react-line react-line-1"></div>
            <div class="react-line react-line-2"></div>
            <div class="react-line react-line-3"></div>
            <div class="react-line react-line-4"></div>
            <div class="react-line react-line-5"></div>
            <!-- wedges -->
            {% for w in data %}
            <div class="react-item react-item-{{ forloop.counter0 }}">
                <div class="react-wedge react-wedge-{{ forloop.counter0 }}"
                     style="--dim: {{ w.value|default:0 }}%;"></div>
                <div class="btn-check react-btn react-label-{{ forloop.counter0 }}">
                    <button type="button" class="btn btn-react">{{ w.word }}</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
