{% load static %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" />
<link href="{% static 'shared/font/fontello/fontello.min.css' %}" rel="stylesheet">
<link href="{% static 'shared/js/lib/reader/fonts/open-dyslexic/open-dyslexic-regular.css' %}" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/Enactors.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/PrefsEditor.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'shared/js/lib/infusion/dist/assets/src/framework/preferences/css/SeparatedPanelPrefsEditor.min.css' %}" />
<link href="{% static 'shared/css/clusive.min.css' %}" rel="stylesheet">

<link href="{% static 'shared/css/clusive-prefs-panel.min.css' %}" rel="stylesheet">