{% load static %}
{% comment %}
Sets constants based on Django's environment in order to make them available
to client-side Javascript
{% endcomment %}
{% csrf_token %}
<script>
var DJANGO_STATIC_ROOT = "{% static '' %}";
var DJANGO_CSRF_TOKEN = $("[name=csrfmiddlewaretoken]").val();
var PAGE_EVENT_ID = '{{ event_id }}';
var TOOLTIP_NAME = '{{tip_name}}';
{% if user.is_authenticated %}
    var DJANGO_USERNAME = "{{ user.get_username }}"
{% else %}
    var DJANGO_USERNAME = null;
{% endif %}
// Global reference to the preferences editor for non-Infusion code
// Initialized with the results of createClusivePrefsEditor() when that's called
var clusivePrefs;
</script>

<script src="{% static 'shared/js/lib/main.js' %}"></script>

<script>
{% if settings.DEBUG %}
    var debug = true;
{% else %}
    var debug = false;
{% endif %}
if (!debug) {
    console.log = function () {};
}

{% if not user.is_anonymous %}
    fluid.contextAware.makeChecks({
        "clusive.loggedInUser":  true
    });
{% endif %}
</script>
