{% load static %}
<div id="modalToc" class="modal toc-modal">
    <div class="modal-dialog modal-dialog-side-start modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5 sr-only">Contents, Highlights, and Notes</h2>
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close" title="Close">
                    <span class="icon-cancel" aria-hidden="true"></span>
                </button>
                <ul class="nav nav-tabs-toc">
                    <li class="nav-item"><a id="tocTab" href="#tocPanel" class="nav-link" data-cfw="tab" data-cle-handler="click" data-cle-control="toc-sidebar-contents-tab" data-cle-value="opened">Contents</a></li>
                    <li class="nav-item"><a id="notesTab" href="#notesPanel" class="nav-link" data-cfw="tab" data-cle-handler="click" data-cle-control="toc-sidebar-highlights-and-notes-tab" data-cle-value="opened">Highlights &amp; Notes</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div id="tocPanel" class="tab-pane">
                        <div class="media media-toc">
                            {% if pub.cover %}
                            <div class="media-img">
                                <img src="{% get_media_prefix %}{{pub.cover_path }}" class="img-fluid" alt="Cover image">
                            </div>
                            {% endif %}
                            <div class="media-body">
                                <h3 class="h5 media-title">{{ pub.title }}</h3>
                                {{ pub.author }}
                            </div>
                        </div>
                        <div id="tocEmpty" class="toc-empty">
                            <p class="toc-empty-text">There are no chapters for this content.</p>
                        </div>
                        <nav class="nav-toc" aria-label="Contents">
                            <ul id="tocList" class="nav nav-vertical">
                            </ul>
                        </nav>
                    </div>
                    <div id="notesPanel" class="tab-pane">
                        {% if not request.clusive_user.is_registered %}
                        <div class="highlight-action">
                            <a href="{% url 'sign_up_role' %}" class="btn btn-primary btn-small">Create an account to save your highlights</a>
                        </div>
                        {% endif %}
                        <div id="notesList">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
