<div class="modal-content">
    <div class="modal-header">
        <div class="modal-header-block">
            <h2 class="modal-title">Switch?</h2>
        </div>
        {% include "shared/partial/dialog_tts.html" %}
        <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close" title="Close">
            <span class="icon-cancel-circled2" aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <strong>You have options!</strong>
            How do you want to travel through this text?
        </p>
        <div class="row switch-row">
            {% for v in versions %}
            <div class="col-md switch-col{% if v == bv %} active{% endif %}">
                <div class="row">
                    <div class="col-sm-4 col-md-12 switch-select">
                        <div class="switch-icon-default">
                            {% if forloop.revcounter == 1 %}
                            <span class="icon-climb why-icon" aria-hidden="true"></span>
                            {% elif forloop.revcounter == 2 %}
                            <span class="icon-hike why-icon" aria-hidden="true"></span>
                            {% else %}
                            <span class="icon-walk why-icon" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                        <div class="switch-icon-active">
                            {% if forloop.revcounter == 1 %}
                            <span class="icon-climb why-icon active" aria-hidden="true"></span>
                            {% elif forloop.revcounter == 2 %}
                            <span class="icon-hike why-icon active" aria-hidden="true"></span>
                            {% else %}
                            <span class="icon-walk why-icon active" aria-hidden="true"></span>
                            {% endif %}
                        </div>

                        {% if v == bv %}
                            <div class="switch-level-text">
                            {% if forloop.revcounter == 1 %}(most challenge)
                            {% elif forloop.revcounter == 2 %}(more challenge)
                            {% else %}(least challenge)
                            {% endif %}
                            </div>
                        <button type="button" class="btn btn-primary link-stretch mt-0_25" data-cfw-dismiss="modal" data-cle-handler="click" data-cle-control="switch-choose" data-cle-value="stay">Stay Here</button>
                        {% else %}
                        <a href="{{ v.sortOrder }}" class="btn btn-primary link-stretch mt-0_25" data-cle-handler="click" data-cle-control="switch-choose" data-cle-value="{{ v.sortOrder }}">
                            {% if forloop.revcounter == 1 %}Most challenge
                            {% elif forloop.revcounter == 2 %}More challenge
                            {% else %}Least challenge
                            {% endif %}
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-8 col-md-12">
                        Words include:
                        <ul>
                            {% for word in v.example_words %}
                            <li>{{ word }}</li>
                            {% endfor %}
                        </ul>
                        <div class="switch-meta none">
                            {% firstof v.annotation_count 'No' %} highlight{{ v.annotation_count | pluralize }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        {% comment %}
        Clusive estimates that you know 60% of the words in this text.
        <a href="#">Check out your data <span aria-hidden="true">&gt;</span></a>
        {% endcomment %}
    </div>
</div>