<div id="modalPDF" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5">
                    About PDF files in Clusive
                </h2>
                {% include "shared/partial/dialog_tts.html" %}
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close" title="Close">
                    <span class="icon-cancel" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are currently viewing a reading that is in the PDF format.</p>
                <p>Unfortunately, PDF files are not flexible like other files in Clusive;
                many of the settings and supports will not work. You cannot use:</p>
                <ul>
                    <li>Read-aloud</li>
                    <li>Highlighting</li>
                    <li>Dictionary lookup</li>
                    <li>Text transformations</li>
                    <li>Text size</li>
                    <li>Line spacing</li>
                    <li>Letter spacing</li>
                    <li>Font preference</li>
                    <li>Color preferences do not apply to the PDF</li>
                    <li>Only "turn pages" navigation is supported</li>
                </ul>
                <p>However, other features <strong>do</strong> work:</p>
                <ul>
                    <li>Page navigation</li>
                    <li>Your thoughts</li>
                    <li>Star reading</li>
                </ul>
                <p>And there are two extra buttons in the left toolbar, to
                    <span class="icon-plus" aria-hidden="true"/> zoom in and
                    <span class="icon-minus" aria-hidden="true"/> zoom out.</p>
            </div>
        </div>
    </div>
</div>
