<div id="modalTimeout" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalConfirmTitle" class="modal-title">Are you there?</h2>
                <button type="button" class="close" data-cfw-dismiss="modal" aria-label="Close" title="Close">
                    <span class="icon-cancel-circled2" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Close this window to stay logged in.</p>
                <button type="button" class="btn btn-primary" data-cfw-dismiss="modal">I'm here!</button>
            </div>
        </div>
    </div>
</div>
