<div class="col-md-auto dropdown">
    <button type="button" class="btn btn-primary" data-cfw="dropdown">
        {{ current_period.name }}
        <span class="caret" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu dropreverse">
        {% for p in periods %}
        <li>
            <a href="{% url target period_id=p.id %}"
               {% if p == current_period %}class="active" aria-current="true"{% endif %}>
                {{ p.name }}
            </a>
        </li>
        {% endfor %}
        {% if add_link %}
        <li class="dropdown-divider"></li>
        <li>
            <a href="{% url 'manage_create_period' %}">
              + Add Class
            </a>
        </li>
        {% endif %}
    </ul>
</div>
