<div class="popover popover-translate popover-scrollable" id="simplifyPop" style="min-width: 25rem">
    <div role="document">
        <button type="button" class="close" data-cfw-dismiss="popover" aria-label="Close" title="Close"><span class="icon-cancel-circled2" aria-hidden="true"></span></button>
        <span role="button" tabindex="0" class="drag" data-cfw-drag="popover" aria-label="Move" title="Move"><span aria-hidden="true">+</span></span>
        <div class="popover-header">
            <h2 class="modal-title h5 sr-only">Text simplification options</h2>
            {% include "shared/partial/dialog_tts.html" %}
            <ul class="nav nav-tabs-toc">
                <li class="nav-item"><button id="simplifyNavLink" class="nav-link">Simplify text</button></li>
                <li class="nav-item"><button id="translateNavLink" class="nav-link">Translate</button></li>
            </ul>
        </div>
        <div id="simplifyBody" class="popover-body">
        </div>
        <div class="popover-footer">
            <div id="translateFooter">
                {% include "shared/partial/icons/translated-by-google.svg" with class="gt-icon" %}
            </div>
        </div>
    </div>
</div>
