{% load list_helpers %}

<div class="row gx-0_5 flex-items-center">
    <div class="col">
        {% if show_teacher_resource_link and resource_id != None %}
            {% url 'res_reader' resource_id=resource_id as resource_link %}
            {% if resource_link != request.path %}
                <a href="{% url 'res_reader' resource_id=resource_id %}">Learn more<span class="sr-only"> about {{ resource_name }}</span></a>
            {% endif %}
        {% endif %}
    </div>
    <div class="chain-prev col-auto touring-on"></div>
    <div class="col-auto touring-on">
        <span class="chain-step"></span>
    </div>
    <div class="chain-next col-auto touring-on"></div>
    <div class="col-auto touring-off">
        <button type="button" class="btn btn-primary" data-cfw-dismiss="popover">Got it!</button>
    </div>
</div>
