{% load i18n %}
<div id="tour_{{ tour_name }}" class="popover popover-tour popover-scrollable">
    {% if tour_robust %}
        {% if tours|length > 1 %}
            <button type="button" class="close" aria-label="Close" onclick="tour.closeRefocus('#tourStart');"><span class="icon-cancel-circled2" aria-hidden="true"></span></button>
        {% else %}
            <button type="button" class="close" aria-label="Close" data-cfw-dismiss="popover"><span class="icon-cancel-circled2" aria-hidden="true"></span></button>
        {% endif %}

        {% if tour_name == 'context' %}
            <div class="popover-header">
                <span class="h3">{{ tour_properties.title }}</span>
                {% include "shared/partial/popover_tour_header_controls.html" %}
            </div>
            <div class="popover-body">
                <div class="embed-fluid embed-fluid-16x9 mb-0_5">
                    <iframe id="settingsIframe" src="{{ tour_properties.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="Settings video"></iframe>
                </div>
                <p>{{ tour_properties.tip_text.0 }}</p>
                <ul class="list feature-list">
                    <li><span class="feature-icon icon-edit" aria-hidden="true"></span> {{ tour_properties.tip_text.1 }}</li>
                    <li><span class="feature-icon icon-book" aria-hidden="true"></span> {{ tour_properties.tip_text.2 }}</li>
                    <li><span class="feature-icon icon-switch" aria-hidden="true"></span> {{ tour_properties.tip_text.3 }}</li>
                    <li><span class="feature-icon icon-play-circled2" aria-hidden="true"></span> {{ tour_properties.tip_text.4 }}</li>
                </ul>
                {% include "shared/partial/popover_tour_footer.html" with resource_id=tour_properties.resource_id resource_name=tour_properties.resource_name %}
            </div>
        {% else %}
            <div class="popover-header">
                <span class="h3">{{ tour_properties.title }}</span>
                {% include "shared/partial/popover_tour_header_controls.html" %}
            </div>
            <div class="popover-body">
                <div class="embed-fluid embed-fluid-16x9 mb-0_5">
                    <iframe id="settingsIframe" src="{{ tour_properties.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-label="Settings video"></iframe>
                </div>
                {% for tip_text in tour_properties.tip_text %}
                    <p>{{ tip_text }}</p>
                {% endfor %}
                {% include "shared/partial/popover_tour_footer.html" with resource_id=tour_properties.resource_id resource_name=tour_properties.resource_name %}
            </div>
        {% endif %}

        {% if tour_name != "context" and tour_name != "activity" %}
        <div class="popover-arrow"></div>
        {% endif %}
    {% endif %}
</div>

<script>
$(window).ready(function() {
    tour.prepare('[data-clusive-tip-id="{{ tour_name }}"]');

    {% if tours|length == 1 %}
    var tip_control = document.querySelector('[data-clusive-tip-id="{{ tour_name }}"]');
    if (tip_control) {
        var $tip_control = $(tip_control);
        $tip_control.one('afterShow.cfw.popover', function() {
            popoverHelpDialog = $('#tour_{{ tour_name }}').focus();
            if (popoverHelpDialog.is(':visible')) {
                window.parent.clusiveEvents.addTipViewToQueue('{{ tour_name }}');
            }
        });
        $tip_control.CFW_Popover('show');
    }
    {% endif %}
});
</script>
