<div class="popover popover-glossary popover-scrollable" id="glossaryPop">
    <button type="button" class="close" data-cfw-dismiss="popover" aria-label="Close"><span class="icon-cancel-circled2" aria-hidden="true"></span></button>
    <div class="popover-header">
        <strong id="glossaryTitle">
            Glossary
        </strong>
    </div>
    <div class="popover-body">
        <div id="glossaryBody">body content&hellip;</div>
        <div id="glossaryInput" class="popover-section">
            <fieldset>
                <legend class="ranking-legend">How well do you know this word?</legend>
                <div class="ranking">
                    <div class="form-check form-checkradio">
                        <input class="form-check-input" type="radio" id="ranking0-0" name="ranking0" value="0" aria-label="Never heard it">
                        <label class="form-check-label" for="ranking0-0"></label>
                        <label class="ranking-label" for="ranking0-0" aria-hidden="true">Never heard it</label>
                    </div>
                    <div class="form-check form-checkradio">
                        <input class="form-check-input" type="radio" id="ranking0-1" name="ranking0" value="1" aria-label="Heard it">
                        <label class="form-check-label" for="ranking0-1"></label>
                        <label class="ranking-label" for="ranking0-1" aria-hidden="true">Heard it</label>
                    </div>
                    <div class="form-check form-checkradio">
                        <input class="form-check-input" type="radio" id="ranking0-2" name="ranking0" value="2" aria-label="Know it">
                        <label class="form-check-label" for="ranking0-2"></label>
                        <label class="ranking-label" for="ranking0-2"  aria-hidden="true">Know it</label>
                    </div>
                    <div class="form-check form-checkradio">
                        <input class="form-check-input" type="radio" id="ranking0-3" name="ranking0" value="3" aria-label="Use it">
                        <label class="form-check-label" for="ranking0-3"></label>
                        <label class="ranking-label" for="ranking0-3" aria-hidden="true">Use it</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="glossaryFooter" class="popover-footer">
        Added to <a href="{% url 'word_bank' %}">word bank</a>
    </div>
</div>
<script>
var glossaryBeenDragged = false;

$('#glossaryButton').CFW_Popover({
    target: '#glossaryPop',
    trigger: 'manual',
    placement: 'reverse',
    drag: true,
    popperConfig: {
        positionFixed: true,
        eventsEnabled: false,
        modifiers: {
            preventOverflow: {
                boundariesElement: 'viewport',
            },
            computeStyle: {
                gpuAcceleration: false
            }
        },
    }
});

$('#glossaryButton')
    .on('afterHide.cfw.popover', function() {
        glossaryBeenDragged = false;
    })
    .on('afterShow.cfw.popover', function() {
        //$('#glossaryButton').data('cfw.popover').popper.enableEventListeners();
        $(window).off('resize.cfw.popover.glossaryButton');

        $('#glossaryPop')
            .find('[data-cfw-drag="popover"]')
            .on('mousedown touchstart MSPointerDown', function() {
                if (!glossaryBeenDragged) {
                    //var newTop = $('#glossaryPop').position().top - document.documentElement.scrollTop;
                    $('#glossaryPop').css({
                        //'top': newTop + 'px',
                        'position': 'fixed'
                    });
                }
                $('#glossaryButton').data('cfw.popover').popper.disableEventListeners();
                glossaryBeenDragged = true;
            });
    });
/*
$(window).on('scroll resize', function() {
console.log('updating');
    if ($('#glossaryPop').is(':visible') && !glossaryBeenDragged) {
        $('#glossaryButton').CFW_Popover('locateUpdate');
    }
});
*/
</script>