<div class="popover popover-simplify popover-scrollable" id="simplifyPop">
    <div role="document">
        <button type="button" class="close" data-cfw-dismiss="popover" aria-label="Close" title="Close"><span class="icon-cancel-circled2" aria-hidden="true"></span></button>
        <span role="button" tabindex="0" class="drag" data-cfw-drag="popover" aria-label="Move" title="Move"><span aria-hidden="true">+</span></span>
        <div class="popover-header">
            <h2 class="modal-title sr-only">Text transformation</h2>
            <nav aria-label="text simplification">
                <ul class="nav nav-tabs-popover">
                    <li class="nav-item"><button id="translateNavLink" class="nav-link">Translate</button></li>
                    <li class="nav-item"><button id="simplifyNavLink" class="nav-link">Simplify text</button></li>
                    {% if simplification_show_pictures %}
                    <li class="nav-item"><button id="picturesNavLink" class="nav-link">Show pictures</button></li>
                    {% endif %}
                </ul>
            </nav>
            {% include "shared/partial/dialog_tts.html" %}
        </div>
        <div class="popover-body">
            <div id="simplifyLoading" class="text-center"><strong>Loading...</strong> <div class="ms-2 loader-circle" role="status" aria-hidden="true"></div></div>
            <div id="simplifyLanguageSetting">
                <legend class="setting-title">Translation language</legend>
                <select id="simplifyLanguageSelect" class="cislc-modalSettings-languageSelect form-control">
                    <option value="default">Choose...</option>
                    {% for lang in translation_languages %}
                    <option value="{{lang.language}}">{{lang.name}}</option>
                    {% endfor %}
                </select>
                <button id="simplifyLanguageSave" type="button" class="btn btn-secondary mt-1">Save</button>
                <div class="form-text">Change your language any time in the settings panel.</div>
            </div>
            <div id="simplifyBody"></div>
        </div>
        <div class="popover-footer">
            <div id="translateFooter">
                {% include "shared/partial/icons/translated-by-google.svg" with class="gt-icon" %}
            </div>
        </div>
    </div>
</div>
