{% load static %}
    <!-- BEGIN markup for Preference Editor -->
    
    <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
        <!--
            This div is for the sliding panel bar that shows and hides the Preference Editor controls in the mobile view.
            A separate panel bar for mobile displays is needed to preserver the correct tab order.
        -->
        <div class="fl-panelBar fl-panelBar-smallScreen" style="display: none;">
            <span class="fl-prefsEditor-buttons">
                <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
            </span>
        </div>

        <!-- This is the div that will contain the Preference Editor component -->
        <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

        <!--
            This div is for the sliding panel bar that shows and hides the Preference Editor controls in the desktop view.
            A separate panel bar for desktop displays is needed to preserver the correct tab order.
        -->
        <div class="fl-panelBar fl-panelBar-wideScreen" style="display: none;">
            <span class="fl-prefsEditor-buttons">
                <button class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide"> Show/Hide</button>
                <button class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
            </span>
        </div>
    </div>
    <!-- END markup for Preference Editor -->
    <script>
        var prefsEditor;         

        fluid.defaults("clusive.prefs.djangoStoreMapper", {
            gradeNames: ["fluid.component", "fluid.resolveRoot"],
            distributeOptions: {
                record: {
                    listeners: {
                        "onCreate.announce": {
                            "this": "console",
                            "method": "log",
                            "args": ["Global settings store created,", "{that}"]
                        }
                    },
                    contextAwareness: {
                        strategy: {
                            checks: {
                                clusiveLoggedInUser: {
                                    contextValue: "{clusive.loggedInUser}",
                                    gradeNames: "clusive.prefs.djangoStore"
                                }
                            }
                        }
                    }
                },
                target: "{/ fluid.prefs.globalSettingsStore}.options.components.settingsStore.options"
            }
        });

        clusive.prefs.djangoStoreMapper();

        var createClusivePrefsEditor = function() {
            var buildAuxiliarySchemaTemplate = "{% static 'shared/html/SeparatedPanelPrefsEditorNoGloss.html' %}";
            var buildGradeNames =  [
                            "cisl.prefs.auxSchema.starter", // starter set
                            "cisl.prefs.auxSchema.letterSpace", // letter space
                            ]                

            return fluid.prefs.create(".flc-prefsEditor-separatedPanel", {
                        build: {                                                
                            gradeNames: buildGradeNames,
                            auxiliarySchema: {
                                "loaderGrades": ["cisl.prefs.composite.separatedPanel"],
                                "template": buildAuxiliarySchemaTemplate,
                                "terms": {
                                    "templatePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/html' %}",
                                    "messagePrefix": "{% static 'shared/js/lib/infusion/src/framework/preferences/messages' %}",
                                },
                            },
                        },
                        prefsEditor: {   
                            components: {      
                                prefsEditorLoader: {
                                    options: {     
                                        listeners: {
                                            "{djangoStore}.events.onPreferencesSetAdopted": {
                                                "func": "{that}.applier.change",
                                                "args": ["preferences", "{arguments}.0"]                                                
                                            }
                                        },
                                        modelListeners: {
                                            "preferences": {
                                                "funcName": "cisl.prefs.dispatchPreferenceUpdateEvent"
                                            }
                                        },                              
                                        components: {   
                                            prefsEditor: {
                                                options: {
                                                    listeners: {
                                                        "onCreate.announce": {
                                                            "this": "console",
                                                            "method": "log",
                                                            "args": ["Prefs editor created,", "{that}"]
                                                        }
                                                    },
                                                }
                                            },                                     
                                            readerPrefs: {
                                                type: "cisl.prefs.readerPreferencesBridge",
                                                createOnEvent: "{prefsEditorLoader}.events.onReady",
                                                options: {
                                                    model: {
                                                        preferences: "{prefsEditorLoader}.model.preferences"
                                                    }
                                                }
                                            },
                                            modalSettings: {
                                                type: "cisl.prefs.modalSettings",
                                                createOnEvent: "{prefsEditorLoader}.events.onReady",
                                                container: "#modalSettings",                                                
                                                options: {
                                                    invokers: {
                                                        resetDisplayPrefs: {
                                                            func: "{djangoStore}.adopt",
                                                            args: ["default_display"]
                                                        },
                                                        resetReadingPrefs: {
                                                            func: "{djangoStore}.adopt",
                                                            args: ["default_reading_tools"]
                                                        }
                                                    },
                                                    model: {
                                                        "preferences": "{prefsEditorLoader}.model.preferences"
                                                    },
                                                    listeners: {
                                                        "onCreate.bindResetDisplay": {
                                                            "this": "{that}.dom.resetDisplay",
                                                            "method": "click",
                                                            "args": "{that}.resetDisplayPrefs"
                                                        },
                                                        "onCreate.bindResetReading": {
                                                            "this": "{that}.dom.resetReading",
                                                            "method": "click",
                                                            "args": "{that}.resetReadingPrefs"
                                                        }                                                                                                   
                                                    }    
                                                }                                        
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    });                                       
            }             

        {% if not prefs_is_reader %}        
        // If not on the Reader page, we can create the preference editor now
        $(document).ready(function () {            
                clusivePrefs = createClusivePrefsEditor();
        });
        {% endif %}

    </script>