{% if why %}
<div class="sidebar-region sidebar-support" role="region" aria-label="Reading feedback">
    <button id="compButton" type="button" class="btn btn-nav btn-icon btn-thought mt-0_75"
            arial-label="Your thoughts" title="Your thoughts">
        <span class="icon-thought" aria-hidden="true"></span>
        <span class="sr-only">Your thoughts</span>
    </button>
</div>

{% include "shared/partial/popover_comp.html" %}

<script>
$('#compButton').CFW_Popover({
    target: '#compPop',
    placement: 'top',
    drag: true,
    popperConfig: {
        positionFixed: true,
        eventsEnabled: false,
        modifiers: {
            preventOverflow: {
                boundariesElement: 'viewport'
            },
            computeStyle: {
                gpuAcceleration: false
            }
        }
    }
});
</script>
{% endif %}
