{% load list_helpers %}
<div class="sidebar-region sidebar-support" role="region" aria-label="User support">
    {% if tours %}
    <button id="tourStart" type="button" class="btn btn-tool btn-mascot-tipped mt-0_75"
            data-clusive-tip-action="tour"
            onclick="tour.chain('#tour_{{ tours|list_index:0 }}');"><span class="sr-only">Start tour of features</span></button>
    {% else %}
    <span class="d-inline-block mt-0_75" tabindex="0" title="There are currently no tool tips on this page." data-cfw="tooltip" data-cfw-tooltip-container="body" data-cfw-tooltip-placement="reverse">
        <button type="button" class="btn btn-tool btn-mascot-tipped" disabled><span class="sr-only">There are currently no tool tips on this page.</span></button>
    </span>
    {% endif %}
</div>
