{% if nav %}
<nav class="sidebar-nav" aria-label="Article">
    <button id="tocButton" type="button" data-cfw="modal" data-cfw-modal-target="#modalToc" class="btn btn-nav btn-icon btn-nav-toc" aria-label="Contents, highlights, &amp; notes" title="Contents, highlights, &amp; notes" data-cle-handler="click" data-cle-control="toc-highlights-notes-sidebar" data-cle-value="opened">
        <span class="icon-th-list" aria-hidden="true"></span>
    </button>
    <button id="prevResourceButton" onclick="D2Reader.previousPage();" type="button" class="btn btn-nav btn-icon btn-nav-prev" aria-label="Previous page" title="Previous page">
        <span class="icon-chevron-left" aria-hidden="true"></span>
    </button>
    <button id="nextResourceButton" onclick="D2Reader.nextPage();" type="button" class="btn btn-nav btn-icon btn-nav-next" aria-label="Next page" title="Next page">
        <span class="icon-chevron-right" aria-hidden="true"></span>
    </button>
</nav>
{% endif %}
{% if why %}
<div class="sidebar-support" role="region" aria-label="Support">
    <button id="whyButton" type="button" class="btn btn-nav btn-icon btn-support-help" aria-label="Why am I seeing this version of the text?!" title="Why am I seeing this version of the text?!" data-cle-handler="click" data-cle-control="why-am-i-seeing-this-modal" data-cle-value="opened">
        <span class="icon-help" aria-hidden="true"></span>
        <span class="icon-attention" aria-hidden="true"></span>
    </button>
</div>
{% endif %}
