<div class="sidebar-region sidebar-tool" role="region" aria-label="User preferences">
    <button id="settingsButton" type="button" data-clusive-tip-id="settings" data-clusive-tip-action="settings" class="btn btn-setting" aria-label="Settings" title="Settings" data-cfw="modal" data-cfw-modal-target="#modalSettings" data-cle-handler="click" data-cle-control="settings-sidebar" data-cle-value="opened">
        <span class="icon-settings" aria-hidden="true"></span>
        <span class="sr-only">Settings</span>
    </button>
</div>
{% if read_aloud %}
{% if pub.is_epub %}
<div class="sidebar-region sidebar-tts" role="region" aria-label="Read aloud controls"{% if read_aloud == 'Readium' %} data-tts-mode="Readium"{% endif %} data-clusive-tip-id="readaloud" data-clusive-tip-action="readaloud" tabindex="-1">
    <div class="tts-inactive">
        <button type="button" {% if pub.is_pdf %}disabled {% endif %}class="btn btn-tool tts-play" aria-label="Read aloud" title="Read aloud" data-cle-handler="click" data-cle-control="tts-play" data-cle-value="clicked">
            <span class="icon-play" aria-hidden="true"></span>
        </button>
    </div>
    <div class="tts-active">
        <button type="button" class="btn btn-tts tts-pause" aria-label="Pause read aloud" title="Pause read aloud" data-cle-handler="click" data-cle-control="tts-pause" data-cle-value="clicked">
            <span class="icon-pause" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-tts tts-resume" aria-label="Resume read aloud" title="Resume read aloud" data-cle-handler="click" data-cle-control="tts-resume" data-cle-value="clicked">
            <span class="icon-play" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-tts tts-stop" aria-label="Stop read aloud" title="Stop read aloud" data-cle-handler="click" data-cle-control="tts-stop" data-cle-value="clicked">
            <span class="icon-stop" aria-hidden="true"></span>
        </button>
    </div>
</div>
{% else %}
<div class="sidebar-region sidebar-tts" role="region" aria-label="Read aloud controls" tabindex="-1">
    <span class="d-inline-block mt-0_75" tabindex="0" title="Read-aloud not available for PDF content."
                data-cfw="tooltip" data-cfw-tooltip-container="body" data-cfw-tooltip-placement="reverse">
        <button id="noTTSButton" type="button" disabled class="btn btn-tool tts-play">
            <span class="icon-play" aria-hidden="true"></span>
            <span class="sr-only">Read-aloud not available for PDF content.</span>
        </button>
    </span>
</div>
{% endif %}
{% endif %}
