<div class="sidebar-tool" role="region" aria-label="Reading tools">
    <button type="button" class="btn btn-setting" aria-label="Settings" title="Settings" data-cfw="modal" data-cfw-modal-target="#modalSettings">
        <span class="icon-settings" aria-hidden="true"></span>
        <span class="sr-only">Settings</span>
    </button>
{% if read_aloud %}
    {% if read_aloud == 'Readium' %}
    <button type="button" class="btn btn-tool" aria-label="Read aloud" title="Read aloud" id="readiumReadAloud">
    {% else %}
    <button type="button" class="btn btn-tool" aria-label="Read aloud" title="Read aloud" id="readAloudButton">
    {% endif %}
        <span id="readAloudIcon" class="icon icon-play" aria-hidden="true"></span>
        <span id="readAloudSrText" class="sr-only">Read aloud</span>
    </button>
{% endif %}
{% if lookup %}
    <button id="glossaryButton" type="button" class="btn btn-tool" aria-label="Word lookup" title="Word lookup">
        <span class="icon-book" aria-hidden="true"></span>
        <span class="sr-only">Word lookup</span>
    </button>
{% endif %}
</div>