<ul class="navbar-nav">
    <li class="nav-item">
        {% if page_group == 'dashboard' %}
        <span class="nav-link current" aria-current="true">Dashboard</span>
        {% else %}
        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
        {% endif %}
    </li>

    <li class="nav-item">
        {% if page_group == 'library' %}
        <span class="nav-link current" aria-current="true">Library</span>
        {% else %}
        <a href="{% url 'reader_index' %}" class="nav-link">Library</a>
        {% endif %}
    </li>

    {% if request.clusive_user.can_manage_periods %}
    <li class="nav-item">
        {% if page_group == 'manage' %}
        <span class="nav-link current" aria-current="true">Manage</span>
        {% else %}
        <a href="{% url 'manage' %}" class="nav-link">Manage</a>
        {% endif %}
    </li>
    {% endif %}

    <li class="nav-item">
        {% if page_group == 'word_bank' %}
        <span class="nav-link current" aria-current="true">Word bank</span>
        {% else %}
        <a href="{% url 'word_bank' %}" class="nav-link" data-clusive-tip-id="wordbank" data-clusive-tip-action="wordbank" data-cfw-tooltip-placement="bottom auto">Word bank</a>
        {% endif %}
    </li>

    {% if not user.is_anonymous %}
    <li class="nav-item">
        <a href="#" class="nav-link"data-cfw="dropdown">
            {{ user.first_name }} <span class="caret" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu dropreverse">
            {% if request.clusive_user.can_set_password %}
            <li><a href="{% url 'password_change' %}">Change password</a></li>
            {% endif %}
            {% if not request.clusive_user.is_registered %}
              <li><a href="{% url 'sign_up_role' %}">Create an account</a></li>
            {% endif %}
            <li><a id="logoutLink" class="link-logout" href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{% url 'login' %}">Log in</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'login' %}">Create an account</a>
    </li>
    {% endif %}
</ul>