{% load static %}
<header class="site-header">
    <div class="site-header-logo">
        {% comment %}
        <a href="{% url 'index' %}">
            <span class="icon-logo-clusive-toggle" aria-hidden="true"></span>
        </a>
        {% endcomment %}
        <span class="icon-logo-clusive-toggle" aria-hidden="true"></span>
        <span class="icon-logo-clusive" aria-hidden="true"></span>
        <span class="sr-only">Clusive</span>
    </div>

    {% if page_title|length > 0 %}
    <h1 class="page-title">{{ page_title }}</h1>
    {% endif %}

    {% if user_actions %}
    {% include "shared/partial/site_header_actions.html" %}
    {% endif %}
</header>