{% comment %}
Expects context:
  page_group:  indicates which navigation item should be shown as "current"
  page_group_main (optional): indicates that the current page is the main page with this navigation item
                              so it does not need to be linked. If the URLs match, then this is automatically
                              detected and this does not need to be specified.
  request, user, clusive_user
{% endcomment %}
<ul class="navbar-nav">
    <li class="nav-item">
        {% url 'dashboard' as link_url %}
        {% if request.path == link_url or page_group_main == 'dashboard' %}
        <span class="nav-link current" aria-current="true">Dashboard</span>
        {% else %}
        <a href="{{ link_url }}" class="nav-link{% if page_group == 'dashboard' %} current{% endif %}">Dashboard</a>
        {% endif %}
    </li>

    {% if request.clusive_user.can_manage_periods %}
    <li class="nav-item">
        {% url 'resources' as link_url %}
        {% if request.path == link_url or page_group_main == 'resources' %}
        <span class="nav-link current" aria-current="true">Resources</span>
        {% else %}
        <a href="{{ link_url }}" class="nav-link{% if page_group == 'resources' %} current{% endif %}">Resources</a>
        {% endif %}
    </li>
    {% endif %}

    <li class="nav-item">
        {% url 'reader_index' as link_url %}
        {% if request.path == link_url or page_group_main == 'library' %}
        <span class="nav-link current" aria-current="true">Library</span>
        {% else %}
        <a href="{{ link_url }}" class="nav-link{% if page_group == 'library' %} current{% endif %}">Library</a>
        {% endif %}
    </li>

    {% if request.clusive_user.can_manage_periods %}
    <li class="nav-item">
        {% url 'manage' as link_url %}
        {% if request.path == link_url or page_group_main == 'manage' %}
        <span class="nav-link current" aria-current="true">Manage</span>
        {% else %}
        <a href="{{ link_url }}" class="nav-link{% if page_group == 'manage' %} current{% endif %}">Manage</a>
        {% endif %}
    </li>
    {% endif %}

    <li class="nav-item">
        {% url 'word_bank' as link_url %}
        {% if request.path == link_url or page_group_main == 'word_bank' %}
        <span class="nav-link current" aria-current="true">Word bank</span>
        {% else %}
        <a href="{{ link_url }}" class="nav-link{% if page_group == 'word_bank' %} current{% endif %}" data-clusive-tip-id="wordbank" data-clusive-tip-action="wordbank" data-cfw-tooltip-placement="bottom auto">Word bank</a>
        {% endif %}
    </li>

    {% if not user.is_anonymous %}
    <li class="nav-item">
        <a href="#" class="nav-link"data-cfw="dropdown">
            {{ user.first_name }} <span class="caret" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu dropreverse">
            {% if request.clusive_user.is_registered %}
              <li><a href="{% url 'my_account' %}">My account</a></li>
            {% else %}
              <li><a href="{% url 'sign_up_role' %}">Create an account</a></li>
            {% endif %}
            <li><a id="logoutLink" class="link-logout" href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="{% url 'login' %}">Log in</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'login' %}">Create an account</a>
    </li>
    {% endif %}
</ul>
