<div id="toolbox-backdrop" class="toolbox-backdrop"></div>

<div style="height: 0px">
  <div id="highlight-toolbox" class="toolbox">
    <div id="highlight-toolbox-mode-colors">
        <button id="dismissIcon">Close</button>
    </div>

    <div id="highlight-toolbox-mode-add" class="toolbox-menu">
        <div class="toolbox-menu-group">
            <button id="highlightIcon" type="button" class="btn toolbox-btn" title="Highlight selection">
                <span class="icon-edit" aria-hidden="true"></span>
                <span class="sr-only">Highlight selection</span>
            </button>
            <button id="lookupIcon" type="button" class="btn toolbox-btn" title="Word lookup">
                <span class="icon-book" aria-hidden="true"></span>
                <span class="sr-only">Word lookup</span>
            </button>
            <button id="translateIcon" type="button" class="btn toolbox-btn" title="Translate">
                <span class="icon-switch" aria-hidden="true"></span>
                <span class="sr-only">Translate</span>
            </button>
            <button id="speakIcon" type="button" class="btn toolbox-btn" title="Read aloud">
                <span class="icon-play-circled2" aria-hidden="true"></span>
                <span class="sr-only">Read aloud</span>
            </button>
        </div>
        <div class="toolbox-menu-arrow"></div>
    </div>

    <div id="highlight-toolbox-mode-edit">
    </div>
  </div>
</div>
