{% load i18n %}
{% load array_helpers %}
<div id="tip" class="tooltip tooltip-feature{% if tip_name == "tour" %} tooltip-tour{% endif %} ">
    <div class="tooltip-body">
        {% if tip_name == "settings" %}
        <p><strong>Settings:</strong> Change the font, colors, and more!</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "readaloud" %}
        <p><strong>Read-aloud:</strong> Hear this page read aloud.</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "wordbank" %}
        <p><strong>Word bank:</strong> Track words you&apos;re learning.</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "switch" %}
        <p>Switch the challenge level of this text.</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "context" %}
        <div data-cfw="accordion">
            <div id="contextFeature0" class="collapse">
                <p>Select some text to see things you can do with it.</p>
                <div class="tooltip-action">
                    <div class="tooltip-step">1/2</div>
                    <button type="button" class="btn btn-primary" data-cfw="collapse" data-cfw-collapse-target="#contextFeature1" data-cfw-collapse-animate="false">Next</button>
                </div>
            </div>
            <div id="contextFeature1" class="collapse">
                <ul class="list feature-list">
                    <li><span class="feature-icon icon-edit" aria-hidden="true"></span> Highlight the passage</li>
                    <li><span class="feature-icon icon-book" aria-hidden="true"></span> Look up a definition</li>
                    <li><span class="feature-icon icon-switch" aria-hidden="true"></span> Translate or simplify</li>
                    <li><span class="feature-icon icon-play-circled2" aria-hidden="true"></span> Hear the words read aloud</li>
                </ul>
                <div class="tooltip-action">
                    <div class="tooltip-step">2/2</div>
                    <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
                </div>
                <span class="d-none open" data-cfw="collapse" data-cfw-collapse-target="#contextFeature0" data-cfw-collapse-animate="false">Previous</span>
            </div>
        </div>
        {% elif tip_name == "view" %}
        <p>Change your view to see different sets of readings.</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "book_actions" %}
        <p>Select to assign a reading to a class, and more.</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% elif tip_name == "activity" %}
        <div data-cfw="accordion">
            <div id="activityFeature0" class="collapse">
                <p>Hover over active reading time bars for titles and reading time. Click for readings students have in common. Triangles show assigned readings.</p>
                <div class="tooltip-action">
                    <div class="tooltip-step">1/2</div>
                    <button type="button" class="btn btn-primary" data-cfw="collapse" data-cfw-collapse-target="#activityFeature1" data-cfw-collapse-animate="false">Next</button>
                </div>
            </div>
            <div id="activityFeature1" class="collapse">
                <p>Select timeframe and sort by hours, books, or student name.</p>
                <div class="tooltip-action">
                    <div class="tooltip-step">2/2</div>
                    <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
                </div>
                <span class="d-none open" data-cfw="collapse" data-cfw-collapse-target="#activityFeature0" data-cfw-collapse-animate="false">Previous</span>
            </div>
        </div>
        {% elif tip_name == "cluey" %}
        <p>To get a tour of this page, click on me in the lower right anytime!</p>
        <div class="tooltip-action">
            <button type="button" class="btn btn-secondary me-0_5" onclick="$('#tip').CFW_Tooltip('hide'); tour.chain('#tour_{{ tours|get_index:0 }}');">Start tour now</button>
            <button type="button" class="btn btn-primary" data-cfw-dismiss="tooltip">Got it!</button>
        </div>
        {% endif %}
    </div>
    {% if tip_name != "context" and tip_name != "activity" %}
    <div class="tooltip-arrow"></div>
    {% endif %}
</div>
