{% extends "shared/base.html" %}
{% load static %}

{% block bodyClass %}library{% endblock %}
{% block title %}Library | Clusive{% endblock %}

{% block sidebar_end %}
{% include "shared/partial/sidebar_end.html" with read_aloud=False lookup=False %}
{% endblock %}

{% block content %}
{% include "shared/partial/site_header.html" with page_title="Library" user_actions=True %}

{% if book_list|length == 0 %}
    No articles found.
{% else %}
<div class="library-grid">
    {% for pub in book_list %}
        <div class="card card-library">
            {% if pub.cover %}
            <div class="card-img card-img-top">
                <img src="{% get_static_prefix %}shared/pubs/{{pub.path}}/{{ pub.cover }}" alt="Cover picture for {{ pub.title }}" class="img-fluid" />
            </div>
            {% endif %}
            <div class="card-body">
                <!--<a href="{% url 'reader' pub_id=pub.path%}" class="link-stretch"><h2 class="card-title h5">{{ pub.title }}</h2></a>-->
                <a href="#" class="link-stretch" onclick="vocabCheck.start(this, '{{pub.path}}');"><h2 class="card-title h5">{{ pub.title }}</h2></a>
                {% if pub.description %}<p>{{ pub.description }}</p>{% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% include "shared/partial/modal_vocab_check.html" %}
{% endblock %}