{% extends "shared/base.html" %}
{% load static %}

{% block head_additional %} 
{% comment %} Readium reader dependencies {% endcomment %}
<link rel="stylesheet" href="{% static 'shared/js/lib/reader/reader.css' %}" />

<script>
var exports = {};
</script>
<script src="{% static 'shared/js/lib/reader/reader.js' %}"></script>     
{% endblock %}

{% block title %}Welcome to Clusive{% endblock %}

{% block content %}

    <div id="D2Reader-Container" style="width: 100%; height: 100%; position: relative;">
        <main style="overflow: hidden" tabindex=-1 id="iframe-wrapper">
            <div id="reader-loading" class="loading"></div>
            <div id="reader-error" class="error"></div>
            <div id="reader-info-top" class="info top">
                <span class="book-title"></span>
            </div>
            <iframe sandbox="allow-scripts allow-same-origin" allowtransparency="true" title="ePub Reader" SCROLLING="no" style="border: 0px; display: block;" width="100%" height="100%"></iframe>
            <div id="reader-info-bottom" class="info bottom">
                <span class="chapter-position"></span>
                <span class="chapter-title"></span>
            </div>
        </main>

    <script>
            var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "{% static 'shared/pubs/' %}" + "{{ pub_id }}/manifest.json"                
        var injectables = [            
            {type:'style', url: '{% static 'shared/js/lib/readium-css/ReadiumCSS-before.css' %}', r2before: true},
            {type:'style', url: '{% static 'shared/js/lib/readium-css/ReadiumCSS-default.css' %}', r2default: true},
            {type:'style', url: '{% static 'shared/js/lib/readium-css/ReadiumCSS-after.css' %}', r2after: true},
            {type:'style', url: '{% static 'shared/css/clusive-reader-content.css' %}'}
            // {type:'script', url: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML&latest'},
            // {type:'style', url: 'http://localhost:4444/viewer/fonts/opendyslexic/opendyslexic.css', fontFamily: 'opendyslexic'}, */
        ]

        var lastReadingPosition, annotations, userSettings, baseUrl = null;
        
        var upLink = { url: new URL("/", window.location.href), label: "Back", ariaLabel: "Go back" };

        D2Reader.load({
                url: new URL(url),
                upLinkUrl: upLink,
                ui: {
                    settings: {
                        fontFamily: true,
                        fontSize: true,
                        appearance: true,
                        scroll: true,
                        lineHeight: true
                    },
                },
                rights: {
                    enableBookmarks: true
                },
                material: false,
                userSettings: userSettings,                
                annotations: annotations,
                lastReadingPosition: lastReadingPosition,
                injectables: injectables,
                api: {
                    addBookmark: function (bookmark) {
                        bookmark.id = Math.random()
                        return Promise.resolve(bookmark);
                    },
                    deleteBookmark: function (bookmark) {
                        return Promise.resolve();
                    },
                    updateCurrentlocation: function (location) {
                        return Promise.resolve();
                    },
                    updateUserSettings: function (userSettings) {
                        return Promise.resolve();
                    },
                }
            }).then(instance => {
                console.log("D2Reader loaded ", instance);
                console.log("instance.bookmarkModule ", instance.bookmarkModule)
            }).catch(error => {
                console.error("error.message ", error.message);
            });        
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}