{% load humanize formatting %}
<div id="readingDetailsPanel" class="box box-secondary mt-1">
    <div class="row gx-1 flex-items-center mb-0_5">
        <div class="col-auto">
            <h4 class="h2 mb-0">Reading details</h4>
        </div>
        <div class="col-md-auto ms-md-auto">
            <section aria-label="Legend">
                <span class="readtime-legend-mark">
                    <span class="readtime-mark-shared"></span>
                </span>
                <span class="readtime-legend-label">Assigned</span>
            </section>
        </div>
    </div>
    <div class="box-divider"></div>
    <div class="table-scroll datatable-scroll">
        <table class="table datatable">
            <thead>
                <!-- Available sort indicators for table header anchors:
                      - `.sort-up`
                      - `.sort-down`
                      - `.sort-active`
                -->
                <tr>
                    <th><a href="#" data-sort="title" data-username="{{ data.username }}" data-days="{{ data.days }}" class="reading-details-sort{% if data.sort == 'title' %} sort-active{% endif %}">Title</a>/author</th>
                    <th><a href="#" data-sort="time" data-username="{{ data.username }}" data-days="{{ data.days }}" class="reading-details-sort{% if data.sort == 'time' %} sort-active{% endif %}">Active time</a></th>
                    <th><a href="#" data-sort="lastview" data-username="{{ data.username }}" data-days="{{ data.days }}" class="reading-details-sort{% if data.sort == 'lastview' %} sort-active{% endif %}">Last read</a></th>
                    <th class="d-sm-down-none">Words looked up</th>
                    <th class="d-sm-down-none">Learning</th>
                    <th class="d-md-down-none">Custom</th>
                    <th class="d-md-down-none">Reading level</th>
                </tr>
            </thead>
            <tbody>
                {% for book in data.book_details %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'reader_default' book_id=book.book_id %}">{{ book.title }}</a>
                        {% if book.is_assigned %}<span class="datatable-mark"><span class="sr-only">Assigned</span></span>{% endif %}
                        <div class="muted">{{ book.author }}</div>
                    </th>
                    <td>{{ book.hours }} <span aria-hidden="true">hrs</span><span class="sr-only">hours</span> ({{ book.view_count }} visits)</td>
                    <td>{{ book.last_view | naturalday }}</td>
                    <td class="d-sm-down-none">{{ book.words_looked_up | default:"&mdash;" }}</td>
                    <td class="d-sm-down-none">{{ book.learning | default:"&mdash;" }}</td>
                    <td class="d-md-down-none">
                        <span class="muted">{{ book.custom_question | default:"&mdash;" }}</span>
                        {% if book.custom_response %}{{ book.custom_response }}{% endif %}
                    </td>
                    <td class="d-md-down-none">
                        {{ book.reading_level | default:"&mdash;" }}
                        {% if book.last_version %}
                        <span class="muted">
                            (Challenge {{ book.last_version.sortOrder | add:1 }}{% if book.version_switched %}/switched from {{ book.first_version.sortOrder | add:1 }}{% endif %})
                        </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
