<div class="box box-secondary">
    <h4 class="h2">Reactions</h4>
    <div class="box-divider"></div>
    Click on a word to see how your student felt about those particular readings.<br>
    {% if student is None %}
        &quot;{{ current_student_username }}&quot; is not in this period. Below are the reactions of the students that are.<br>
    {% endif %}
    {% if data.empty and student %}
        {{ student.user.first_name }} hasn’t reacted
        {% if days == 7 %}
            in the past week.
        {% elif days == 30 %}
            in the past month.
        {% else %}
            yet.
        {% endif %}
    {% endif %}
    {% include 'shared/partial/affect_wheel_display.html' with data=data.totals %}
</div>
