$textColor: #fbfbfb;
$backgroundColor: #121212;
$linkColor: #eceff5;
$selectionBackgroundColor: #acfdf0;
$selectionTextColor: #111;

$figure-caption-bg:                     #272727;
$figure-caption-color:                  #eceff5;
$glossary-underline:                    #ff554d;

$img-mix-blend-mode:                    difference;

$themeName: "night";
@import "readium-theme";
