// Functions
@import "../../node_modules/figuration/scss/functions";

// Settings variables
@import "site/site-pre";
@import "../../node_modules/figuration/scss/settings";
@import "../../node_modules/figuration/scss/settings-options";
@import "site/site-post";

// Mixins
@import "../../node_modules/figuration/scss/mixins";

// Core CSS items - extend on the base HTML
@import "../../node_modules/figuration/scss/core/root";
@import "../../node_modules/figuration/scss/core/reboot";
@import "../../node_modules/figuration/scss/core/typography";
@import "../../node_modules/figuration/scss/core/code";
@import "../../node_modules/figuration/scss/core/images";
@import "../../node_modules/figuration/scss/core/tables";
@import "../../node_modules/figuration/scss/forms";
@import "../../node_modules/figuration/scss/core/buttons";

// Components - additional functionality and layout
@import "../../node_modules/figuration/scss/component/grid";
@import "../../node_modules/figuration/scss/component/animation";
@import "../../node_modules/figuration/scss/component/caret";
@import "../../node_modules/figuration/scss/component/close";
@import "../../node_modules/figuration/scss/component/drag";
@import "../../node_modules/figuration/scss/component/progress";
@import "../../node_modules/figuration/scss/component/list";
@import "../../node_modules/figuration/scss/component/button-group";
@import "../../node_modules/figuration/scss/component/input-group";
@import "../../node_modules/figuration/scss/component/breadcrumb";
@import "../../node_modules/figuration/scss/component/pagination";
@import "../../node_modules/figuration/scss/component/dropdown";
@import "../../node_modules/figuration/scss/component/nav";
@import "../../node_modules/figuration/scss/component/navbar";
@import "../../node_modules/figuration/scss/component/jumbotron";
@import "../../node_modules/figuration/scss/component/badge";
@import "../../node_modules/figuration/scss/component/media";
@import "../../node_modules/figuration/scss/component/card";
@import "../../node_modules/figuration/scss/component/alert";

// Components w/ JavaScript
@import "../../node_modules/figuration/scss/component/modal";
@import "../../node_modules/figuration/scss/component/tooltip";
@import "../../node_modules/figuration/scss/component/popover";

// Utility classes
@import "../../node_modules/figuration/scss/utilities";

// Print overrides
@import "../../node_modules/figuration/scss/core/print";

// Additional site specific items
@import "site/site";

// Themes
@import "site-themes/theme-default";
@import "site-themes/theme-sepia";
@import "site-themes/theme-night";
