<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Clusive{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% include "shared/partial/head.html" %}

    {% comment %}
    For injection of additional markup into the head area
    {% endcomment %}
    {% block head_additional %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %} {{theme_class}}">
    {% if request.user.is_authenticated %}
        {% block preference_panel %} {% include "shared/partial/preference-panel.html" with prefs_is_reader=False %} {% endblock %}
    {% endif %}
    <a class="skiplink sr-only-focusable" href="#content">Skip to main content</a>
    <button id="shortcutsLocator" class="skiplink sr-only-focusable">Keyboard shortcuts</button>

    {% block header %}
    {% include "shared/partial/site_header.html" %}
    {% endblock%}

    <div class="content-container container-xl">
        <div class="sidebars-wrapper sidebars-bg sidebars-top is-fixed">
            <div class="sidebars">
                <div class="sidebar sidebar-start">
                    {% block sidebar_start %}
                    {% include "shared/partial/sidebar_start.html" with nav=False %}
                    {% endblock%}
                </div>

                <div class="sidebar sidebar-end">
                    {% block sidebar_end %}
                    {% include "shared/partial/sidebar_end.html" with read_aloud=True lookup=True %}
                    {% endblock%}
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="sidebars-wrapper sidebars-bottom is-fixed">
            <div class="sidebars">
                <div class="sidebar sidebar-start">
                    {% block sidebar_bottom_start %}
                    {% include "shared/partial/sidebar_bottom_start.html" with why=False %}
                    {% endblock%}
                    {% block sidebar_bottom_end %}
                    {% endblock%}
                </div>
            </div>
        </div>
    </div>

    {% include "shared/partial/modal_settings.html" %}
    {% include "shared/partial/modal_switch.html" %}
    {% include "shared/partial/popover_glossary.html" %}
    {% include "shared/partial/popover_shortcuts.html" %}
    {% if not user.is_anonymous %}
        {% include "shared/partial/modal_timeout.html" %}
        <button id="modalTimeoutTrigger" type="button" data-cfw="modal" data-cfw-modal-target="#modalTimeout" class="d-none fixed-center">
            Timeout warning
        </button>
    {% endif %}

    <div id="notifyContainer" class="notify-container" aria-live="assertive"></div>
</body>
</html>
