<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Clusive{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% include "shared/partial/head.html" %}

    {% comment %}
    For injection of additional markup into the head are
    {% endcomment %}
    {% block head_additional %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
    {% block preference_panel %} {% include "shared/partial/preference-panel.html" with prefs_is_reader=False %} {% endblock %}
    <a class="skiplink sr-only-focusable" href="#content">Skip to main content</a>

    {% block header %}
    {% include "shared/partial/site_header.html" %}
    {% endblock%}

    <div class="container-xl">
        <div class="sidebars-wrapper">
            <div class="sidebars is-fixed">
                <div class="sidebar sidebar-start">
                    {% block sidebar_start %}
                    {% include "shared/partial/sidebar_start.html" with nav=0 why=0 %}
                    {% endblock%}
                </div>

                <div class="sidebar sidebar-end">
                    {% block sidebar_end %}
                    {% include "shared/partial/sidebar_end.html" with read_aloud=True lookup=True %}
                    {% endblock%}
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "shared/partial/modal_settings.html" %}
    {% include "shared/partial/modal_why.html" %}
    {% include "shared/partial/popover_glossary.html" %}
</body>
</html>