// Used to generate new Readium themes ("appearances")

@mixin readium-theme($theme-name: null) {
    $selector: "root";
    @if ($theme-name != null) {
        $selector: #{'root[style*="#{$theme-name}"]'};
    }

    :#{$selector} {
        --RS__backgroundColor: #{$body-bg};

        @if $bg-image-override != null {
            --RS__backgroundImage: #{if($bg-image-override != null, $bg-image-override, null)};
        }

        --RS__textColor: #{$body-color};
        --RS__linkColor: #{$link-color};
        --RS__linkHoverColor: #{$link-hover-color};
        --RS__visitedColor: #{$link-color};

        // This can be customized but initial will re-use default value of the browser
        --RS__selectionBackgroundColor: #{$selection-bg};
        --RS__selectionTextColor: #{$selection-color};

        // Additional Clusive styling within the reader frame
        --CRT_figureCaptionBg: #{$figure-caption-bg};
        --CRT_figureCaptionColor: #{$figure-caption-color};
        --CRT_glossaryUnderline: #{$glossary-underline};
        --CRT_ttsBackgroundColor: #{$tts-highlight-bg};
        --CRT_ttsTextColor: #{$tts-highlight-color};
        --CRT_focusRingColor: #{$focus-ring-color};

        // Image blend
        --CRT_imgMixBlendMode: #{$img-mix-blend-mode};

        // Highlight overlay
        --CRT_highlightOverlayBg: #{$highlight-overlay-bg};
        --CRT_highlightOverlayHoverBg: #{$highlight-overlay-hover-bg};
        --CRT_highlightOverlayMixBlendMode: #{$highlight-overlay-mix-blend-mode};

        // Forcing a reflow in Blink/Webkit so that blend mode can work
        --RS__maxLineLength: 40.01rem;

        // Popup -- borrow from popover
        --CT_popoverBg: #{$popover-bg};
        --CT_popoverBorderWidth: #{$popover-border-width};
        --CT_popoverBorderColor: #{$popover-border-color};
        --CT_popoverBodyColor: #{$popover-body-color};

        // we don't need to redeclare bg-color and color for :root since we will inherit and update from day/default mode

        body {
            // Should be transparent but Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=711955&q=mix-blend-mode&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified
            color: var(--RS__textColor);
            background-color: var(--RS__backgroundColor);
        }

        * {
            @if $bg-image-override != null {
                background-image: var(--RS__backgroundImage);
            }
        }

        a:link,
        a:link * {
            color: var(--RS__linkColor);
        }
        a:hover,
        a:hover * {
            color: var(--RS_linkHoverColor);
        }

        a:visited,
        a:visited * {
            color: var(--RS__visitedColor);
        }

        //stylelint-disable selector-max-id, selector-class-pattern, declaration-no-important
        svg,
        img {
            // Make sure the proper bg-color is used for the blend mode
            background-color: var(--RS__backgroundColor) !important;
            mix-blend-mode: var(--CRT_imgMixBlendMode);
        }

        #R2_ID_HIGHLIGHTS_CONTAINER .R2_CLASS_HIGHLIGHT_AREA {
            background-color: var(--CRT_highlightOverlayBg) !important;
            mix-blend-mode: var(--CRT_highlightOverlayMixBlendMode) !important;

            &:hover,
            &.hover {
                background-color: var(--CRT_highlightOverlayHoverBg) !important;
            }
        }

        #R2_ID_DEFINITIONS_CONTAINER .R2_CLASS_HIGHLIGHT_AREA {
            //box-shadow: 0 .0625em 0 0 var(--CRT_glossaryUnderline), inset 0 -.125em 0 0 var(--CRT_glossaryUnderline);
            border-bottom: .1875em solid var(--CRT_glossaryUnderline);
        }
    }
}
