// stylelint-disable custom-property-empty-line-before
@mixin resource-theme($theme-name: unquote(":root")) {
    #{$theme-name} {
        --CT_linkColor: #{$link-color};
        --CT_linkHoverColor: #{$link-hover-color};

        --CT_figureCaptionBg: #{$figure-caption-bg};
        --CT_figureCaptionColor: #{$figure-caption-color};

        --CT_boxResourceBg: #{$box-resource-bg};
        --CT_boxResourceColor: #{$box-resource-color};
        --CT_boxResourceDividerColor: #{$box-resource-divider-color};
        --CT_boxResourceBorderColor: #{$box-resource-border-color};

        --CT_boxResourceSecondaryBg: #{$box-resource-secondary-bg};
        --CT_boxResourceSecondaryColor: #{$box-resource-secondary-color};
        --CT_boxResourceSecondaryDividerColor: #{$box-resource-secondary-divider-color};
        --CT_boxResourceSecondaryBorderColor: #{$box-resource-secondary-border-color};

        --CT_boxTeachBg: #{$box-teach-bg};
        --CT_boxTeachColor: #{$box-teach-color};
        --CT_boxTeachDividerColor: #{$box-teach-divider-color};
        --CT_boxTeachBorderColor: #{$box-teach-border-color};

        --CT_boxShareBg: #{$box-share-bg};
        --CT_boxShareColor: #{$box-share-color};
        --CT_boxShareDividerColor: #{$box-share-divider-color};
        --CT_boxShareBorderColor: #{$box-share-border-color};

        --CT_imgMascotResource: #{$img-mascot-resource};
        --CT_imgTwitter: #{$img-twitter};
    }
}
