// stylelint-disable custom-property-empty-line-before
@mixin site-theme($theme-name: unquote(":root")) {
    #{$theme-name} {
        --CT_bodyBg: #{$body-bg};
        --CT_bodyColor: #{$body-color};

        --CT_textMuted: #{$text-muted};

        --CT_linkColor: #{$link-color};
        --CT_linkHoverColor: #{$link-hover-color};

        --CT_focusRingColor: #{$focus-ring-color};
        --CT_focusRingRGB: #{red($focus-ring-color), green($focus-ring-color), blue($focus-ring-color)};

        --CT_selectionBg: #{$selection-bg};
        --CT_selectionColor: #{$selection-color};

        --CT_skiplinkBg: #{$skiplink-bg};
        --CT_skiplinkColor: #{$skiplink-color};
        --CT_skiplinkBorderColor: #{$skiplink-border-color};

        --CT_headerOuterBg: #{$header-outer-bg};
        --CT_headerBg: #{$header-bg};
        --CT_headerColor: #{$header-color};
        --CT_headerLogoColor: #{$header-logo-color};
        --CT_headerLogoIconColor: #{$header-logo-icon-color};
        --CT_headerLogoIconHoverColor: #{$header-logo-icon-hover-color};

        --CT_actionBg: #{$action-bg};
        --CT_actionColor: #{$action-color};
        --CT_actionHoverBg: #{$action-hover-bg};
        --CT_actionHoverColor: #{$action-hover-color};
        --CT_actionCurrentBg: #{$action-current-bg};
        --CT_actionCurrentColor: #{$action-current-color};

        --CT_pageTitleBorderColor: #{$page-title-border-color};

        --CT_footerBorderColor: #{$footer-border-color};

        --CT_sidebarStartBg: #{$sidebar-start-bg};
        --CT_sidebarEndBg: #{$sidebar-end-bg};

        --CT_libraryBodyBg: #{$library-bg};
        --CT_libraryHeaderOuterBg: #{$library-header-outer-bg};
        --CT_libraryHeaderBg: #{$library-header-bg};
        --CT_libraryLogoColor: #{$library-logo-color};
        --CT_libraryLogoIconColor: #{$library-logo-icon-color};

        --CT_libraryFilterBg: #{$library-filter-bg};
        --CT_libraryFilterColor: #{$library-filter-color};
        --CT_libraryFilterActiveIconColor: #{$library-filter-active-icon-color};
        --CT_libraryFilterActiveIconTextShadow: #{$library-filter-active-icon-text-shadow};

        --CT_homeBodyBg: #{$home-bg};
        --CT_homeHeaderOuterBg: #{$home-header-outer-bg};
        --CT_homeHeaderBg: #{$home-header-bg};
        --CT_homeLogoColor: #{$home-logo-color};
        --CT_homeLogoIconColor: #{$home-logo-icon-color};
        --CT_homeSectionBorderColor: #{$home-section-border-color};
        --CT_loginSectionBorderColor: #{$login-section-border-color};

        --CT_cardBg: #{$card-bg};
        --CT_cardColor: #{$card-color};
        --CT_cardBorderColor: #{$card-border-color};
        --CT_cardImgBg: #{$card-img-bg};
        --CT_cardLibraryBoxShadow: #{$card-library-box-shadow};
        --CT_cardLibraryAuthorColor: #{$card-library-author-color};

        --CT_cardLoginBg: #{$card-login-bg};
        --CT_cardLoginColor: #{$card-login-color};

        --CT_figureCaptionBg: #{$figure-caption-bg};
        --CT_figureCaptionColor: #{$figure-caption-color};

        --CT_tableActiveBg: #{$table-active-bg};
        --CT_tableBorderColor: #{$table-border-color};

        --CT_tableRosterHeadColor: #{$table-roster-head-color};

        --CT_btnPrimaryFocusRingRGB: #{red($btn-primary-focus-ring), green($btn-primary-focus-ring), blue($btn-primary-focus-ring)};
        --CT_btnPrimaryBg: #{$btn-primary-bg};
        --CT_btnPrimaryColor: #{$btn-primary-color};
        --CT_btnPrimaryBorderColor: #{$btn-primary-border-color};
        --CT_btnPrimaryHoverBg: #{$btn-primary-hover-bg};
        --CT_btnPrimaryHoverColor: #{$btn-primary-hover-color};
        --CT_btnPrimaryHoverBorderColor: #{$btn-primary-hover-border-color};
        --CT_btnPrimaryActiveBg: #{$btn-primary-active-bg};
        --CT_btnPrimaryActiveColor: #{$btn-primary-active-color};
        --CT_btnPrimaryActiveBorderColor: #{$btn-primary-active-border-color};

        --CT_btnSecondaryFocusRingRGB: #{red($btn-secondary-focus-ring), green($btn-secondary-focus-ring), blue($btn-secondary-focus-ring)};
        --CT_btnSecondaryBg: #{$btn-secondary-bg};
        --CT_btnSecondaryColor: #{$btn-secondary-color};
        --CT_btnSecondaryBorderColor: #{$btn-secondary-border-color};
        --CT_btnSecondaryHoverBg: #{$btn-secondary-hover-bg};
        --CT_btnSecondaryHoverColor: #{$btn-secondary-hover-color};
        --CT_btnSecondaryHoverBorderColor: #{$btn-secondary-hover-border-color};
        --CT_btnSecondaryActiveBg: #{$btn-secondary-active-bg};
        --CT_btnSecondaryActiveColor: #{$btn-secondary-active-color};
        --CT_btnSecondaryActiveBorderColor: #{$btn-secondary-active-border-color};

        --CT_btnNavFocusRingRGB: #{red($btn-nav-focus-ring), green($btn-nav-focus-ring), blue($btn-nav-focus-ring)};
        --CT_btnNavBg: #{$btn-nav-bg};
        --CT_btnNavColor: #{$btn-nav-color};
        --CT_btnNavBorderColor: #{$btn-nav-border-color};
        --CT_btnNavHoverBg: #{$btn-nav-hover-bg};
        --CT_btnNavHoverColor: #{$btn-nav-hover-color};
        --CT_btnNavHoverBorderColor: #{$btn-nav-hover-border-color};
        --CT_btnNavActiveBg: #{$btn-nav-active-bg};
        --CT_btnNavActiveColor: #{$btn-nav-active-color};
        --CT_btnNavActiveBorderColor: #{$btn-nav-active-border-color};
        --CT_btnNavDisabledBg: #{$btn-nav-disabled-bg};
        --CT_btnNavDisabledColor: #{$btn-nav-disabled-color};
        --CT_btnNavDisabledBorderColor: #{$btn-nav-disabled-border-color};
        --CT_btnNavDisabledOpacity: #{$btn-nav-disabled-opacity};

        --CT_btnSettingFocusRingRGB: #{red($btn-setting-focus-ring), green($btn-setting-focus-ring), blue($btn-setting-focus-ring)};
        --CT_btnSettingBg: #{$btn-setting-bg};
        --CT_btnSettingColor: #{$btn-setting-color};
        --CT_btnSettingBorderColor: #{$btn-setting-border-color};
        --CT_btnSettingHoverBg: #{$btn-setting-hover-bg};
        --CT_btnSettingHoverColor: #{$btn-setting-hover-color};
        --CT_btnSettingHoverBorderColor: #{$btn-setting-hover-border-color};
        --CT_btnSettingActiveBg: #{$btn-setting-active-bg};
        --CT_btnSettingActiveColor: #{$btn-setting-active-color};
        --CT_btnSettingActiveBorderColor: #{$btn-setting-active-border-color};
        --CT_btnSettingTextShadow: #{$btn-setting-text-shadow};

        --CT_btnToolFocusRingRGB: #{red($btn-tool-focus-ring), green($btn-tool-focus-ring), blue($btn-tool-focus-ring)};
        --CT_btnToolBg: #{$btn-tool-bg};
        --CT_btnToolColor: #{$btn-tool-color};
        --CT_btnToolBorderColor: #{$btn-tool-border-color};
        --CT_btnToolHoverBg: #{$btn-tool-hover-bg};
        --CT_btnToolHoverColor: #{$btn-tool-hover-color};
        --CT_btnToolHoverBorderColor: #{$btn-tool-hover-border-color};
        --CT_btnToolActiveBg: #{$btn-tool-active-bg};
        --CT_btnToolActiveColor: #{$btn-tool-active-color};
        --CT_btnToolActiveBorderColor: #{$btn-tool-active-border-color};

        --CT_btnOptionFocusRingRGB: #{red($btn-option-focus-ring), green($btn-option-focus-ring), blue($btn-option-focus-ring)};
        --CT_btnOptionBg: #{$btn-option-bg};
        --CT_btnOptionColor: #{$btn-option-color};
        --CT_btnOptionBorderColor: #{$btn-option-border-color};
        --CT_btnOptionHoverBg: #{$btn-option-hover-bg};
        --CT_btnOptionHoverColor: #{$btn-option-hover-color};
        --CT_btnOptionHoverBorderColor: #{$btn-option-hover-border-color};
        --CT_btnOptionActiveBg: #{$btn-option-active-bg};
        --CT_btnOptionActiveColor: #{$btn-option-active-color};
        --CT_btnOptionActiveBorderColor: #{$btn-option-active-border-color};
        --CT_btnOptionActiveBoxShadowRGB: #{red($btn-option-active-box-shadow-color), green($btn-option-active-box-shadow-color), blue($btn-option-active-box-shadow-color)};
        --CT_btnOptionActiveBoxShadowOpacity: #{$btn-option-active-box-shadow-opacity};
        --CT_btnOptionActiveHoverBorderColor: #{$btn-option-active-hover-border-color};

        --CT_btnTtsFocusRingRGB: #{red($btn-tts-focus-ring), green($btn-tts-focus-ring), blue($btn-tts-focus-ring)};
        --CT_btnTtsBg: #{$btn-tts-bg};
        --CT_btnTtsColor: #{$btn-tts-color};
        --CT_btnTtsBorderColor: #{$btn-tts-border-color};
        --CT_btnTtsHoverBg: #{$btn-tts-hover-bg};
        --CT_btnTtsHoverColor: #{$btn-tts-hover-color};
        --CT_btnTtsHoverBorderColor: #{$btn-tts-hover-border-color};
        --CT_btnTtsActiveBg: #{$btn-tts-active-bg};
        --CT_btnTtsActiveColor: #{$btn-tts-active-color};
        --CT_btnTtsActiveBorderColor: #{$btn-tts-active-border-color};

        --CT_btnFlagFocusRingRGB: #{red($btn-flag-focus-ring), green($btn-flag-focus-ring), blue($btn-flag-focus-ring)};
        --CT_btnFlagBg: #{$btn-flag-bg};
        --CT_btnFlagColor: #{$btn-flag-color};
        --CT_btnFlagBorderColor: #{$btn-flag-border-color};
        --CT_btnFlagHoverBg: #{$btn-flag-hover-bg};
        --CT_btnFlagHoverColor: #{$btn-flag-hover-color};
        --CT_btnFlagHoverBorderColor: #{$btn-flag-hover-border-color};
        --CT_btnFlagActiveBg: #{$btn-flag-active-bg};
        --CT_btnFlagActiveColor: #{$btn-flag-active-color};
        --CT_btnFlagActiveBorderColor: #{$btn-flag-active-border-color};

        --CT_btnTagFocusRingRGB: #{red($btn-tag-focus-ring), green($btn-tag-focus-ring), blue($btn-tag-focus-ring)};
        --CT_btnTagBg: #{$btn-tag-bg};
        --CT_btnTagColor: #{$btn-tag-color};
        --CT_btnTagBorderColor: #{$btn-tag-border-color};
        --CT_btnTagHoverBg: #{$btn-tag-hover-bg};
        --CT_btnTagHoverColor: #{$btn-tag-hover-color};
        --CT_btnTagHoverBorderColor: #{$btn-tag-hover-border-color};
        --CT_btnTagActiveBg: #{$btn-tag-active-bg};
        --CT_btnTagActiveColor: #{$btn-tag-active-color};
        --CT_btnTagActiveBorderColor: #{$btn-tag-active-border-color};

        --CT_btnFavoriteFocusRingRGB: #{red($btn-favorite-focus-ring), green($btn-favorite-focus-ring), blue($btn-favorite-focus-ring)};
        --CT_btnFavoriteBg: #{$btn-favorite-bg};
        --CT_btnFavoriteColor: #{$btn-favorite-color};
        --CT_btnFavoriteBorderColor: #{$btn-favorite-border-color};
        --CT_btnFavoriteHoverBg: #{$btn-favorite-hover-bg};
        --CT_btnFavoriteHoverColor: #{$btn-favorite-hover-color};
        --CT_btnFavoriteHoverBorderColor: #{$btn-favorite-hover-border-color};
        --CT_btnFavoriteActiveBg: #{$btn-favorite-active-bg};
        --CT_btnFavoriteActiveColor: #{$btn-favorite-active-color};
        --CT_btnFavoriteActiveBorderColor: #{$btn-favorite-active-border-color};

        --CT_errorListBg: #{$error-bg};
        --CT_errorListColor: #{$error-color};

        --CT_dropdownBg: #{$dropdown-bg};
        --CT_dropdownColor: #{$dropdown-color};
        --CT_dropdownBorderColor: #{$dropdown-border-color};
        --CT_dropdownLinkColor: #{$dropdown-link-color};
        --CT_dropdownLinkHoverBg: #{$dropdown-link-hover-bg};
        --CT_dropdownLinkHoverColor: #{$dropdown-link-hover-color};
        --CT_dropdownLinkActiveBg: #{$dropdown-link-active-bg};
        --CT_dropdownLinkActiveColor: #{$dropdown-link-active-color};

        --CT_popoverBg: #{$popover-bg};
        --CT_popoverBorderColor: #{$popover-border-color};
        --CT_popoverHeaderBg: #{$popover-header-bg};
        --CT_popoverHeaderColor: #{$popover-header-color};
        --CT_popoverHeaderBorderColor: #{$popover-header-border-color};
        --CT_popoverBodyColor: #{$popover-body-color};
        --CT_popoverFooterBg: #{$popover-footer-bg};
        --CT_popoverFooterColor: #{$popover-footer-color};
        --CT_popoverFooterBorderColor: #{$popover-footer-border-color};
        --CT_popoverSectionBorderColor: #{$popover-section-border-color};

        --CT_modalBackdropBg: #{$modal-backdrop-bg};
        --CT_modalBackdropOpacity: #{$modal-backdrop-opacity};
        --CT_modalContentBg: #{$modal-content-bg};
        --CT_modalContentColor: #{$modal-content-color};
        --CT_modalContentBorderColor: #{$modal-content-border-color};
        --CT_modalHeaderBg: #{$modal-header-bg};
        --CT_modalHeaderColor: #{$modal-header-color};
        --CT_modalHeaderBorderColor: #{$modal-header-border-color};
        --CT_modalFooterBg: #{$modal-footer-bg};
        --CT_modalFooterColor: #{$modal-footer-color};
        --CT_modalFooterBorderColor: #{$modal-footer-border-color};
        --CT_modalSectionBorderColor: #{$modal-section-border-color};

        --CT_settingBorderColor: #{$setting-border-color};
        --CT_settingTitleColor: #{$setting-title-color};
        --CT_settingModalContentBg: #{$setting-modal-content-bg};
        --CT_settingModalContentColor: #{$setting-modal-content-color};
        --CT_settingModalContentBorderColor: #{$setting-modal-content-border-color};
        --CT_settingModalHeaderBg: #{$setting-modal-header-bg};
        --CT_settingModalHeaderColor: #{$setting-modal-header-color};
        --CT_settingModalHeaderBorderColor: #{$setting-modal-header-border-color};
        --CT_settingModalFooterBg: #{$setting-modal-footer-bg};
        --CT_settingModalFooterBorderColor: #{$setting-modal-footer-border-color};

        --CT_settingTabBg: #{$toc-tab-bg};
        --CT_settingTabColor: #{$toc-tab-color};
        --CT_settingTabBorderColor: #{$toc-tab-border-color};
        --CT_settingTabHoverBg: #{$toc-tab-hover-bg};
        --CT_settingTabHoverColor: #{$toc-tab-hover-color};
        --CT_settingTabHoverBorderColor: #{$toc-tab-hover-border-color};
        --CT_settingTabActiveBg: #{$toc-tab-active-bg};
        --CT_settingTabActiveColor: #{$toc-tab-active-color};
        --CT_settingTabActiveBorderColor: #{$toc-tab-active-border-color};

        --CT_tocModalContentBg: #{$toc-modal-content-bg};
        --CT_tocModalContentColor: #{$toc-modal-content-color};
        --CT_tocModalContentBorderColor: #{$toc-modal-content-border-color};
        --CT_tocModalHeaderBg: #{$toc-modal-header-bg};
        --CT_tocModalHeaderColor: #{$toc-modal-header-color};
        --CT_tocModalHeaderBorderColor: #{$toc-modal-header-border-color};

        --CT_tocTabBg: #{$toc-tab-bg};
        --CT_tocTabColor: #{$toc-tab-color};
        --CT_tocTabBorderColor: #{$toc-tab-border-color};
        --CT_tocTabHoverBg: #{$toc-tab-hover-bg};
        --CT_tocTabHoverColor: #{$toc-tab-hover-color};
        --CT_tocTabHoverBorderColor: #{$toc-tab-hover-border-color};
        --CT_tocTabActiveBg: #{$toc-tab-active-bg};
        --CT_tocTabActiveColor: #{$toc-tab-active-color};
        --CT_tocTabActiveBorderColor: #{$toc-tab-active-border-color};

        --CT_tocActiveBg: #{$toc-active-bg};
        --CT_tocLinkColor: #{$toc-link-color};
        --CT_tocLinkBg: #{$toc-link-bg};
        --CT_tocLinkBorderColor: #{$toc-link-border-color};
        --CT_tocLinkHoverColor: #{$toc-link-hover-color};
        --CT_tocLinkHoverBg: #{$toc-link-hover-bg};
        --CT_tocLinkHoverBorderColor: #{$toc-link-hover-border-color};
        --CT_tocCaretColor: #{$toc-caret-color};
        --CT_tocCaretBg: #{$toc-caret-bg};
        --CT_tocCaretHoverColor: #{$toc-caret-hover-color};
        --CT_tocCaretHoverBg: #{$toc-caret-hover-bg};

        --CT_tocLinkBgD0: #{$toc-nav-link-bg-d0};
        --CT_tocLinkColorD0: #{$toc-nav-link-color-d0};
        --CT_tocCaretBgD0: #{$toc-nav-caret-bg-d0};
        --CT_tocCaretColorD0: #{$toc-nav-caret-color-d0};
        --CT_tocLinkBgD1: #{$toc-nav-link-bg-d1};
        --CT_tocLinkColorD1: #{$toc-nav-link-color-d1};
        --CT_tocCaretBgD1: #{$toc-nav-caret-bg-d1};
        --CT_tocCaretColorD1: #{$toc-nav-caret-color-d1};
        --CT_tocLinkBgD2: #{$toc-nav-link-bg-d2};
        --CT_tocLinkColorD2: #{$toc-nav-link-color-d2};
        --CT_tocCaretBgD2: #{$toc-nav-caret-bg-d2};
        --CT_tocCaretColorD2: #{$toc-nav-caret-color-d2};

        --CT_goalModalTitleColor: #{$goal-modal-title-color};
        --CT_goalModalSubtitleColor: #{$goal-modal-subtitle-color};

        --CT_whyModalTitleColor: #{$why-modal-title-color};
        --CT_whyIconColor: #{$why-icon-color};
        --CT_whyIconActiveColor: #{$why-icon-active-color};
        --CT_whyIconActiveTextShadowColor: #{$why-icon-active-text-shadow-color};
        --CT_whyIconActiveTextShadowColorRGB: #{red($why-icon-active-text-shadow-color), green($why-icon-active-text-shadow-color), blue($why-icon-active-text-shadow-color)};
        --CT_whyIconActiveTextShadowOpacity: #{$why-icon-active-text-shadow-opacity};

        --CT_rankingBorderColor: #{$ranking-border-color};

        --CT_formCheckradioBorderColor: #{$form-checkradio-border-color};
        --CT_formCheckradioCheckedBg: #{$form-checkradio-checked-bg};
        --CT_formCheckradioCheckedBorderColor: #{$form-checkradio-checked-border-color};
        --CT_formCheckradioFocusBorderColor: #{$form-checkradio-focus-border-color};
        --CT_formCheckradioFocusBoxShadowRGB: #{red($form-checkradio-focus-box-shadow-color), green($form-checkradio-focus-box-shadow-color), blue($form-checkradio-focus-box-shadow-color)};
        --CT_formCheckradioFocusBoxShadowOpacity: #{$form-checkradio-focus-box-shadow-opacity};
        --CT_formCheckradioCheckedBoxShadowRGB: #{red($form-checkradio-checked-box-shadow-color), green($form-checkradio-checked-box-shadow-color), blue($form-checkradio-checked-box-shadow-color)};
        --CT_formCheckradioCheckedBoxShadowOpacity: #{$form-checkradio-checked-box-shadow-opacity};

        --CT_formRangeTrackBg: #{$form-range-track-bg};
        --CT_formRangeThumbBg: #{$form-range-thumb-bg};
        --CT_formRangeThumbBoxShadowRGB: #{red($form-range-thumb-box-shadow-color), green($form-range-thumb-box-shadow-color), blue($form-range-thumb-box-shadow-color)};
        --CT_formRangeThumbBoxShadowOpacity: #{$form-range-thumb-box-shadow-opacity};
        --CT_formRangeThumbFocusBoxShadowRGB: #{red($form-range-thumb-focus-box-shadow-color), green($form-range-thumb-focus-box-shadow-color), blue($form-range-thumb-focus-box-shadow-color)};
        --CT_formRangeThumbFocusBoxShadowOpacity: #{$form-range-thumb-focus-box-shadow-opacity};
        --CT_formRangeThumbActiveBg: #{$form-range-thumb-active-bg};
        --CT_formRangeTipColor: #{$form-range-tip-color};

        --CT_formSwitchTrackBg: #{$form-switch-track-bg};
        --CT_formSwitchTrackBorderColor: #{$form-switch-track-border-color};
        --CT_formSwitchTrackFocusBorderColor: #{$form-switch-track-focus-border-color};
        --CT_formSwitchTrackFocusBoxShadowRGB: #{red($form-switch-track-focus-box-shadow-color), green($form-switch-track-focus-box-shadow-color), blue($form-switch-track-focus-box-shadow-color)};
        --CT_formSwitchTrackFocusBoxShadowOpacity: #{$form-switch-track-focus-box-shadow-opacity};
        --CT_formSwitchTrackCheckedBg: #{$form-switch-track-checked-bg};
        --CT_formSwitchTrackCheckedBorderColor: #{$form-switch-track-checked-border-color};

        --CT_formSwitchThumbBg: #{$form-switch-thumb-bg};
        --CT_formSwitchThumbBoxShadowRGB: #{red($form-switch-thumb-box-shadow-color), green($form-switch-thumb-box-shadow-color), blue($form-switch-thumb-box-shadow-color)};
        --CT_formSwitchThumbBoxShadowOpacity: #{$form-switch-thumb-box-shadow-opacity};
        --CT_formSwitchThumbFocusBg: #{$form-switch-thumb-focus-bg};
        --CT_formSwitchThumbCheckedBg: #{$form-switch-thumb-checked-bg};
        --CT_formSwitchThumbCheckedBorderColor: #{$form-switch-thumb-checked-border-color};
        --CT_formSwitchThumbCheckedBoxShadowRGB: #{red($form-switch-thumb-checked-box-shadow-color), green($form-switch-thumb-checked-box-shadow-color), blue($form-switch-thumb-checked-box-shadow-color)};
        --CT_formSwitchThumbCheckedBoxShadowOpacity: #{$form-switch-thumb-checked-box-shadow-opacity};

        --CT_wordbankBorderColor: #{$wordbank-border-color};
        --CT_wordbankColBg: #{$wordbank-col-bg};
        --CT_wordbankControlColor: #{$wordbank-control-color};
        --CT_wordbankControlHoverColor: #{$wordbank-control-hover-color};
        --CT_wordbankTitleColor: #{$wordbank-title-color};
        --CT_wordbankCountBg: #{$wordbank-count-bg};
        --CT_wordbankCountColor: #{$wordbank-count-color};
        --CT_wordbankCountBorderColor: #{$wordbank-count-border-color};
        --CT_wordbankCountEmptyBg: #{$wordbank-count-empty-bg};
        --CT_wordbankCountEmptyColor: #{$wordbank-count-empty-color};
        --CT_wordbankCountEmptyBorderColor: #{$wordbank-count-empty-border-color};

        --CT_glossaryUnderline: #{$glossary-underline};
        --CT_definitionSpeechColor: #{$definition-speech-color};

        --CT_ttsBackgroundColor: #{$tts-highlight-bg};
        --CT_ttsTextColor: #{$tts-highlight-color};

        --CT_sidebarTtsActiveBg: #{$sidebar-tts-active-bg};

        --CT_imageDescCiteColor: #{$image-desc-cite-color};

        --CT_highlightBg: #{$highlight-bg};
        --CT_highlightColor: #{$highlight-color};
        --CT_highlightHoverBg: #{$highlight-hover-bg};
        --CT_highlightHoverColor: #{$highlight-hover-color};
        --CT_highlightUndeleteBg: #{$highlight-undelete-bg};

        --CT_noteTitleColor: #{$note-title-color};
        --CT_noteUndeleteBg: #{$note-undelete-bg};

        --CT_toolboxMenuBg: #{$toolbox-menu-bg};
        --CT_toolboxMenuColor: #{$toolbox-menu-color};
        --CT_toolboxMenuBorderColor: #{$toolbox-menu-border-color};
        --CT_toolboxBtnBg: #{$toolbox-btn-bg};
        --CT_toolboxBtnColor: #{$toolbox-btn-color};
        --CT_toolboxBtnHoverBg: #{$toolbox-btn-hover-bg};
        --CT_toolboxBtnHoverColor: #{$toolbox-btn-hover-color};
    }
}
