.box {
    padding: $box-padding-y $box-padding-x;
    margin-bottom: $box-margin-bottom;
    line-height: $box-line-height;
    color: var(--CT_boxColor);
    background: var(--CT_boxBg);
    @include border-radius($box-border-radius);

    .list {
        border-color: var(--CT_boxDivderColor);
    }
    //.list-divided > .list-item, .list-ruled > .list-item {
    //    border-top-width: 2px;
    //    border-bottom-width: 2px;
    //}
    //.list-divided > .list-item + .list-item, .list-ruled > .list-item + .list-item {
    //    border-top-width: 0;
    //}
    hr {
        //height: 2px;
        background-color: var(--CT_boxDivderColor);
        opacity: 1;
    }
}

.box-divider {
    padding-top: $box-padding-y;
    margin: 0 #{-$box-padding-x};
    line-height: 1;
    border-top: 3px solid var(--CT_boxDivderColor);

    & + & {
        margin-top: -1rem;
    }
}

.box-divider-thin {
    padding-top: $box-padding-y;
    margin: 0 #{-$box-padding-x};
    line-height: 1;
    border-top: 1px solid var(--CT_boxDivderColor);

    & + & {
        margin-top: -1rem;
    }
}

.box .library-grid > .card {
    margin: 1rem;
}

.box-mascot {
    position: relative;
    margin-top: calc(var(--CT_boxMascotSize) * .375);

    &::before{
        position: absolute;
        top: calc(var(--CT_boxMascotSize) * -.875);
        left: 1rem;
        display: block;
        width: var(--CT_boxMascotSize);
        height: calc(var(--CT_boxMascotSize) * #{$img-ratio-mascot});
        content: "";
        background-image: var(--CT_imgMascot);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.box-mascot-tipped {
    position: relative;
    margin-top: calc(var(--CT_boxMascotSize) * .25);

    &::before {
        position: absolute;
        top: calc(var(--CT_boxMascotSize) * -.75);
        left: 1rem;
        display: block;
        width: var(--CT_boxMascotSize);
        height: calc(var(--CT_boxMascotSize) * #{$img-ratio-mascot-tipped});
        content: "";
        background-image: var(--CT_imgMascotTippedAnimated);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.clusive-reduced-motion {
    .box-mascot-tipped {
        &::before {
            background-image: var(--CT_imgMascotTipped);
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    .box-mascot-tipped {
        &::before {
            background-image: var(--CT_imgMascotTipped);
        }
    }
}

.box-mascot-offset {
    margin-top: calc(var(--CT_boxMascotSize) * .375);
}
.box-mascot-tipped-offset {
    margin-top: calc(var(--CT_boxMascotSize) * .25);
}

.box-tabs {
    flex-basis: 100%;
    order: 1;
    margin: .5rem 0 .25rem -.5rem;

    .nav-link {
        padding: 0 .125rem;
        margin: 0 .5rem;
        color: var(--CT_boxTabColor);
        text-decoration: none;
        background-color: var(--CT_boxTabBg);
        border-bottom: 7px solid var(--CT_boxTabBorderColor);

        @include hover-focus() {
            color: var(--CT_boxTabHoverColor);
            text-decoration: underline;
            background-color: var(--CT_boxTabHoverBg);
            border-color: var(--CT_boxTabHoverBorderColor);
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
        font-weight: $font-weight-bold;
        color: var(--CT_boxTabActiveColor);
        text-decoration: none;
        background-color: var(--CT_boxTabActiveBg);
        border-color: var(--CT_boxTabActiveBorderColor);
    }
}

.box-secondary {
    color: var(--CT_boxSecondaryColor);
    background-color: var(--CT_boxSecondaryBg);
}

.box-mascot-resource-text {
    position: relative;
    max-width: rem(800px);
    min-height: calc(#{$box-mascot-resource-size} * #{$img-ratio-mascot-resource});
    padding-left: calc(#{$box-mascot-resource-size} + 1rem);

    p:last-child {
        margin-bottom: .75rem;
    }

    &::before {
        position: absolute;
        bottom: -.75rem;
        left: 0;
        display: block;
        width: $box-mascot-resource-size;
        height: calc(#{$box-mascot-resource-size} * #{$img-ratio-mascot-resource});
        content: "";
        background-image: var(--CT_imgMascotResource);
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: calc(#{$box-mascot-resource-size} * #{$img-ratio-mascot-resource});
        padding-left: 0;

        &::before {
            bottom: 0;
        }
    }
}

.box-mascot-video-text {
    position: relative;
    max-width: rem(800px);
    min-height: calc(#{$box-mascot-video-size} * #{$img-ratio-mascot-video});
    padding-left: calc(#{$box-mascot-video-size} + 1rem);

    p:last-child {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: $box-mascot-video-size;
        height: calc(#{$box-mascot-video-size} * #{$img-ratio-mascot-video});
        content: "";
        background-image: var(--CT_imgMascotVideo);
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: calc(#{$box-mascot-video-size} * #{$img-ratio-mascot-video});
        padding-left: 0;

        &::before {
            bottom: 0;
        }
    }
}
