.box {
    padding: $box-padding-y $box-padding-x;
    margin-bottom: $box-margin-bottom;
    line-height: $box-line-height;
    color: var(--CT_boxColor);
    background: var(--CT_boxBg);
    @include border-radius($box-border-radius);
}

.box-mascot {
    position: relative;
    margin-top: calc(var(--CT_boxMascotSize) * .25);

    &::before{
        position: absolute;
        top: calc(var(--CT_boxMascotSize) * -.75);
        left: 1rem;
        display: block;
        width: var(--CT_boxMascotSize);
        height: calc(var(--CT_boxMascotSize) * #{$img-ratio-mascot-tipped});
        content: "";
        background-image: var(--CT_imgMascotTipped);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.box-mascot-offset {
    margin-top: calc(var(--CT_boxMascotSize) * .25);
}

.box .library-grid > .card {
    margin: 1rem;
}
