.btn-support,
.btn-nav,
.btn-setting,
.btn-tool {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    @include font-size(1.5rem);
    line-height: 1;
    @include border-radius(10rem);
}

.btn-nav {
    &.disabled,
    &:disabled {
        opacity: var(--CT_btnNavDisabledOpacity);
    }
}

.btn-setting,
.btn-tool {
    @include font-size(1.75rem);
}

.btn-nav-toc {
    [class^="icon-"]::before,
    [class*=" icon-"]::before {
        @include font-size(1.25rem);
        transform: scaleX(-1);
    }
}
.btn-nav-prev,
.btn-nav-next {
    [class^="icon-"]::before,
    [class*=" icon-"]::before {
        position: relative;
        top: .125rem;
    }
}

.btn-setting {
    text-shadow: var(--CT_btnSettingTextShadow);

    [class^="icon-"]::before,
    [class*=" icon-"]::before {
        position: relative;
        top: -.03125em;
    }
}

%btn-option-active {
    box-shadow: $btn-active-box-shadow, .1875rem .1875rem 0 .025rem rgba(var(--CT_btnOptionActiveBoxShadowRGB), var(--CT_btnOptionActiveBoxShadowOpacity));
}
%btn-option-active-hover {
    border-color: var(--CT_btnOptionActiveHoverBorderColor);
}
.btn.btn-option,
.btn.btn-theme {
    &:active,
    &.active,
    &.open[data-cfw="dropdown"] {
        @extend %btn-option-active;
    }
    &:active:hover,
    &.active:hover,
    &.open[data-cfw="dropdown"]:hover {
        @extend %btn-option-active-hover;
    }
    @if $enable-btn-check {
        .btn-check-input:not([disabled]):checked ~ & {
            @extend %btn-option-active;
        }
        .btn-check-input:not([disabled]):checked:hover ~ & {
            @extend %btn-option-active-hover;
        }
    }
}

.btn-support-help {
    padding-right: 0;
    padding-left: 0;
    @include font-size(1rem);
    white-space: nowrap;

    [class^="icon-"],
    [class*=" icon-"] {
        position: relative;
        display: inline-block;
        transform: rotate(10deg);

        &:first-child {
            left: .125em;
            margin-right: -.125em;
        }
        &:last-child {
            left: -.125em;
            margin-right: -.125em;
        }
    }
}

.btn-flag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
    @include font-size(1.25rem);
    line-height: 1;
    @include border-radius(10rem);
}
