.card-img {
    text-align: center;
    background: var(--CT_cardImgBg);

    img {
        max-height: 55vw;

        @include media-breakpoint-up(sm) {
            max-height: 32vw;
        }

        @include media-breakpoint-up(md) {
            max-height: 23vw;
        }

        @include media-breakpoint-up(xl) {
            max-height: 17rem;
        }
    }
}

.has-masonry {
    .card-img img {
        max-height: none;
    }
}

.card-body {
    p:last-child {
        margin-bottom: 0;
    }
}

.card-divider {
    padding-top: calc(3px + #{$card-padding-y});
    margin: 0 #{-$card-padding-x};
    line-height: 1;
    border-top: 3px solid var(--CT_cardDividerColor);

    & + & {
        margin-top: -1rem;
    }

    &.spaced-top {
        margin-top: $card-padding-y;
    }
}

.card-graph {
    position: relative;
    z-index: 2;

    .link-stretch {
        &::after {
            top: calc(-#{$card-padding-y} - 3px);
            right: -$card-padding-x;
            bottom: calc(-2rem + #{-$card-padding-y});
            left: -$card-padding-x;
        }
    }

}
.card-graph-title {
    margin-bottom: .25rem;
    @include font-size(.8125rem);
}

.card-question {
    position: relative;
    z-index: 2;

    .link-stretch {
        &::after {
            top: calc(-#{$card-padding-y} - 3px);
            right: -$card-padding-x;
            bottom: -$card-padding-y;
            left: -$card-padding-x;
        }

        &:hover::after {
            background-color: rgba(0, 0, 0, .05);
        }
    }
}
.card-question-title {
    margin-bottom: .25rem;
    @include font-size(.8125rem);
}

.card {
    .stars-chart {
        border-color: var(--CT_cardDividerColor);

        .progress {
            width: 1.5rem;
        }
        .progress-bar {
            background-color: var(--CT_cardProgressBarBg);
        }
    }
    .stars-chart-result {
        @include font-size(.8125rem);
    }
}

.card-library {
    box-shadow: var(--CT_cardLibraryBoxShadow);

    .card-title a,
    *:not(.card-graph):not(.card-graph-title):not(.card-question-title) > .link-stretch {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: underline;
        }
    }

    .card-author {
        margin-top: -.25rem;
    }

    .card-header {
        background: transparent;
        border-bottom-width: 0;

        &:first-child {
            .link-stretch:last-child .card-title {
                margin-bottom: 0;
            }
        }
    }

    .has-favorite .card-title {
        margin-right: calc(1rem + .25rem + (.375rem + 1px) * 2);
    }
    .btn-starred {
        padding: .14125em .375em;
        @include font-size(1rem);
        line-height: 1.25;
    }

    .card-body {
        @include calc-line-height(1.375);
    }

    .card-footer {
        padding-top: 0;
        background: transparent;
        border-top-width: 0;
    }

    > .card-img {
        // Add border-radius here so that narrower images dont' get rounded, except for corner overflow
        overflow: hidden;
        @include border-radius($card-inner-border-radius);

        // Border radius resets
        &:not(:first-child) {
            @include border-top-radius(0);
        }

        &:not(:last-child) {
            @include border-bottom-radius(0);
        }
    }
}

.card-library-favorite {
    position: absolute;
    top: $card-header-padding-y * .5;
    right: $card-header-padding-x * .5;
    z-index: 1;
}

.card-library-tag {
    line-height: 1;
}

.card-library-action {
    // 1. Use flex to remove whitespace between items
    // 2. Reduce margin/spacing to pull buttons out more
    // 3. Push to right side of card
    display: flex; // 1
    align-items: flex-end;
    padding-right: .5rem; // 2
    padding-left: 0;
    margin-top: -.25rem; // 2
    margin-bottom: -.25rem; // 2
    margin-left: auto; // 3
    white-space: nowrap;

    .dropdown {
        display: inline-flex;
    }
}

.card-special {
    color: var(--CT_cardSpecialColor);
    background-color: var(--CT_cardSpecialBg);
    border-color: transparent;
    box-shadow: none;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.card-author {
    @include font-size(.875rem);
    color: var(--CT_cardLibraryAuthorColor);
}

.card-login {
    line-height: 1.25;
    color: var(--CT_cardLoginColor);
    background: var(--CT_cardLoginBg);
    border-color: transparent;

    .card-body {
        padding: .75rem 1.5rem;
    }
}
