.card-img {
    overflow: hidden;
    text-align: center;
    background: var(--CT_cardImgBg);

    img {
        max-height: 55vw;

        @include media-breakpoint-up(md) {
            max-height: 32vw;
        }

        @include media-breakpoint-up(md) {
            max-height: 23vw;
        }

        @include media-breakpoint-up(xl) {
            max-height: 17rem;
        }
    }
}

.card-login {
    color: var(--CT_cardLoginColor);
    background: var(--CT_cardLoginBg);
    border-color: transparent;

    .card-body {
        padding: .75rem 1.5rem;
    }
}
