.card-img {
    text-align: center;
    background: var(--CT_cardImgBg);

    .is-portrait {
        width: auto;
        max-width: none;
        //max-height: 100%;
        max-height: 10rem;
    }
}

.card-library {
    .card-author {
        margin-top: -.25rem;
    }

    .card-header {
        background: transparent;
        border-bottom-width: 0;

        &:first-child {
            .link-stretch:last-child .card-title {
                margin-bottom: 0;
            }
        }
    }

    .card-footer {
        padding-top: 0;
        background: transparent;
        border-top-width: 0;
    }

    > .card-img {
        // Add border-radius here so that narrower images dont' get rounded, except for corner overflow
        overflow: hidden;
        @include border-radius($card-inner-border-radius);

        // Border radius resets
        &:not(:first-child) {
            @include border-top-radius(0);
        }

        &:not(:last-child) {
            @include border-bottom-radius(0);
        }
    }
}

.card-author {
    @include font-size(.875rem);
    font-weight: $font-weight-bold;
    color: var(--CT_cardLibraryAuthorColor);
}

.card-login {
    color: var(--CT_cardLoginColor);
    background: var(--CT_cardLoginBg);
    border-color: transparent;

    .card-body {
        padding: .75rem 1.5rem;
    }
}
