.site-footer {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    border-top: 3px solid var(--CT_footerBorderColor);

    .media {
        align-items: center;
    }

    .media-img {
        width: 5rem;
        margin-right: 1rem;
    }

    .list-horizontal {
        align-items: baseline;
        //@include calc-line-height(1.25);

        &.list-divided > .list-item {
            border-color: var(--CT_footerBorderColor);
        }


        @include media-breakpoint-down(xs) {
            flex-direction: column;
            margin-bottom: 0;

            .list-item {
                padding: 0;
                margin-bottom: .5rem;
                border-width: 0;
            }
        }
    }
}

