.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    min-height: $header-height;
    background-color: var(--CT_headerOuterBg);

    @include media-breakpoint-up(md) {
        height: $header-md-height;
    }
}

html {
    scroll-padding-top: $header-height + $content-offset-top;

    @include media-breakpoint-up(md) {
        scroll-padding-top: $header-md-height + $content-offset-top;
    }
}

.site-header-navbar {
    position: relative;
    min-height: $header-navbar-height;
    padding: $header-navbar-padding;
    background: var(--CT_headerBg);
    @include border-radius($header-navbar-border-radius);

    .navbar-toggle {
        &:not(.open) {
            .not-open {
                display: none;
            }
        }

        &.open {
            .is-open {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        height: $header-md-navbar-height;

        &.navbar-expand-md .navbar-toggle {
            display: none;
        }
    }
}

.site-header-container {
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        padding-right: .75rem;
        padding-left: .75rem;
    }

}

.site-header-logo {
    display: inline-flex;
    align-items: center;
    min-height: $header-navbar-height;
    @include font-size($logo-font-size);
    line-height: 1;
    color: var(--CT_headerLogoColor);
    white-space: nowrap;
    vertical-align: middle;

    @include media-breakpoint-up(md) {
        @include font-size($logo-md-font-size);
    }
}

.icon-logo-clusive-toggle {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .75rem;
    color: var(--CT_headerLogoIconColor);
}
.icon-logo-clusive-link {
    display: flex;
    align-self: stretch;
    justify-content: center;

    > .icon-logo-clusive-toggle {
        @include hover-focus() {
            color: var(--CT_headerLogoIconHoverColor);
        }
    }
}

.site-header-nav {
    @include font-size(.875rem);
    line-height: 1.25;

    .nav-link {
        display: inline-flex;
        align-items: center;
        padding: .25rem .5rem;
        color: var(--CT_actionColor);
        background-color: var(--CT_actionBg);

        .caret {
            margin-left: .125rem;
        }

        @include hover-focus() {
            color: var(--CT_actionHoverColor);
            background-color: var(--CT_actionHoverBg);
        }

        &.current {
            position: relative;
            font-weight: 600;
            color: var(--CT_actionCurrentColor);
            background-color: var(--CT_actionCurrentBg);
            @include border-radius($border-radius);

            @include media-breakpoint-up(md) {
                @include border-radius(0);

                &::after {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    display: block;
                    height: .625rem;
                    content: "";
                    background-color: var(--CT_actionCurrentBg);
                    @include border-bottom-radius($border-radius);
                }
            }
        }

        @include media-breakpoint-up(md) {
            height: $header-md-navbar-height;
        }
    }

    @include media-breakpoint-up(md) {
        .navbar-nav {
            margin-left: auto;
        }
    }
}
