.site-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    min-height: $header-height;
    background-color: var(--CT_headerOuterBg);

    @include media-breakpoint-up(md) {
        height: $header-md-height;
    }
}

.site-header-navbar {
    position: relative;
    min-height: $header-navbar-height;
    padding: $header-navbar-padding;
    background: var(--CT_headerBg);
    @include border-radius($header-navbar-border-radius);

    .site-header-container {
        justify-content: space-between;
    }

    .navbar-toggle {
        &:not(.open) {
            .not-open {
                display: none;
            }
        }

        &.open {
            .is-open {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        height: $header-md-navbar-height;

        &.navbar-expand-md .navbar-toggle {
            display: none;
        }
    }
}

.site-header-logo {
    display: inline-flex;
    align-items: center;
    min-height: $header-navbar-height;
    @include font-size($logo-font-size);
    line-height: 1;
    color: var(--CT_headerLogoColor);
    white-space: nowrap;
    vertical-align: middle;

    .icon-logo-clusive-toggle {
        margin-right: .25rem;
        color: var(--CT_headerLogoIconColor);
    }

    @include media-breakpoint-up(md) {
        //height: $header-md-navbar-height;
        @include font-size($logo-md-font-size);
    }
}

.site-header-nav {
    @include font-size(.875rem);
    line-height: 1.25;

    .nav-link {
        display: inline-flex;
        align-items: center;
        padding: .25rem .5rem;
        color: var(--CT_actionColor);
        background-color: var(--CT_actionBg);

        .caret {
            margin-left: .125rem;
        }

        @include hover-focus() {
            color: var(--CT_actionHoverColor);
            background-color: var(--CT_actionHoverBg);
        }

        &.current {
            position: relative;
            font-weight: 600;
            color: var(--CT_actionCurrentColor);
            background-color: var(--CT_actionCurrentBg);
            @include border-radius($border-radius);

            @include media-breakpoint-up(md) {
                @include border-radius(0);

                &::after {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    display: block;
                    width: auto;
                    height: .625rem;
                    @include border-radius(0 0 $border-radius $border-radius);
                }
            }
        }

        @include media-breakpoint-up(md) {
            height: $header-md-navbar-height;
        }
    }

    @include media-breakpoint-up(md) {
        .navbar-nav {
            margin-left: auto;
        }
    }
}

/*
.site-header-large {
    padding: 1.375rem  1rem;

    .site-header-logo {
        @include font-size(1.75rem);
    }
}
*/
