.home {
    background-color: var(--CT_homeBodyBg);

    .site-header-logo {
        color: var(--CT_libraryLogoTextColor);

        .icon-logo-clusive-toggle {
            color: var(--CT_libraryLogoIconColor);
        }
    }

    .sidebar {
        background-color: transparent;
        background-image: none;

        &::before,
        &::after {
            content: none;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .content {
        padding-right: 1rem;
        padding-left: 1rem;

        @include media-breakpoint-up(sm) {
            padding-right: $sidebar-sm-width + 1rem;
            padding-left: $sidebar-sm-width + 1rem;
        }
    }
}

.home-section {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 3px solid var(--CT_homeSectionBorderColor);

    & + & {
        margin-top: -1rem;
    }
}

.login-section {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 3px solid var(--CT_loginSectionBorderColor);

    &:first-child {
        margin-top: 0;
        border-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & + & {
        margin-top: -1rem;
    }
}
