.home {
    line-height: 1.5;
    background-color: var(--CT_homeBodyBg);

    .site-header {
        position: static;
        height: auto;
        min-height: auto;
        padding: $body-padding-y $body-padding-x;
        margin-bottom: .5rem;
        background-color: var(--CT_homeHeaderOuterBg);
    }

    .site-header-navbar {
        height: auto;
        min-height: auto;
        padding-top: 1.375rem;
        padding-bottom: 1.375rem;
        background: var(--CT_homeHeaderBg);
        @include border-start-radius($border-radius);
    }

    .site-header-logo {
        @include font-size(1.75rem);
        color: var(--CT_homeLogoColor);

        .icon-logo-clusive-toggle {
            margin-right: .375rem;
            color: var(--CT_homeLogoIconColor);
        }

        @include media-breakpoint-up(md) {
            @include font-size(2.25rem);
        }
    }

    .sidebar {
        pointer-events: none;
        background-color: transparent;
        background-image: none;

        &::before,
        &::after {
            content: none;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .content {
        padding-top: 0;
        padding-right: 1rem;
        padding-left: 1rem;

        @include media-breakpoint-up(sm) {
            padding-right: $sidebar-sm-width + 1rem;
            padding-left: $sidebar-sm-width + 1rem;
        }
    }
}

.home-section {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.25;
    border-top: 3px solid var(--CT_homeSectionBorderColor);

    & + & {
        margin-top: -1rem;
    }
}

.login-section {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 3px solid var(--CT_loginSectionBorderColor);

    &:first-child {
        margin-top: 0;
        border-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & + & {
        margin-top: -1rem;
    }
}

.card-login {
    .media {
        align-items: center;

        .media-img {
            width: 2rem;
            margin-right: .75rem;
            @include font-size(2rem);
        }
        .media-body {
            font-weight: $font-weight-bold;
        }

        .icon-hand-paper-o {
            color: var(--CT_errorListBg);
        }
        .icon-universal-access {
            color: var(--CT_textMuted);
        }
        .icon-settings {
            color: var(--CT_btnSettingColor);
            text-shadow: var(--CT_btnSettingTextShadow);
        }
    }
}

.login-btn {
    display: inline-block;
    width: 191px;
    height: 46px;

    &::before {
        display: block;
        width: 191px;
        height: 46px;
        content: "";
        background-size: cover;
    }

    &:focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow-size rgba(var(--CT_focusRingRGB), $btn-focus-box-shadow-alpha);
    }
}
.login-google {
    &::before {
        background-image: url("../images/login-google.png");
    }
    &:active {
        box-shadow: none;

        &::before {
            background-image: url("../images/login-google-active.png");
        }
    }
}

.login-clever {
    &::before {
        background-image: url("../images/login-clever.png");
    }
    &:active {
        box-shadow: none;

        &::before {
            background-image: url("../images/login-clever-active.png");
        }
    }
}
