.home {
    background-color: var(--CT_homeBodyBg);

    .content {
        max-width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .site-header {
        left: 0;
        margin-right: 0;
    }

    .site-header-logo {
        color: var(--CT_libraryLogoTextColor);

        .icon-logo-clusive-toggle {
            color: var(--CT_libraryLogoIconColor);
        }
    }

    @include media-breakpoint-up(md) {
        .site-header {
            left: -5rem;
            margin-right: -5rem;
        }

        .site-header-small {
            left: -5.25rem;
            margin-right: -5.25rem;
        }
    }

    .sidebar {
        flex-basis: 3rem;
        max-width: 3rem;
        background-color: transparent;
        background-image: none;

        &::before,
        &::after {
            content: none;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

}

.home-create {
    padding-top: .5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-top: 3px solid var(--CT_homeBodyCreateBorderColor);

    @include media-breakpoint-up(sm) {
        margin-bottom: 1rem;
    }
}
