.library {
    background-color: var(--CT_libraryBodyBg);

    .site-header {
        background-color: var(--CT_libraryHeaderOuterBg);
    }

    .site-header-navbar {
        background-color: var(--CT_libraryHeaderBg);
    }

    .site-header-logo {
        color: var(--CT_libraryLogoColor);

        .icon-logo-clusive-toggle {
            color: var(--CT_libraryLogoIconColor);
        }
    }
}

.library-filter {
    display: inline-flex;
    align-items: center;
    padding: .25rem .75rem;
    margin-bottom: 1rem;
    line-height: $line-height-base;
    color: var(--CT_libraryFilterColor);
    background-color: var(--CT_libraryFilterBg);
    @include border-radius($border-radius);

    .nav-item {
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    .nav-link {
        display: inline-block;
        padding: 0;

        @include hover-focus() {
            text-decoration: underline;
        }
    }
}

.library-filter-label {
    padding-right: .125rem;
    font-weight: 600;
}


.library-filter-list {
    padding-left: 1.5rem;
    list-style: disc;

    @include media-breakpoint-up(sm) {
        display: inline-flex;
        flex-direction: row;
        @include list-unstyled();
    }
}

.library-filter-item {
    @include media-breakpoint-up(sm) {
        display: flex;

        + .library-filter-item {
            padding-left: .25rem;

            &::before {
                display: inline-block;
                padding-right: .25rem;
                color: var(--CT_libraryFilterColor);
                content: "|";
            }
        }
    }
}

.library-filter-link {
    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: .25rem;
    }

    &[href] {
        text-decoration: none;

        @include hover-focus() {
            text-decoration: underline;
        }
    }

    &.active {
        font-weight: $font-weight-bold;

        [class^="icon-"],
        [class*=" icon-"] {
            color: var(--CT_libraryFilterActiveIconColor);
            text-shadow: var(--CT_libraryFilterActiveIconTextShadow);
        }
    }
}

.library-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: .75rem;
    margin-right: ($library-grid-gutter / -2);
    margin-left: calc(#{$library-grid-gutter} / -2 + .25rem);

    > .card {
        flex-basis: auto;
        width: calc(100% - #{$library-grid-gutter});
        margin-right: 1rem;
        margin-bottom: 2.25rem;
        margin-left: 1rem;


        @include media-breakpoint-up(sm) {
            width: calc(#{percentage(1 / 2)} - #{$library-grid-gutter});
        }
        @include media-breakpoint-up(md) {
            width: calc(#{percentage(1 / 3)} - #{$library-grid-gutter});
        }
    }
}

.library-grid-options {
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

.library-list {
    padding-top: .75rem;

    > .card {
        margin-bottom: 1.5rem;
    }

    .card-col-img {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .card-img {
        flex: 1 0 auto;

        img {
            max-height: 45vw;

            @include media-breakpoint-up(sm) {
                max-height: 10vw;
            }

            @include media-breakpoint-up(md) {
                max-height: 13vw;
            }

            @include media-breakpoint-up(xl) {
                max-height: 10rem;
            }
        }
    }

    .card-body {
        padding-top: 0;
    }

    .card-toggle {
        padding-right: .25rem;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .card-toggle-btn.open {
        [class^="icon-"],
        [class*=" icon-"] {
            transform: rotate(90deg) translateY(5%);
            transform-origin: center center;
        }
    }

    .card-collapse {
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}

.library-list-options {
    @include media-breakpoint-up(md) {
        display: none;
    }
}
