.modal-header {
    color: $modal-header-color;
    background-color: $modal-header-bg;
}
.modal-footer {
    color: $modal-footer-color;
    background-color: $modal-footer-bg;
}
.modal-title {
    margin-right: 1rem;
}
