.modal-header {
    color: $modal-header-color;
    background-color: $modal-header-bg;
}
.modal-footer {
    flex-grow: 1; // Fix footer not full width when inside a form
    justify-content: flex-start;
    color: $modal-footer-color;
    background-color: $modal-footer-bg;
}
.modal-title {
    margin-right: 1rem;
}
