.popover {
    min-width: $popover-max-width;

    .close {
        position: absolute;
        top: .125rem;
        right: -.0625rem;
    }

    .drag {
        position: absolute;
        top: .125rem;
        right: 1.75rem;
        width: 2rem;

        *[aria-hidden] {
            visibility: hidden;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
            font-family: fontello;
            @include font-size(1.25rem);
            line-height: 1;
            color: inherit;
            content: "\f047";
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .dialog-tts {
        margin-top: -.125rem;
        margin-bottom: -.125rem;
    }
}

.popover-header {
    display: flex;
    //min-height: calc((#{$popover-header-font-size} * #{$line-height-base}) + (#{$popover-header-padding-y} * 2) + #{$popover-header-border-width});
    // Increase size due to TTS
    min-height: calc((#{$popover-header-font-size} * 1.75) + (#{$popover-header-padding-y} * 2) + #{$popover-header-border-width});
    padding-right: 1.75rem;

    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-bottom: 0;
        line-height: var(--CT_lineHeight);
    }

    &:empty {
        display: block;
    }
}

.draggable {
    .popover-header {
        padding-right: 3.75rem;
    }
}

.popover-body {
    p:last-child {
        margin-bottom: 0;
    }
}

.popover-footer {
    min-height: calc(#{$popover-footer-padding-y * 2} + (#{$line-height-base} * #{$popover-footer-font-size}));
    padding: $popover-footer-padding-y $popover-footer-padding-x;
    @include font-size($popover-footer-font-size);
    color: $popover-footer-color;
    background-color: $popover-footer-bg;
    border-top: $popover-footer-border-width solid $popover-footer-border-color;
    @include border-radius(0 0 $popover-inner-border-radius $popover-inner-border-radius);

    &:empty {
        display: none;
    }
}

.popover-section {
    position: relative;
    padding-top: $popover-body-padding-y;
    margin-top: $popover-body-padding-y;

    &::before {
        position: absolute;
        top: 0;
        right: -$popover-body-padding-x;
        left: -$popover-body-padding-x;
        content: "";
        border-top: $popover-section-border-width solid $popover-section-border-color;
    }
}

.popover-scrollable {
    *[role="document"] {
        display: flex;
        flex-direction: column;
        max-height: 80vh;

        @include media-breakpoint-up(sm) {
            max-height: 90vh;
        }
    }

    .popover-header,
    .popover-footer {
        flex-shrink: 0;
    }

    .popover-body {
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

.popover-glossary,
.popover-translate {
    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 7.625rem);
    }
}

.popover-comp {
    @include media-breakpoint-up(md) {
        width: $popover-comp-md-width;
        max-width: $popover-comp-md-width;
    }
    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 7.625rem);
    }
}

.popover-translate {
    .gt-icon .svg-icon-primary {
        fill: var(--CT_translateLogoColor);
    }
}
