.popover {
    min-width: $popover-max-width;

    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 7.625rem);
    }

    .close {
        position: absolute;
        top: .125rem;
        right: -.0625rem;
    }

    .drag {
        position: absolute;
        top: .125rem;
        right: 1.75rem;
        width: 2rem;

        *[aria-hidden] {
            visibility: hidden;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
            font-family: fontello;
            @include font-size(1.25rem);
            line-height: 1;
            color: inherit;
            content: "\f047";
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .dialog-tts {
        margin-top: -.125rem;
        margin-bottom: -.125rem;
    }
}

.popover-header {
    display: flex;
    //min-height: calc((#{$popover-header-font-size} * #{$line-height-base}) + (#{$popover-header-padding-y} * 2) + #{$popover-header-border-width});
    // Increase size due to TTS
    min-height: calc((#{$popover-header-font-size} * 1.75) + (#{$popover-header-padding-y} * 2) + #{$popover-header-border-width});
    padding-right: 1.75rem;

    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-bottom: 0;
        line-height: var(--CT_lineHeight);
    }

    &:empty {
        display: block;
    }
}

.draggable {
    .popover-header {
        padding-right: 3.75rem;
    }
}

.popover-body {
    p:last-child {
        margin-bottom: 0;
    }
}

.popover-footer {
    min-height: calc(#{$popover-footer-padding-y * 2} + (#{$line-height-base} * #{$popover-footer-font-size}));
    padding: $popover-footer-padding-y $popover-footer-padding-x;
    @include font-size($popover-footer-font-size);
    color: $popover-footer-color;
    background-color: $popover-footer-bg;
    border-top: $popover-footer-border-width solid $popover-footer-border-color;
    @include border-radius(0 0 $popover-inner-border-radius $popover-inner-border-radius);

    &:empty {
        display: none;
    }
}

.popover-footer-divider {
    padding-top: calc(1px + #{$popover-footer-padding-y});
    margin-top: $popover-footer-padding-y;
    margin-right: #{-$popover-footer-padding-x};
    margin-left: #{-$popover-footer-padding-x};
    line-height: 1;
    border-top: 1px solid $popover-footer-border-color;
}

.popover-section {
    position: relative;
    padding-top: $popover-body-padding-y;
    margin-top: $popover-body-padding-y;

    &::before {
        position: absolute;
        top: 0;
        right: -$popover-body-padding-x;
        left: -$popover-body-padding-x;
        content: "";
        border-top: $popover-section-border-width solid $popover-section-border-color;
    }
}

.popover-scrollable {
    *[role="document"] {
        display: flex;
        flex-direction: column;
        max-height: 80vh;

        @include media-breakpoint-up(sm) {
            max-height: 90vh;
        }
    }

    .popover-header,
    .popover-footer {
        flex-shrink: 0;
    }

    .popover-body {
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

.popover-comp {
    @include media-breakpoint-up(md) {
        width: $popover-comp-md-width;
        max-width: $popover-comp-md-width;
    }
}

.popover-translate {
    .gt-icon .svg-icon-primary {
        fill: var(--CT_translateLogoColor);
    }
}

.popover-simplify {
    @include media-breakpoint-up(md) {
        width: $popover-simplify-md-width;
        max-width: $popover-simplify-md-width;
    }

    .gt-icon .svg-icon-primary {
        fill: var(--CT_translateLogoColor);
    }
}

.nav-tabs-popover {
    flex-basis: 100%;
    flex-direction: column;
    order: 1;
    margin: .25rem 0;
    line-height: 1.25;

    .nav-link {
        padding: .125rem .25rem .125rem calc(.25rem + 2px);
        margin: 0 0 0 2px;
        @include font-size(.9375rem);
        color: var(--CT_popoverTabColor);
        text-decoration: none;
        background-color: var(--CT_popoverTabBg);
        border-left: 1px solid var(--CT_popoverTabColor);

        @include hover-focus() {
            color: var(--CT_popoverTabHoverColor);
            text-decoration: underline;
            background-color: var(--CT_popoverTabHoverBg);
            border-color: var(--CT_popoverTabHoverBorderColor);
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
        margin-left: 0;
        font-weight: $font-weight-bold;
        color: var(--CT_popoverTabActiveColor);
        text-decoration: none;
        background-color: var(--CT_popoverTabActiveBg);
        border-color: var(--CT_popoverTabActiveBorderColor);
        border-left-width: 5px;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
        margin-left: -.25rem;

        .nav-item + .nav-item::before {
            display: inline-block;
            padding-left: .125rem;
            content: "|";
            content: "|" / ""; // stylelint-disable-line declaration-block-no-duplicate-properties
        }

        .nav-link {
            display: inline-block;
            padding: 0;
            margin: 0 .125rem;
            white-space: nowrap;
            border-bottom: 5px solid var(--CT_popoverTabBorderColor);
            border-left: 0;
        }
        .nav-link.active,
        .nav-item.open .nav-link {
            margin-left: .125rem;
        }
    }
}


.popover-tour {
    background-color: var(--CT_popoverTourBg);
    border-color: var(--CT_popoverTourBorderColor);
    border-width: $popover-tour-border-width;

    @include media-breakpoint-up(md) {
        width: $popover-tour-md-width;
        max-width: $popover-tour-md-width;
    }

    .popover-header {
        background-color: var(--CT_popoverTourHeaderBg);
        border-color: var(--CT_popoverTourHeaderBorderColor);
        @include border-radius($popover-tour-inner-border-radius $popover-tour-inner-border-radius 0 0);
    }
    .popover-footer {
        background-color: var(--CT_popoverTourFooterBg);
        border-color: var(--CT_popoverTourFooterBorderColor);
        @include border-radius(0 0 $popover-tour-inner-border-radius $popover-tour-inner-border-radius);
    }

    @if $enable-popover-arrow {
        .popover-arrow {
            position: absolute;
            display: block;
            width: $popover-tour-arrow-width;
            height: $popover-tour-arrow-height;
            margin: 0 $popover-tour-border-radius;

            &::before,
            &::after {
                position: absolute;
                display: block;
                content: "";
                border-color: transparent;
                border-style: solid;
            }
        }

        // Offset the popover to account for the popover arrow

        /* rtl:begin:ignore */
        &[x-placement^="top"] {
            margin-bottom: add($popover-tour-arrow-height, $popover-margin);

            > .popover-arrow {
                bottom: subtract(-$popover-tour-arrow-height, $popover-tour-border-width);

                &::before {
                    bottom: 0;
                    border-width: $popover-tour-arrow-height ($popover-tour-arrow-width * .5) 0;
                    border-top-color: $popover-tour-arrow-outer-color;
                }

                &::after {
                    bottom: $popover-tour-border-width;
                    border-width: $popover-tour-arrow-height ($popover-tour-arrow-width * .5) 0;
                    border-top-color: $popover-tour-arrow-color;
                }
            }
        }

        &[x-placement^="right"] {
            margin-left: add($popover-tour-arrow-height, $popover-margin);

            > .popover-arrow {
                left: subtract(-$popover-tour-arrow-height, $popover-tour-border-width);
                width: $popover-tour-arrow-height;
                height: $popover-tour-arrow-width;
                margin: $popover-border-radius 0; // make sure the arrow does not touch the popover's rounded corners

                &::before {
                    left: 0;
                    border-width: ($popover-tour-arrow-width * .5) $popover-tour-arrow-height ($popover-tour-arrow-width * .5) 0;
                    border-right-color: $popover-tour-arrow-outer-color;
                }

                &::after {
                    left: $popover-tour-border-width;
                    border-width: ($popover-tour-arrow-width * .5) $popover-tour-arrow-height ($popover-tour-arrow-width * .5) 0;
                    border-right-color: $popover-tour-arrow-color;
                }
            }
        }

        &[x-placement^="bottom"] {
            margin-top: add($popover-tour-arrow-height, $popover-margin);

            > .popover-arrow {
                top: subtract(-$popover-tour-arrow-height, $popover-tour-border-width);

                &::before {
                    top: 0;
                    border-width: 0 ($popover-tour-arrow-width * .5) $popover-tour-arrow-height ($popover-tour-arrow-width * .5);
                    border-bottom-color: $popover-tour-arrow-outer-color;
                }

                &::after {
                    top: $popover-tour-border-width;
                    border-width: 0 ($popover-tour-arrow-width * .5) $popover-tour-arrow-height ($popover-tour-arrow-width * .5);
                    border-bottom-color: $popover-tour-arrow-color;
                }
            }
        }

        &[x-placement^="left"] {
            margin-right: add($popover-tour-arrow-height, $popover-margin);

            > .popover-arrow {
                right: subtract(-$popover-tour-arrow-height, $popover-tour-border-width);
                width: $popover-tour-arrow-height;
                height: $popover-tour-arrow-width;
                margin: $popover-border-radius 0; // make sure the arrow does not touch the popover's rounded corners

                &::before {
                    right: 0;
                    border-width: ($popover-tour-arrow-width * .5) 0 ($popover-tour-arrow-width * .5) $popover-tour-arrow-height;
                    border-left-color: $popover-tour-arrow-outer-color;
                }

                &::after {
                    right: $popover-tour-border-width;
                    border-width: ($popover-tour-arrow-width * .5) 0 ($popover-tour-arrow-width * .5) $popover-tour-arrow-height;
                    border-left-color: $popover-tour-arrow-color;
                }
            }
        }

        /* rtl:end:ignore */
    }
}
