.sidebars-wrapper {
    position: fixed;
    top: $header-height;
    left: 50%;
    width: 100%;
    max-width: map-get($container-max-widths, xl);
    height: 0;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
        top: $header-md-height;
        padding: 0 $body-padding-x;
    }
}

.sidebars {
    display: flex;
    justify-content: space-between;
    height: 0;
}

.sidebar {
    position: relative;
    display: flex;
    flex: 0 0 $sidebar-width;
    height: calc(100vh - #{$header-height + $body-padding-y});
    pointer-events: none;

    > * {
        pointer-events: auto;
    }

    @include media-breakpoint-up(md) {
        flex-basis: $sidebar-md-width;
        height: calc(100vh - #{$header-md-height + $body-padding-y});
    }
}

.sidebar-start {
    margin-right: $sidebar-gutter;

    @include media-breakpoint-up(md) {
        margin-right: $sidebar-md-gutter;
    }
}
.sidebar-end {
    margin-left: $sidebar-gutter;

    @include media-breakpoint-up(md) {
        margin-left: $sidebar-md-gutter;
    }

}

.sidebars-bg {
    .sidebar-start {
        background: var(--CT_sidebarStartBg);
        @include border-radius($sidebar-border-radius);
    }
    .sidebar-end {
        background: var(--CT_sidebarEndBg);
        @include border-radius($sidebar-border-radius);
    }

    @include media-breakpoint-up(xl) {
        .sidebar-start,
        .sidebar-end {
            background: none;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                display: block;
                width: $sidebar-xl-width;
                min-width: $sidebar-md-width;
                max-width: $sidebar-xl-width;
                content: "";
            }
        }

        .sidebar-start::after {
            background: var(--CT_sidebarStartBg);
            @include border-radius($sidebar-border-radius);
        }
        .sidebar-end::after {
            right: auto;
            left: 0;
            background: var(--CT_sidebarEndBg);
            @include border-radius($sidebar-border-radius);
        }
    }
}

.sidebars-top .sidebar {
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem; // Until .sidebars-bottom is added
}
.sidebars-bottom .sidebar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: .75rem;
}


.sidebar-divider-wrapper {
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.sidebar-divider {
    position: absolute;
    right: 0;
    left: 0;
    line-height: 1;
    border-top: 2px solid var(--CT_sidebarStartDividerColor);

    @include media-breakpoint-up(xl) {
        left: -33vw;
    }

    .sidebar-end & {
        border-color: var(--CT_sidebarEndDividerColor);

        @include media-breakpoint-up(xl) {
            right: -33vw;
            left: 0;
        }
    }
}
.sidebar-divider-small {
    width: 100%;

    .sidebar-divider {
        position: relative;
        left: 0;
    }
}

.sidebar-region {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.sidebar-tts) .btn + .btn {
        margin-top: .75rem;
    }
}

.sidebar-support {
    margin-top: auto;

    .btn-starred {
        width: 2.25rem;
        height: 2.25rem;
        padding: 0;
        @include border-radius(2.25rem);
    }

    .btn + .btn-starred {
        margin-top: .25rem;
    }
}

.sidebar-tts {
    width: 2.5rem;
    margin-top: .75rem;
    @include border-radius(2.5rem);

    .btn {
        @include border-radius(10rem);
    }

    .tts-stop {
        margin-top: .25rem;
    }

    &.active {
        background-color: var(--CT_ttsActiveBg);

        .tts-inactive {
            display: none;
        }
    }
    &:not(.active) {
        .tts-active {
            display: none;
        }
    }

    &.paused {
        .tts-pause {
            display: none;
        }
    }
    &:not(.paused) {
        .tts-resume {
            display: none;
        }
    }
}

.sidebar-no-start {
    .sidebar-start {
        visibility: hidden;
    }
    .content {
        margin-left: $body-padding-x;
    }
    &.home {
        .content {
            margin-left: 0;

            @include media-breakpoint-up(md) {
                margin-left: $body-padding-x;
            }
        }
    }
}

.sidebar-no-end {
    .sidebar-end {
        visibility: hidden;
    }
    .content {
        margin-right: $body-padding-x;
    }
    &.home {
        .content {
            margin-right: 0;

            @include media-breakpoint-up(md) {
                margin-right: $body-padding-x;
            }
        }
    }
}
