.sidebars-wrapper {
    position: fixed;
    top: $header-height;
    left: 50%;
    width: 100%;
    max-width: 100%;
    height: 0;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
        top: $header-md-height;
        width: calc(100% - #{($body-padding-x * 2)});
        max-width: calc(100% - #{($body-padding-x * 2)});
    }

    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths, xl);
    }
}

.sidebars {
    display: flex;
    justify-content: space-between;
    height: 0;
}

.sidebar {
    position: relative;
    display: flex;
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;
    max-width: $sidebar-width;
    height: calc(100vh - #{$header-height + $body-padding-y});
    padding: $sidebar-padding;
    background: var(--CT_sidebarStartBg);
    @include border-radius($sidebar-border-radius);

    @include media-breakpoint-up(sm) {
        flex-basis: $sidebar-sm-width;
        width: $sidebar-sm-width;
        max-width: $sidebar-sm-width;
        padding: $sidebar-sm-padding;
    }

    @include media-breakpoint-up(md) {
        height: calc(100vh - #{$header-md-height + $body-padding-y});
    }

    @include media-breakpoint-up(xl) {
        background: none;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            width: $sidebar-xl-width;
            min-width: $sidebar-sm-width;
            max-width: $sidebar-xl-width;
            content: "";
            background: var(--CT_sidebarStartBg);
            @include border-radius($sidebar-border-radius);
        }
    }

    .btn-glossary {
        position: absolute;
        top: 50%;
        right: -2.125rem;
        font-weight: $font-weight-bold;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: top center;
    }
}

.sidebar-start {
    flex-direction: column;
    margin-right: 1rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        line-height: 1;
        @include font-size(1.5rem); // 1.75 seems too big here
        @include border-radius(10rem);
    }

    .btn + .btn {
        margin-top: .75rem;
    }
}

.sidebar-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: auto;

    .btn {
        @include border-radius(10rem);
    }
}

.sidebar-end {
    flex-direction: column;
    order: 1;
    margin-left: 1rem;
    background: var(--CT_sidebarEndBg);

    @include media-breakpoint-up(xl) {
        background: none;

        &::after {
            right: auto;
            left: 0;
            background: var(--CT_sidebarEndBg);
        }
    }
}

.sidebar-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        line-height: 1;
        @include font-size(1.75rem);
        @include border-radius(10rem);
    }

    .btn + .btn {
        margin-top: .75rem;
    }
}
