$utility-bg-colors: map-remove($utility-bg-colors, "secondary", "info", "success", "warning", "danger", "light", "dark");

$usbp: map-remove($grid-breakpoints, "xl");
$utility-spacing-breakpoints: map-keys($usbp);
$spacers-margin: map-remove($spacers, "2");

$level-btn: (
    "bg":                   500,
    "color":                -1,
    "border-color":         500,
    "hover-bg":             600,
    "hover-color":          -1,
    "hover-border-color":   600,
    "active-bg":            700,
    "active-color":         -1,
    "active-border-color":  700
);
$btn-levels: $level-btn;
$btn-colors: ();
$btn-themes: map-merge(
    $btn-themes,
    (
        "primary":
        (
            "base": var(--CT_btnPrimaryFocusRingRGB),
            "bg": var(--CT_btnPrimaryBg),
            "color": var(--CT_btnPrimaryColor),
            "border-color": var(--CT_btnPrimaryBorderColor),
            "hover-bg": var(--CT_btnPrimaryHoverBg),
            "hover-color": var(--CT_btnPrimaryHoverColor),
            "hover-border-color": var(--CT_btnPrimaryHoverBorderColor),
            "active-bg": var(--CT_btnPrimaryActiveBg),
            "active-color": var(--CT_btnPrimaryActiveColor),
            "active-border-color": var(--CT_btnPrimaryActiveBorderColor)
        ),
        "secondary":
        (
            "base": var(--CT_btnSecondaryFocusRingRGB),
            "bg": var(--CT_btnSecondaryBg),
            "color": var(--CT_btnSecondaryColor),
            "border-color": var(--CT_btnSecondaryBorderColor),
            "hover-bg": var(--CT_btnSecondaryHoverBg),
            "hover-color": var(--CT_btnSecondaryHoverColor),
            "hover-border-color": var(--CT_btnSecondaryHoverBorderColor),
            "active-bg": var(--CT_btnSecondaryActiveBg),
            "active-color": var(--CT_btnSecondaryActiveColor),
            "active-border-color": var(--CT_btnSecondaryActiveBorderColor)
        ),
        "nav":
        (
            "base": var(--CT_btnNavFocusRingRGB),
            "bg": var(--CT_btnNavBg),
            "color": var(--CT_btnNavColor),
            "border-color": var(--CT_btnNavBorderColor),
            "hover-bg": var(--CT_btnNavHoverBg),
            "hover-color": var(--CT_btnNavHoverColor),
            "hover-border-color": var(--CT_btnNavHoverBorderColor),
            "active-bg": var(--CT_btnNavActiveBg),
            "active-color": var(--CT_btnNavActiveColor),
            "active-border-color": var(--CT_btnNavActiveBorderColor),
            "disabled-bg": var(--CT_btnNavDisabledBg),
            "disabled-color":var(--CT_btnNavDisabledColor),
            "disabled-border":var(--CT_btnNavDisabledBorderColor)
        ),
        "setting":
        (
            "base": var(--CT_btnSettingFocusRingRGB),
            "bg": var(--CT_btnSettingBg),
            "color": var(--CT_btnSettingColor),
            "border-color": var(--CT_btnSettingBorderColor),
            "hover-bg": var(--CT_btnSettingHoverBg),
            "hover-color": var(--CT_btnSettingHoverColor),
            "hover-border-color": var(--CT_btnSettingHoverBorderColor),
            "active-bg": var(--CT_btnSettingActiveBg),
            "active-color": var(--CT_btnSettingActiveColor),
            "active-border-color": var(--CT_btnSettingActiveBorderColor)
        ),
        "tool":
        (
            "base": var(--CT_btnToolFocusRingRGB),
            "bg": var(--CT_btnToolBg),
            "color": var(--CT_btnToolColor),
            "border-color": var(--CT_btnToolBorderColor),
            "hover-bg": var(--CT_btnToolHoverBg),
            "hover-color": var(--CT_btnToolHoverColor),
            "hover-border-color": var(--CT_btnToolHoverBorderColor),
            "active-bg": var(--CT_btnToolActiveBg),
            "active-color": var(--CT_btnToolActiveColor),
            "active-border-color": var(--CT_btnToolActiveBorderColor)
        ),
        "tts":
        (
            "base": var(--CT_btnTtsFocusRingRGB),
            "bg": var(--CT_btnTtsBg),
            "color": var(--CT_btnTtsColor),
            "border-color": var(--CT_btnTtsBorderColor),
            "hover-bg": var(--CT_btnTtsHoverBg),
            "hover-color": var(--CT_btnTtsHoverColor),
            "hover-border-color": var(--CT_btnTtsHoverBorderColor),
            "active-bg": var(--CT_btnTtsActiveBg),
            "active-color": var(--CT_btnTtsActiveColor),
            "active-border-color": var(--CT_btnTtsActiveBorderColor)
        ),
        "option":
        (
            "base": var(--CT_btnOptionFocusRingRGB),
            "bg": var(--CT_btnOptionBg),
            "color": var(--CT_btnOptionColor),
            "border-color": var(--CT_btnOptionBorderColor),
            "hover-bg": var(--CT_btnOptionHoverBg),
            "hover-color": var(--CT_btnOptionHoverColor),
            "hover-border-color": var(--CT_btnOptionHoverBorderColor),
            "active-bg": var(--CT_btnOptionActiveBg),
            "active-color": var(--CT_btnOptionActiveColor),
            "active-border-color": var(--CT_btnOptionActiveBorderColor)
        ),
        "flag":
        (
            "base": var(--CT_btnFlagFocusRingRGB),
            "bg": var(--CT_btnFlagBg),
            "color": var(--CT_btnFlagColor),
            "border-color": var(--CT_btnFlagBorderColor),
            "hover-bg": var(--CT_btnFlagHoverBg),
            "hover-color": var(--CT_btnFlagHoverColor),
            "hover-border-color": var(--CT_btnFlagHoverBorderColor),
            "active-bg": var(--CT_btnFlagActiveBg),
            "active-color": var(--CT_btnFlagActiveColor),
            "active-border-color": var(--CT_btnFlagActiveBorderColor)
        ),
        "tag":
        (
            "base": var(--CT_btnTagFocusRingRGB),
            "bg": var(--CT_btnTagBg),
            "color": var(--CT_btnTagColor),
            "border-color": var(--CT_btnTagBorderColor),
            "hover-bg": var(--CT_btnTagHoverBg),
            "hover-color": var(--CT_btnTagHoverColor),
            "hover-border-color": var(--CT_btnTagHoverBorderColor),
            "active-bg": var(--CT_btnTagActiveBg),
            "active-color": var(--CT_btnTagActiveColor),
            "active-border-color": var(--CT_btnTagActiveBorderColor)
        ),
        "favorite":
        (
            "base": var(--CT_btnFavoriteFocusRingRGB),
            "bg": var(--CT_btnFavoriteBg),
            "color": var(--CT_btnFavoriteColor),
            "border-color": var(--CT_btnFavoriteBorderColor),
            "hover-bg": var(--CT_btnFavoriteHoverBg),
            "hover-color": var(--CT_btnFavoriteHoverColor),
            "hover-border-color": var(--CT_btnFavoriteHoverBorderColor),
            "active-bg": var(--CT_btnFavoriteActiveBg),
            "active-color": var(--CT_btnFavoriteActiveColor),
            "active-border-color": var(--CT_btnFavoriteActiveBorderColor)
        ),
        "react":
        (
            "base": var(--CT_btnReactFocusRingRGB),
            "bg": var(--CT_btnReactBg),
            "color": var(--CT_btnReactColor),
            "border-color": var(--CT_btnReactBorderColor),
            "hover-bg": var(--CT_btnReactHoverBg),
            "hover-color": var(--CT_btnReactHoverColor),
            "hover-border-color": var(--CT_btnReactHoverBorderColor),
            "active-bg": var(--CT_btnReactActiveBg),
            "active-color": var(--CT_btnReactActiveColor),
            "active-border-color": var(--CT_btnReactActiveBorderColor)
        ),
        "starred":
        (
            "base": var(--CT_btnStarredFocusRingRGB),
            "bg": var(--CT_btnStarredBg),
            "color": var(--CT_btnStarredColor),
            "border-color": var(--CT_btnStarredBorderColor),
            "hover-bg": var(--CT_btnStarredHoverBg),
            "hover-color": var(--CT_btnStarredHoverColor),
            "hover-border-color": var(--CT_btnStarredHoverBorderColor),
            "active-bg": var(--CT_btnStarredActiveBg),
            "active-color": var(--CT_btnStarredActiveColor),
            "active-border-color": var(--CT_btnStarredActiveBorderColor)
        ),
        "default":
        (
            "base": #636b82,
            "bg": $white !important,
            "color": #111,
            "border-color": transparent,
            "hover-bg": $white !important,
            "hover-color": #111,
            "hover-border-color": #636b82,
            "active-bg": $white !important,
            "active-color": #111,
            "active-border-color": transparent
        ),
        "night":
        (
            "base": #40998b,
            "bg": #000 !important,
            "color": #fefefe,
            "border-color": #7e8aad,
            "hover-bg": #000 !important,
            "hover-color": #fefefe,
            "hover-border-color": #40998b,
            "active-bg": #000 !important,
            "active-color": #fefefe,
            "active-border-color": #7e8aad
        ),
        "sepia":
        (
            "base": #40998b,
            "bg": #faf4e8 !important,
            "color": #121212,
            "border-color": #636b82,
            "hover-bg": #faf4e8 !important,
            "hover-color": #121212,
            "hover-border-color": #40998b,
            "active-bg": #faf4e8 !important,
            "active-color": #121212,
            "active-border-color": #636b82
        )
    )
);

$btn-sizes: (
    "xsmall": (
        "padding-y":     null,
        "padding-x":     null,
        "font-size":     ($font-size-base * .75),
        "line-height":   null,
        "border-radius": $border-radius
    ),
    "small": (
        "padding-y":     null,
        "padding-x":     null,
        "font-size":     ($font-size-base * .875),
        "line-height":   null,
        "border-radius": $border-radius
    ),
    "splash": (
        "padding-y":     null,
        "padding-x":     null,
        "font-size":     ($font-size-base * 1.125),
        "line-height":   null,
        "border-radius": $border-radius
    )
);
