// Opaque color
// color-get-opaque(rgba(0, 0, 0, .5), #fff) => #808080
@function color-get-opaque($colorfore, $colorback) {
    @return mix(rgba($colorfore, 1), $colorback, opacity($colorfore) * 100);
}

@import "popover";
@import "modal";
@import "card";
@import "button";
@import "figure";
@import "skiplink";
@import "header";
@import "footer";
@import "content";
@import "sidebar";
@import "home";
@import "library";
@import "ranking";
@import "setting";
@import "toc";
@import "goal";
@import "why";
@import "image-description";
@import "wordbank";
@import "tts";
@import "context";
