// stylelint-disable declaration-no-important, selector-max-id

.skiplink {
    position: absolute !important;
    top: $skiplink-offset-top;
    left: 50%;
    z-index: $zindex-fixed + 5;
    padding: $skiplink-padding;
    color: var(--CT_skiplinkColor);
    text-align: center;
    text-decoration: underline;
    background-color: var(--CT_skiplinkBg);
    border: $skiplink-border-width solid var(--CT_skiplinkBorderColor);
    outline: 0;
    transform: translateX(-50%);

    &:hover {
        color: var(--CT_skiplinkColor);
    }
}

#content {
    outline: 0;
}
