.table {
    // stylelint-disable-next-line selector-max-universal
    thead > * > * {
        @include font-size(.875rem);
        font-weight: $font-weight-normal;
    }
}

.table-roster {
    white-space: nowrap;
}
