.toc-modal {
    // placeholder
}

.nav-tabs-toc {
    margin-bottom: calc(-.5rem - 1px);
    border-color: var(--CT_modalHeaderBorderColor);

    .nav-link {
        color: var(-CT_linkColor);

        @include hover-focus() {
            color: var(--CT_linkHoverColor);
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
        font-weight: $font-weight-bold;
        background-color: var(--CT_modalContentBg);
        border-color: var(--CT_modalHeaderBorderColor);
        border-bottom-color: transparent;
    }
}

.media-toc {
    .media-img {
        max-width: 64px;
        margin-right: .75rem;
    }
    .media-title {
        margin-bottom: 0;
    }
}


.nav-toc {
    .nav {
        margin-left: 1rem;
    }
    .nav-item {
        position: relative;
    }
    .nav-link {
        padding: .125rem .5rem;
    }

    .has-children {
        position: absolute;
        top: 0;
        left: -1.25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        @include font-size(1.25rem);

        > [class*="icon-"] {
            line-height: 1;

            &::before {
                font-weight: 700;
            }
        }

        &.open > [class*="icon-"]::before {
            content: "\f107";
        }
    }
}

.nav-toc-header {
    margin-bottom: .125rem;
    @include font-size(1.125rem);
    font-weight: 600;
}
