.toc-modal {
    background-color: transparent !important;   // stylelint-disable-line declaration-no-important

    .modal-dialog {
        @include media-breakpoint-up(#{$modal-breakpoint}) {
            max-width: $toc-modal-dialoag-max-width;
        }
    }

    .modal-content {
        color: var(--CT_tocModalContentColor);
        background-color: var(--CT_tocModalContentBg);
        border-color: var(--CT_tocModalContentBorderColor);
    }
    .modal-header {
        color: var(--CT_tocModalHeaderColor);
        background-color: var(--CT_tocModalHeaderBg);
        border-bottom: $toc-modal-header-border-width solid var(--CT_tocModalHeaderBorderColor);
    }
    .modal-body {
        padding-bottom: 2rem;
        overflow-y: scroll;
    }
}

.nav-tabs-toc {
    margin: .5rem 0 .25rem -.5rem;

    .nav-link {
        padding: 0 .125rem;
        margin: 0 .5rem;
        color: var(--CT_tocTabColor);
        text-decoration: none;
        background-color: var(--CT_tocTabBg);
        border-bottom: 7px solid var(--CT_tocTabBorderColor);

        @include hover-focus() {
            color: var(--CT_tocTabHoverColor);
            text-decoration: underline;
            background-color: var(--CT_tocTabHoverBg);
            border-color: var(--CT_tocTabHoverBorderColor);
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
        font-weight: $font-weight-bold;
        color: var(--CT_tocTabActiveColor);
        text-decoration: none;
        background-color: var(--CT_tocTabActiveBg);
        border-color: var(--CT_tocTabActiveBorderColor);
    }
}

.media-toc {
    .media-img {
        width: 64px;
        margin-right: .75rem;

        img {
            width: 100%;
        }
    }
    .media-title {
        margin-bottom: 0;
    }
}


.nav-toc {
    margin-right: -$modal-body-padding-x;
    margin-left: -$modal-body-padding-x;

    .nav-item {
        position: relative;
    }
    .nav-link {
        padding: .5rem 1.75em .5rem 2.75rem;
        color: var(--CT_tocLinkColor);
        text-decoration: none;
        background-color: var(--CT_tocLinkBg);
        border-bottom: 1px solid var(--CT_tocLinkBorderColor);

        @include hover-focus() {
            color: var(--CT_tocLinkHoverColor);
            text-decoration: underline;
            background-color: var(--CT_tocLinkHoverBg);
            border-color: var(--CT_tocLinkHoverBorderColor);
        }
    }

    .has-children {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1; // Bring above text link
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: calc(1.5em + (.5rem * 2));
        height: calc(1.5em + (.5rem * 2));  // Height align with single-line of text
        color: var(--CT_tocCaretColor);
        background-color: var(--CT_tocCaretBg);

        @include hover-focus() {
            color: var(--CT_tocCaretHoverColor);
            background-color: var(--CT_tocCaretHoverBg);
        }

        > [class*="icon-"] {
            @include font-size(1.25em);
            line-height: 1;

            &::before {
                font-weight: 700;
            }
        }

        &.open > [class*="icon-"]::before {
            content: "\f107";
        }
    }

    .active::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 5px;
        content: "";
        background-color: var(--CT_tocActiveBg);
    }
}

.toc-depth-0 {
    @include font-size(1rem);
    font-weight: 700;

    &.nav-link {
        padding-left: .75rem;
        color: var(--CT_tocLinkColorD0);
        background-color: var(--CT_tocLinkBgD0);
    }
    &.has-children {
        color: var(--CT_tocCaretColorD0);
        background-color: var(--CT_tocCaretBgD0);
    }
}
.toc-depth-1 {
    @include font-size(1rem);
    font-weight: 700;

    &.nav-link {
        padding-left: 1.75rem;
        color: var(--CT_tocLinkColorD1);
        background-color: var(--CT_tocLinkBgD1);
    }
    &.has-children {
        color: var(--CT_tocCaretColorD1);
        background-color: var(--CT_tocCaretBgD1);
    }
}
.toc-depth-2 {
    &.nav-link {
        color: var(--CT_tocLinkColorD2);
        background-color: var(--CT_tocLinkBgD2);
    }
    &.has-children {
        color: var(--CT_tocCaretColorD2);
        background-color: var(--CT_tocCaretBgD2);
    }
}


.nav-toc-header {
    margin-bottom: .125rem;
    @include font-size(1.125rem);
    font-weight: 600;
}

.nav-highlight {
    margin: -.75rem;
}

.list-highlight {
    > .list-item {
        position: relative;
        padding: 1rem;
        border-color: var(--CT_tocLinkBorderColor);

        & > *:last-child() {
            margin-bottom: 0;
        }

        &.active::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 5px;
            content: "";
            background-color: var(--CT_tocActiveBg);
        }
    }
}

.list.list-highlight-action {
    //margin-top: -.5rem;
    margin-left: 0;
    @include font-size(.875rem);
}

.highlight {
    color: var(--CT_highlightColor);
    background-color: var(--CT_highlightBg);

    &[href] {
        text-decoration: none;

        @include hover-focus() {
            color: var(--CT_highlightHoverColor);
            text-decoration: none;
            background-color: var(--CT_highlightHoverBg);
        }
    }
}
.highlight-undelete {
    padding: 0 .5rem;
    @include font-size(.875rem);
    background-color: var(--CT_highlightUndeleteBg);
}

.note {
    margin-top: .75rem;
    margin-left: 1.25rem;
}
.note-title {
    @include font-size(.875rem);
    font-weight: 600;
    color: var(--CT_noteTitleColor);

    [class^="icon-"],
    [class*=" icon-"] {
        margin-right: .25rem;
    }
}
.list.list-note-action {
    margin-top: -.5rem;
    margin-left: 0;
    @include font-size(.875rem);
}
.note-undelete {
    padding: 0 .5rem;
    @include font-size(.875rem);
    background-color: var(--CT_noteUndeleteBg);
}

.toc-empty {
    padding: $modal-body-padding-y $modal-body-padding-x;
    margin-right: -$modal-body-padding-x;
    margin-left: -$modal-body-padding-x;
    border-top: 1px solid var(--CT_tocLinkBorderColor);
}

.toc-empty-text {
    font-style: italic;
    color: var(--CT_textMuted);
}
