.toc-modal {
    .modal-body {
        padding-bottom: 2rem;
        overflow-y: scroll;
    }
}

.nav-tabs-toc {
    margin-bottom: calc(-.5rem - 1px);
    border-color: var(--CT_popoverHeaderBorderColor);

    .nav-link {
        color: var(-CT_linkColor);

        @include hover-focus() {
            color: var(--CT_linkHoverColor);
        }
    }

    .nav-link.active,
    .nav-item.open .nav-link {
        font-weight: $font-weight-bold;
        background-color: var(--CT_popoverBg);
        border-color: var(--CT_popoverHeaderBorderColor);
        border-bottom-color: transparent;
    }
}

.media-toc {
    .media-img {
        max-width: 64px;
        margin-right: .75rem;
    }
    .media-title {
        margin-bottom: 0;
    }
}


.nav-toc {
    margin-right: -.75rem;
    margin-left: -.75rem;

    .nav .nav {
        background-color: rgba(var(--CT_figureCaptionBgRGB), .4);
    }

    .nav-item {
        position: relative;
    }
    .nav-link {
        padding: .25rem 1.75em .25rem 2.75rem;
        text-decoration: none;
        border-bottom: 1px solid var(--CT_popoverSectionBorderColor);

        @include hover-focus() {
            text-decoration: underline;
        }
    }

    .has-children {
        position: absolute;
        top: .125rem;
        left: calc(100% - 1.75em);
        z-index: 1; // Bring above text link
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        height: calc(1.5em + .25rem);   // Height align with single-line of text

        > [class*="icon-"] {
            @include font-size(1.25em);
            line-height: 1;

            &::before {
                font-weight: 700;
            }
        }

        &.open > [class*="icon-"]::before {
            content: "\f107";
        }
    }
}

.toc-depth-0 {
    @include font-size(1.125rem);
    font-weight: 700;

    &.nav-link {
        padding-left: .75rem;
    }
}
.toc-depth-1 {
    @include font-size(1rem);
    font-weight: 700;

    &.nav-link {
        padding-left: 1.75rem;
    }
}

.nav-toc-header {
    margin-bottom: .125rem;
    @include font-size(1.125rem);
    font-weight: 600;
}
