.why-modal {
    .modal-title {
        font-family: $why-modal-title-font-family;
        @include font-size($why-modal-title-font-size);
        font-style: $why-modal-title-font-style;
        font-weight: $why-modal-title-font-weight;
        color: var(--CT_whyModalTitleColor);
    }

    .modal-footer {
        display: block;
        @include font-size($why-modal-footer-font-size);
    }
}

.why-icon {
    @include font-size(5rem);
    line-height: 1;
    color: var(--CT_whyIconColor);

    &.active {
        color: var(--CT_whyIconActiveColor);
        text-shadow: .0625rem .0625rem .125rem rgba(var(--CT_whyIconActiveTextShadowColorRGB), var(--CT_whyIconActiveTextShadowOpacity));
    }
}

.why-level {
    margin: 0 0 1rem;
}
.why-level-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .why-icon {
        padding-bottom: .125rem;
    }

    @include media-breakpoint-down(sm) {
        & + & {
            margin-top: 1rem;
        }
    }

    &.disabled {
        .why-icon {
            opacity: .5;
        }

        .btn.disabled,
        .btn:disabled {
            opacity: .45;

        }
    }
}

.switch-modal {
    .modal-dialog {
        @include media-breakpoint-up(md) {
            max-width: 40rem;
        }
    }
    .modal-title {
        position: relative;
        padding-right: 3.25rem;

        &::after {
            position: absolute;
            right: 0;
            bottom: -$modal-header-padding-y;
            display: block;
            width: 2.25rem;
            height: 2.25rem * .95614;
            content: "";
            background-image: var(--CT_imgMascot);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .modal-body {
        padding-top: .75rem;
    }
    .modal-footer {
        display: block;
        min-height: calc(#{$why-modal-footer-font-size} + #{$modal-footer-padding-y * 2});
        @include font-size($why-modal-footer-font-size);
    }

    ul {
        padding-left: 0;
        margin-left: 1.25rem;

        li{
            @include calc-line-height(1.375);
        }
    }
}

.switch-row {
    margin: 0 0 .5rem;
    border: 1px solid var(--CT_switchColBorderColor);
}
.switch-col {
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:not(:first-child) {
        border-top: 1px solid var(--CT_switchColBorderColor);

        @include media-breakpoint-up(md) {
            border-top: 0;
            border-left: 1px solid var(--CT_switchColBorderColor);
        }
    }

    &.active {
        font-weight: $font-weight-bold;
        background-color: var(--CT_switchColBg);
    }
}

.switch-select {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;

    @include media-breakpoint-only(sm) {
        margin-bottom: 0;
    }
}

.switch-icon {
    @include img-fluid();
    height: 4rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.switch-icon-active {
    display: none;
}
.link-stretch {
    @include hover-focus() {
        ~ .switch-icon-default {
            display: none;
        }
        ~ .switch-icon-active {
            display: inline-block;
        }
    }
}
.active {
    .switch-icon-default {
        display: none !important; // stylelint-disable-line declaration-no-important
    }
    .switch-icon-active {
        display: inline-block !important; // stylelint-disable-line declaration-no-important
    }
}

.switch-meta {
    position: relative;
    padding-left: 1.25rem;

    &::before {
        position: absolute;
        top: .3125em;
        left: 0;
        display: block;
        // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
        font-family: fontello;
        @include font-size(1rem);
        line-height: 1;
        color: inherit;
        content: "\e820";
    }

    &.none {
        color: var(--CT_switchMetaNoneColor);
    }
}
