@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section{
	page-break-after: always;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p.right span:first-child{
	text-align: right;
}

[epub|type~="z3998:poem"] p.center span:first-child{
	text-align: center;
}

#the-pasture p,
#good-hours p{
	font-style: italic;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}
