name: Publish Docker image

on:
  push:
    branches:
      - master
      - development

jobs:

  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and push
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PW }}
          repository: castudl/clusive
          add_git_labels: true
          tag_with_ref: true
          tags: ${{ github.sha }}
      - name: Update QA
        uses: distributhor/workflow-webhook@v1
        env:
          webhook_url: ${{ secrets.PORTAINER_WEBHOOK_URL }}?tag=${{ github.sha }}
          webhook_secret: not-used
      - name: Slack Notification
        uses: tokorom/action-slack-incoming-webhook@v1.1.0
        env:
          INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          text: New build deployed to https://clusive.qa.cast.org
